<footer>
    <div class="c-main-footer u-padding-top-huge u-padding-bottom">
        <div class="o-wrapper">
            <div class="c-main-footer__wrap">
                <div class="c-main-footer__col">
                    <div class="u-margin-bottom">{{> svg-logo }}</div>
                    <p class="u-text-small">Nuestra constante innovación y nuestro afán de mejora nos ha llevado a ser una empresa puntera en la fabricación de Poliestireno en Mallorca y a desarrollar nuevos productos para dar respuesta, no solo al sector de la construcción en Mallorca, también al sector del ocio, como la náutica, o al mundo del arte.</p>
                </div>
                <div class="c-main-footer__col">
                    <div class="c-h6 c-h6--primary c-h6--detail">
                        <span class="c-h6__icon c-icon-imagotipo-right"></span>Nuestros servicios
                    </div>
                    <ul class="c-list">
                        <li class="c-list__item">
                            <a href="#" class="c-text-icon c-text-icon--middle c-text-icon--block">
                                <span class="c-text-icon__icon c-text-icon__icon--tiny">
                                    <span class="c-icon-check"></span>
                                </span>
                                <span class="c-text-icon__text u-text-bold">Construcción</span>
                            </a>
                        </li>
                        <li class="c-list__item">
                            <a href="#" class="c-text-icon c-text-icon--middle c-text-icon--block">
                                <span class="c-text-icon__icon c-text-icon__icon--tiny">
                                    <span class="c-icon-check"></span>
                                </span>
                                <span class="c-text-icon__text u-text-bold">Hostelería</span>
                            </a>
                        </li>
                        <li class="c-list__item">
                            <a href="#" class="c-text-icon c-text-icon--middle c-text-icon--block">
                                <span class="c-text-icon__icon c-text-icon__icon--tiny">
                                    <span class="c-icon-check"></span>
                                </span>
                                <span class="c-text-icon__text u-text-bold">Piscinas</span>
                            </a>
                        </li>
                        <li class="c-list__item">
                            <a href="#" class="c-text-icon c-text-icon--middle c-text-icon--block">
                                <span class="c-text-icon__icon c-text-icon__icon--tiny">
                                    <span class="c-icon-check"></span>
                                </span>
                                <span class="c-text-icon__text u-text-bold">Marketing</span>
                            </a>
                        </li>
                        <li class="c-list__item">
                            <a href="#" class="c-text-icon c-text-icon--middle c-text-icon--block">
                                <span class="c-text-icon__icon c-text-icon__icon--tiny">
                                    <span class="c-icon-check"></span>
                                </span>
                                <span class="c-text-icon__text u-text-bold">Tematización</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="c-main-footer__col">
                    <div class="c-h6 c-h6--primary c-h6--detail">
                        <span class="c-h6__icon c-icon-imagotipo-right"></span>Contacto
                    </div>
                    <ul class="c-list">
                        <li class="c-list__item c-list__item--big">
                            <div class="c-text-icon c-text-icon--block">
                                <span class="c-text-icon__icon">
                                    <span class="c-icon-location"></span>
                                </span>
                                <span class="c-text-icon__text u-text-bold">
                                    <div>Ctra. Montuiri Porreres, km 4.9</div>
                                    <div class="c-text-icon__subtext u-text-regular">07260 Porreres - Mallorca</div>
                                </span>
                            </div>
                        </li>
                        <li class="c-list__item c-list__item--big">
                            <a href="mailto:info@poraxa.com" class="c-text-icon c-text-icon--block">
                                <span class="c-text-icon__icon">
                                    <span class="c-icon-email"></span>
                                </span>
                                <span class="c-text-icon__text u-text-bold">
                                    <div>info@poraxa.com</div>
                                    <div class="c-text-icon__subtext u-text-regular">07260 Porreres - Mallorca</div>
                                </span>
                            </a>
                        </li>
                        <li class="c-list__item c-list__item--big">
                            <a href="tel:971647210" class="c-text-icon c-text-icon--block">
                                <span class="c-text-icon__icon">
                                    <span class="c-icon-phone"></span>
                                </span>
                                <span class="c-text-icon__text u-text-bold">
                                    <div>0034 971 647 210</div>
                                    <div class="c-text-icon__subtext u-text-regular">De lunes a viernes de 9:00 a 16:00</div>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="c-main-footer__col">
                    <div class="c-h6 c-h6--primary c-h6--detail">
                        <span class="c-h6__icon c-icon-imagotipo-right"></span>Últimas noticias
                    </div>
                    <div class="c-latest-posts">
                        {{#repeat 2}}
                            <a href="#" class="c-latest-posts__item">
                                <div class="c-latest-posts__img"><img src="https://dummyimage.com/90x90/ccc/999"></div>
                                <div class="c-latest-posts__box">
                                    <div class="c-latest-posts__title">Título de la noticia</div>
                                    <div class="c-latest-posts__text">Uno de los sectores que actualmente es estratégico para</div>
                                </div>
                            </a>
                        {{/repeat}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-copy">
        <div class="c-copy__wrap o-wrapper">
            <a href="#" class="c-copy__refineria c-icon-refineria"></a>
            <div class="c-copy__box">
                <a href="#" class="c-copy__link">Condiciones generales</a>
                <a href="#" class="c-copy__link">Política de privacidad</a>
                <a href="#" class="c-copy__link">Sobre Nosotros</a>
                <a href="#" class="c-copy__link">Contacto</a>
            </div>
        </div>
    </div>
</footer>