<meta charset="UTF-8">
<title>{{pageTitle}}</title>
<meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="{{root}}assets/css/main.css">