<div class="c-top-bar">
    <div class="c-top-bar__wrap o-wrapper-small o-wrapper@small">
        <div class="c-top-bar__box">
            <div class="c-top-bar__item">
                <a href="#" class="c-text-icon c-text-icon--white c-text-icon--tiny c-text-icon--middle">
                    <span class="c-text-icon__icon c-text-icon__icon--tiny">
                        <span class="c-icon-location"></span>
                    </span>
                    <span class="c-text-icon__text c-text-icon__text--tiny u-hidden u-visible@small">Ctra. Montuiri Porreres, km 4.9</span>
                </a>
            </div>
            <div class="c-top-bar__item">
                <a href="tel:971647210" class="c-text-icon c-text-icon--white c-text-icon--tiny c-text-icon--middle">
                    <span class="c-text-icon__icon c-text-icon__icon--tiny">
                        <span class="c-icon-phone"></span>
                    </span>
                    <span class="c-text-icon__text c-text-icon__text--tiny u-hidden u-visible@small">971 647 210</span>
                </a>
            </div>
            <div class="c-top-bar__item">
                <a href="mailto:info@poraxa.com" class="c-text-icon c-text-icon--white c-text-icon--tiny c-text-icon--middle">
                    <span class="c-text-icon__icon c-text-icon__icon--tiny">
                        <span class="c-icon-email"></span>
                    </span>
                    <span class="c-text-icon__text c-text-icon__text--tiny u-hidden u-visible@small">info@poraxa.com</span>
                </a>
            </div>
        </div>
        <div class="c-top-bar__box">
            <div class="c-top-bar__item">
                <a href="#" class="c-top-bar__link"><span class="c-icon-facebook"></span></a>
            </div>
            <div class="c-top-bar__item">
                <a href="#" class="c-top-bar__link"><span class="c-icon-twitter"></span></a>
            </div>
        </div>
    </div>
</div>
<header class="c-main-header c-main-header--primary">
    <div class="c-main-header__wrap o-wrapper">
        <div class="c-main-header__logo">
            {{> svg-logo }}
        </div>
        <div class="c-main-header__toggle">
            <button class="c-hamburger js-toggle-class" data-class="is-active" data-target=".c-main-header__nav">
                <span class="c-hamburger__line"></span>
                <span class="c-hamburger__line"></span>
                <span class="c-hamburger__line"></span>
            </button>
        </div>
        <nav class="c-main-header__nav">
            <ul class="c-main-header__list">
                <li class="c-main-header__item"><a href="#" class="c-main-header__link">Home</a></li>
                <li class="c-main-header__item"><a href="#" class="c-main-header__link">Empresa</a></li>
                <li class="c-main-header__item"><a href="#" class="c-main-header__link">Servicios</a></li>
                <li class="c-main-header__item"><a href="#" class="c-main-header__link">Showroom</a></li>
                <li class="c-main-header__item"><a href="#" class="c-main-header__link">Centro ECO-EPS</a></li>
                <li class="c-main-header__item"><a href="#" class="c-main-header__link">Noticias</a></li>
                <li class="c-main-header__item"><a href="#" class="c-main-header__link">Contacto</a></li>
                <li class="c-main-header__item c-main-header__item--close">
                    <button class="c-hamburger js-toggle-class is-active" data-class="is-active" data-target=".c-main-header__nav">
                        <span class="c-hamburger__line"></span>
                        <span class="c-hamburger__line"></span>
                        <span class="c-hamburger__line"></span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>