<nav class="c-social">
    <a href="#" class="c-social__link"><span class="c-icon-facebook"></span></a>
    <a href="#" class="c-social__link"><span class="c-icon-twitter"></span></a>
    <a href="#" class="c-social__link"><span class="c-icon-instagram"></span></a>
    <a href="#" class="c-social__link"><span class="c-icon-google"></span></a>
    <a href="#" class="c-social__link"><span class="c-icon-linkedin"></span></a>
</nav>

<footer class="c-main-footer">
    <div class="c-main-footer__wrap o-wrapper">
        <div class="o-layout o-layout--xlarge">
            <div class="o-layout__row o-layout__row--footer">
                <div class="o-layout__columns">
                    <div class="o-layout__subcolumns">
                        <div class="o-box o-box--bottom-large">{{> svg-logo-b}}</div>
                        <p>20 years ago, when long-term rentals were still uncommon in Mallorca, we did the groundwork for a remarkable and successful company-history with the foundation of Mallorca Mietboerse S.L. </p>
                    </div>
                    <div class="o-layout__subcolumns">
                        <div class="o-box o-box--bottom-large"><img src="{{root}}assets/img/evolution.png" alt="Evolution"></div>
                        <p>20 years ago, when long-term rentals were still uncommon in Mallorca, we did the groundwork for a remarkable and successful company-history with the foundation of Mallorca Mietboerse S.L. </p>
                    </div>
                </div>
                <div class="o-layout__columns">
                    <address class="c-address">
                        <div class="c-address__column">
                            <div class="c-address__title">Tel</div>
                            <p>0034 971 796 082 <br>
                            0034 659 565 569</p>
                        </div>
                        <div class="c-address__column">
                            <div class="c-address__title">Write</div>
                            <a href="mailto:info@mallorcamietboerse.com">info@mallorcamietboerse.com</a>
                        </div>
                        <div class="c-address__column">
                            <div class="c-address__title">Visit</div>
                            <p>Vicari Joaquim Fuster 239 <br>
                            Portixol, Mallorca</p>
                        </div>
                    </address>
                    <div class="c-main-footer__copy">
                        <a href="#" class="c-main-footer__refineria"><span class="c-icon-refineria"></span></a>
                        <p class="c-main-footer__copy-text">Mallorca Mietboerse. Todos los derechos reservados</p>
                        <a href="#" class="c-main-footer__top"><span class="c-icon-arrow-top"></span> Top</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>