<header class="c-main-header">
    <div class="c-main-header__bg">
        <div class="c-main-header__wrap">
            <div class="c-main-header__logo">
                <a href="#" class="c-logo">
                    {{> svg-logo}}
                </a>
            </div>
            <div class="c-main-header__nav">
                <nav class="c-main-nav">
                    <ul class="c-main-nav__list">
                        <li class="c-main-nav__item">
                            <a href="{{root}}/" class="c-main-nav__link{{#ifpage 'index'}} is-active{{/ifpage}}">Home</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="{{root}}venta.html" class="c-main-nav__link{{#ifpage 'venta' 'venta-ficha'}} is-active{{/ifpage}}">Venta</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="{{root}}alquiler.html" class="c-main-nav__link{{#ifpage 'alquiler'}} is-active{{/ifpage}}">Alquiler</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="{{root}}equipo.html" class="c-main-nav__link{{#ifpage 'equipo'}} is-active{{/ifpage}}">Equipo</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="{{root}}about.html" class="c-main-nav__link{{#ifpage 'about'}} is-active{{/ifpage}}">About us</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="{{root}}portixol.html" class="c-main-nav__link{{#ifpage 'portixol'}} is-active{{/ifpage}}">Portixol</a>
                        </li>
                        <!--<li class="c-main-nav__item">
                            <a href="{{root}}propietarios.html" class="c-main-nav__link{{#ifpage 'propietarios'}} is-active{{/ifpage}}">Propietarios</a>
                        </li>-->
                        <li class="c-main-nav__item">
                            <a href="{{root}}noticias.html" class="c-main-nav__link{{#ifpage 'noticias'}} is-active{{/ifpage}}">Noticias</a>
                        </li>
                        <li class="c-main-nav__item">
                            <a href="{{root}}contacto.html" class="c-main-nav__link{{#ifpage 'contacto'}} is-active{{/ifpage}}">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="c-main-header__box">
                <nav class="c-lang-nav">
                    <ul class="c-lang-nav__list">
                        <li class="c-lang-nav__item">
                            <a href="#" class="c-lang-nav__link">ES</a>
                        </li>
                        <li class="c-lang-nav__item">
                            <a href="#" class="c-lang-nav__link">EN</a>
                        </li>
                        <li class="c-lang-nav__item">
                            <a href="#" class="c-lang-nav__link">DE</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="c-hamburger js-main-nav">
                    <span class="c-hamburger__line"></span>
                    <span class="c-hamburger__line"></span>
                    <span class="c-hamburger__line"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="c-main-header__line"></div>
</header>