<svg width="170px" height="38px" viewBox="0 0 170 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="logo" fill="#283580">
            <g>
                <path d="M152.0406,12.5218 L144.9566,35.9538 L138.2416,24.4178 L145.0586,12.5218 L137.4846,12.5218 L133.0066,21.5078 L128.5606,12.5218 L120.8566,12.5218 L127.8036,24.4178 L120.9986,35.9998 L113.8086,12.5218 L103.7986,12.5218 L96.3896,37.0338 L103.2376,37.0338 L104.4566,32.8188 L113.3146,32.8188 L114.5986,37.0338 L128.1316,37.0338 L133.0066,27.5868 L137.9136,37.0338 L151.4796,37.0338 L152.6976,32.8188 L161.5566,32.8188 L162.8406,37.0338 L169.5586,37.0338 L162.0516,12.5218 L152.0406,12.5218 Z M157.1776,17.4238 L160.2396,28.0448 L154.1136,28.0448 L157.1776,17.4238 Z M108.9356,17.4238 L111.9976,28.0448 L105.8746,28.0448 L108.9356,17.4238 Z" id="Fill-1"></path>
                <g id="Group-20" transform="translate(0.000000, 0.229500)">
                    <path d="M60.5264,31.3119 C63.9504,31.3119 65.1684,30.9539 65.1684,27.2929 L65.1684,21.7699 C65.1684,18.1419 63.9504,17.7829 60.5264,17.7829 C57.1014,17.7829 55.9824,18.1419 55.8824,21.7699 L55.8824,27.2929 C55.9824,30.9539 57.1014,31.3119 60.5264,31.3119 M60.5264,36.9999 C53.8414,36.9999 49.1004,35.5629 49.1004,28.0119 L49.1004,21.0839 C49.1004,13.5339 53.8414,12.0959 60.5264,12.0959 C67.2104,12.0959 71.9514,13.5339 71.9514,21.0839 L71.9514,28.0119 C71.9514,35.5629 67.2104,36.9999 60.5264,36.9999" id="Fill-2"></path>
                    <path d="M33.0928,24.8417 L37.6048,24.8417 C40.2058,24.7447 40.5678,24.4487 40.5678,21.2787 C40.5678,18.7627 40.1728,17.9787 37.6048,17.9787 L33.0928,17.9787 L33.0928,24.8417 Z M33.0928,36.8037 L26.5088,36.8037 L26.5088,12.2917 L38.9218,12.2917 C45.0458,12.2917 47.3498,14.8727 47.3498,21.2787 C47.3498,28.1747 45.8028,30.5287 38.9218,30.5287 L33.0928,30.5287 L33.0928,36.8037 L33.0928,36.8037 Z" id="Fill-4"></path>
                    <path d="M80.8125,24.6122 L85.9155,24.6122 C88.7485,24.6122 88.6495,23.5672 88.6495,20.7892 C88.6495,18.5992 88.0875,17.9782 85.9155,17.9782 L80.8125,17.9782 L80.8125,24.6122 Z M74.2285,36.8042 L74.2285,12.2922 L86.9365,12.2922 C92.6325,12.3902 95.4315,13.5992 95.4315,19.7112 C95.4315,23.7972 95.4315,26.1812 90.7555,27.2602 L90.7555,27.5212 C93.4565,27.6202 95.2025,29.0912 95.2025,31.8682 L95.2025,36.8042 L88.6155,36.8042 L88.6155,33.3722 C88.6815,31.5412 87.8905,30.2992 85.9155,30.2992 L80.8125,30.2992 L80.8125,36.8042 L74.2285,36.8042 L74.2285,36.8042 Z" id="Fill-6"></path>
                    <path d="M3.9873,0.7704 C1.7853,0.7704 0.0003,2.5584 0.0003,4.7634 C0.0003,6.9684 1.7853,8.7554 3.9873,8.7554 C6.1883,8.7554 7.9733,6.9684 7.9733,4.7634 C7.9733,2.5584 6.1883,0.7704 3.9873,0.7704" id="Fill-8"></path>
                    <path d="M12.8281,0.7704 C10.6271,0.7704 8.8421,2.5584 8.8421,4.7634 C8.8421,6.9684 10.6271,8.7554 12.8281,8.7554 C15.0301,8.7554 16.8151,6.9684 16.8151,4.7634 C16.8151,2.5584 15.0301,0.7704 12.8281,0.7704" id="Fill-10"></path>
                    <path d="M3.9873,16.7436 C1.7853,16.7436 0.0003,18.5326 0.0003,20.7366 C0.0003,22.9416 1.7853,24.7286 3.9873,24.7286 C6.1883,24.7286 7.9733,22.9416 7.9733,20.7366 C7.9733,18.5326 6.1883,16.7436 3.9873,16.7436" id="Fill-12"></path>
                    <path d="M12.8281,16.7436 C10.6271,16.7436 8.8421,18.5326 8.8421,20.7366 C8.8421,22.9416 10.6271,24.7286 12.8281,24.7286 C15.0301,24.7286 16.8151,22.9416 16.8151,20.7366 C16.8151,18.5326 15.0301,16.7436 12.8281,16.7436" id="Fill-14"></path>
                    <path d="M8.3564,8.7577 C6.1544,8.7577 4.3694,10.5457 4.3694,12.7497 C4.3694,14.9547 6.1544,16.7427 8.3564,16.7427 C10.5584,16.7427 12.3424,14.9547 12.3424,12.7497 C12.3424,10.5457 10.5584,8.7577 8.3564,8.7577" id="Fill-16"></path>
                    <path d="M17.1973,8.7577 C14.9953,8.7577 13.2113,10.5457 13.2113,12.7497 C13.2113,14.9547 14.9953,16.7427 17.1973,16.7427 C19.3993,16.7427 21.1843,14.9547 21.1843,12.7497 C21.1843,10.5457 19.3993,8.7577 17.1973,8.7577" id="Fill-18"></path>
                </g>
            </g>
        </g>
    </g>
</svg>