<section class="c-newsletter u-margin-top-huge" style="background-image: url(https://dummyimage.com/1920x600/ccc/999);">
    <div class="c-newsletter__wrap o-wrapper">
        <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing u-margin-bottom">
            <span class="c-h1__icon c-icon-imagotipo-right"></span>Regístrate a
            <span class="c-h1__space">
                <span class="u-text-uppercase u-text-semibold">Nuestra</span>
                <span class="u-text-uppercase u-text-bold">Newsletter</span>
            </span>
        </h2>
        <div class="c-newsletter__box">
            <div class="c-newsletter__item">
                <div class="c-input">
                    <div class="c-input__wrap">
                        <input class="c-input__element" type="text" placeholder="Nombre">
                    </div>
                </div>
            </div>
            <div class="c-newsletter__item">
                <div class="c-input">
                    <div class="c-input__wrap">
                        <input class="c-input__element" type="email" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="c-newsletter__item">
                <div class="c-checkbox">
                    <input id="check" type="checkbox" name="politica">
                    <label for="check" class="js-toggle-trigger" data-toggle-target="#hide1" data-toggle-class="is-active">I have read and I accept the data protection law</label>
                </div>
            </div>
            <div class="c-newsletter__item">
                <button type="submit" class="c-btn c-btn--secondary u-text-uppercase">Enviar</button>
            </div>
        </div>
    </div>
</section>