/* ==========================================================================
   #HEADING
   ========================================================================== */

@mixin heading($font-size: 30px, $line-height: null, $color: null ) {
  font-size: $font-size;

  @if $color {
    color: $color;
  }

  @if $line-height {
   line-height: $line-height;
  }

  &--thing {
   font-weight: 100;
  }

  &--light {
   font-weight: 300;
  }

  &--semibold {
   font-weight: 500;
  }

  &--bold {
   font-weight: 700;
  }

  &--black {
   font-weight: 900;
  }

  &--uppercase {
   text-transform: uppercase;
  }

  &--primary {
    color: $color-primary;
  }

  &--white {
    color: #fff;
  }

  &--detail {
    position: relative;
    border-bottom: 2px solid $color-complementary-1;
    padding-bottom: 10px;
    margin-bottom: 18px;

    &::before {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 45px;
      height: 2px;
      background-color: $color-primary;
      content: "";
    }

  }

  &--not-margin {
    margin-bottom: 0;
  }

  &__icon {
    margin-right: 10px;
  }

  &__space {
    @include breakpoint(small) {
        display: block;
        padding-left: 80px;
    }
  }

}