/* =============================================================================
RESET
============================================================================= */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin:  0;
    padding: 0;
}

/**
 * Hace las imágenes y los svg responsive
 */

img,
svg,
video {
    max-width: 100%;
    height: auto;
}

/**
 * Eliminar el espacio por defecto de las tablas
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * 1. Restablecer el comportamiento en Chrome y Firefox que establece un
 * `min-width: min-content;` en los fieldsets.
 */

fieldset {
    min-width: 0; /* [1] */
    border: 0;
}

picture {
    font-size: 0;
    display: block;
}
