<?xml version="1.0" encoding="UTF-8"?>
<svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
    <title>refineria</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="21.975 0.0003 21.975 21.9758 0.0002 21.9758 0.0002 0.0003 21.975 0.0003"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="refineria">
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <g id="Clip-2"></g>
            <path d="M21.9752,19.9153 L21.9752,2.0603 C21.9752,2.0603 21.9752,0.0003 19.9152,0.0003 L2.0602,0.0003 C2.0602,0.0003 0.0002,0.0003 0.0002,2.0603 L0.0002,19.9153 C0.0002,19.9153 0.0002,21.9763 2.0602,21.9763 L3.4472,21.9763 L3.4472,15.9773 C3.4472,15.4883 3.8332,15.0923 4.3092,15.0923 L6.0332,15.0923 C6.5092,15.0923 6.8952,15.4883 6.8952,15.9773 L6.8952,21.9763 L19.9152,21.9763 C19.9152,21.9763 21.9752,21.9763 21.9752,19.9153 M17.9862,10.2633 C17.2922,11.6823 15.9262,12.7663 14.2462,12.7663 C11.7712,12.7663 11.2522,10.9103 10.7092,10.9103 C10.6352,10.9103 10.5602,10.9313 10.5112,11.0063 C10.3382,11.2523 8.8292,12.8213 6.9252,12.8213 C3.6622,12.8213 3.4332,10.0863 3.4332,8.3843 C3.4332,8.2183 3.4482,8.0923 3.4482,8.0923 C3.4482,7.6143 3.8342,7.2273 4.3112,7.2273 L6.0392,7.2273 C6.5162,7.2273 6.9022,7.6143 6.9022,8.0923 C6.9022,8.0923 6.9152,8.7303 6.8982,8.7963 C6.9652,10.0343 7.5162,10.2863 8.1622,10.2863 C8.7062,10.2863 9.8182,9.7383 10.0902,9.3043 C10.0902,9.3043 9.6212,8.4903 9.6702,7.2623 C9.7202,6.1643 10.1642,5.4093 11.1792,5.4093 C12.0942,5.4093 12.7122,6.1063 12.7122,6.9383 C12.7122,7.7523 12.3152,9.0383 12.1432,9.1723 C12.8842,10.0223 13.6022,10.3243 14.2462,10.3243 C15.0602,10.3243 15.8022,9.8343 16.3222,9.2663 C15.2092,8.0933 14.4422,6.8113 14.4422,4.9383 C14.4422,4.1063 14.8142,3.5013 15.8022,3.5013 C17.6082,3.5013 18.3302,4.9053 18.5212,7.0533 C18.6562,8.5613 18.2292,9.8413 17.9862,10.2633" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
        </g>
    </g>
</svg>