---
layout: default
pageTitle: Servicios
---

<section class="o-wrapper u-margin-vertical-huge">
    <h1 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase u-margin-bottom"><span class="c-h1__icon c-icon-imagotipo-right"></span>Contacto</h1>
    <div class="c-map js-block-map">
        <a href="#" class="c-btn c-btn--primary js-map">Explorar Mapa</a>
        <iframe class="c-map__ele" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5058.478324679546!2d2.772013937269504!3d39.75215838171302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297e8262b942803%3A0x63a38daa84f5659d!2sFinca+Comassema!5e0!3m2!1ses!2sus!4v1493285990355"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="c-contact">
        <div class="c-contact__col">
            <div class="c-h6 c-h6--primary c-h6--detail">
                <span class="c-h6__icon c-icon-imagotipo-right"></span>Ven a visitarnos
            </div>
            <ul class="c-list">
                <li class="c-list__item c-list__item--big">
                    <div class="c-text-icon c-text-icon--block">
                        <span class="c-text-icon__icon">
                            <span class="c-icon-location"></span>
                        </span>
                        <span class="c-text-icon__text u-text-bold">
                            <div>Ctra. Montuiri Porreres, km 4.9</div>
                            <div class="c-text-icon__subtext u-text-regular">07260 Porreres - Mallorca</div>
                        </span>
                    </div>
                </li>
                <li class="c-list__item c-list__item--big">
                    <a href="mailto:info@poraxa.com" class="c-text-icon c-text-icon--block">
                        <span class="c-text-icon__icon">
                            <span class="c-icon-email"></span>
                        </span>
                        <span class="c-text-icon__text u-text-bold">
                            <div>info@poraxa.com</div>
                            <div class="c-text-icon__subtext u-text-regular">07260 Porreres - Mallorca</div>
                        </span>
                    </a>
                </li>
                <li class="c-list__item c-list__item--big">
                    <a href="tel:971647210" class="c-text-icon c-text-icon--block">
                        <span class="c-text-icon__icon">
                            <span class="c-icon-phone"></span>
                        </span>
                        <span class="c-text-icon__text u-text-bold">
                            <div>0034 971 647 210</div>
                            <div class="c-text-icon__subtext u-text-regular">De lunes a viernes de 9:00 a 16:00</div>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-contact__col">
            <div class="c-h6 c-h6--primary c-h6--detail">
                <span class="c-h6__icon c-icon-imagotipo-right"></span>Contacte con nosotros
            </div>
            <div class="c-contact-form">
                <div class="c-contact-form__col">
                    <div class="c-contact-form__item">
                        <div class="c-input">
                            <label for="" class="c-input__label">Nombre</label>
                            <div class="c-input__wrap">
                                <input class="c-input__element" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="c-contact-form__item">
                        <div class="c-input">
                            <label for="" class="c-input__label">Teléfono</label>
                            <div class="c-input__wrap">
                                <input class="c-input__element" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="c-contact-form__item">
                        <div class="c-input">
                            <label for="" class="c-input__label">Email</label>
                            <div class="c-input__wrap">
                                <input class="c-input__element" type="email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-contact-form__col">
                    <div class="c-contact-form__item">
                        <div class="c-textarea">
                            <div class="c-textarea__wrap">
                                <textarea class="c-textarea__element"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="c-contact-form__item">
                        <div class="c-checkbox">
                            <input id="check" type="checkbox" name="politica">
                            <label for="check" class="js-toggle-trigger" data-toggle-target="#hide1" data-toggle-class="is-active">I have read and I accept the data protection law</label>
                        </div>
                    </div>
                    <div class="c-contact-form__item u-text-right">
                        <button class="c-btn c-btn--primary u-text-uppercase">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> newsletter }}