---
layout: default
pageTitle: Home
---

<section class="c-main-slider js-main-slider">
    {{#repeat 2}}
        <div class="c-main-slider__item">
            <picture class="c-main-slider__img">
                <source srcset="https://dummyimage.com/1920x740/ccc/999" media="(min-width: 1201px)">
                <source srcset="https://dummyimage.com/1200x600/ccc/999" media="(min-width: 1025px)">
                <source srcset="https://dummyimage.com/1024x600/ccc/999" media="(min-width: 769px)">
                <source srcset="https://dummyimage.com/768x400/ccc/999" media="(min-width: 481px)">
                <img src="https://dummyimage.com/480x400/ccc/999" alt="">
            </picture>
        </div>
    {{/repeat}}
</section>

<div class="u-bg-primary">
    <div class="u-padding-vertical-small o-wrapper u-text-center">
        <h1 class="c-h2 c-h2--thing c-h2--white c-h2--not-margin">H1 PORAXA, poliestireno expandido en Mallorca, Especializados en el sector de la construcción</h1>
    </div>
</div>

<div class="u-margin-top-huge u-margin-bottom-large">
    <div class="o-wrapper u-text-center">
        <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase">Nuestros Servicios</h2>
        <div class="c-icon-imagotipo u-icon-big u-icon-space u-icon-primary"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet, voluptas distinctio minima doloribus. Voluptatibus consectetur blanditiis quaerat cumque suscipit adipisci labore. Minima corporis, voluptatibus fugiat itaque adipisci repellat cumque aliquam, dolores et alias at quo dolor accusantium voluptates? Doloremque maiores praesentium dicta, optio perferendis explicabo earum modi repudiandae commodi.</p>
    </div>
</div>

<section class="c-mosaic u-margin-bottom-huge">
    <div class="c-mosaic__wrap o-wrapper">
        <div class="c-mosaic__item">
            <div class="c-card-one c-card-one--v2">
                <div class="c-card-one__img" style="background-image: url(https://dummyimage.com/600x370/ccc/999)"></div>
                <a href="#" class="c-card-one__box">
                    <div class="c-card-one__title"><h3 class="c-h3 c-h3--primary c-h3--uppercase c-h3--semibold c-h3--not-margin">Construcción</h3></div>
                    <p class="c-card-one__text">Uno de los sectores que actualmente es estratégico para PORAXA es el hotelero, donde como empresa nos estamos especializando.</p>
                </a>
            </div>
        </div>
        <div class="c-mosaic__item">
            <div class="c-card-one c-card-one--v2">
                <div class="c-card-one__img" style="background-image: url(https://dummyimage.com/600x370/ddd/999)"></div>
                <a href="#" class="c-card-one__box c-card-one__box--alt">
                    <div class="c-card-one__title"><h3 class="c-h3 c-h3--primary c-h3--uppercase c-h3--semibold c-h3--not-margin">Hostelería</h3></div>
                    <p class="c-card-one__text">Uno de los sectores que actualmente es estratégico para PORAXA es el hotelero, donde como empresa nos estamos especializando.</p>
                </a>
            </div>
        </div>
        <div class="c-mosaic__item">
            <div class="c-card-one">
                <div class="c-card-one__img" style="background-image: url(https://dummyimage.com/600x370/eee/999)"></div>
                <a href="#" class="c-card-one__box c-card-one__box--primary">
                    <div class="c-card-one__title"><h3 class="c-h3 c-h3--white c-h3--uppercase c-h3--semibold c-h3--not-margin">piscinas</h3></div>
                    <p class="c-card-one__text">Uno de los sectores que actualmente es estratégico para PORAXA es el hotelero, donde como empresa nos estamos especializando.</p>
                </a>
            </div>
        </div>
        <div class="c-mosaic__item">
            <div class="c-card-one">
                <div class="c-card-one__img" style="background-image: url(https://dummyimage.com/600x370/bbb/999)"></div>
                <a href="#" class="c-card-one__box c-card-one__box--primary">
                    <div class="c-card-one__title"><h3 class="c-h3 c-h3--white c-h3--uppercase c-h3--semibold c-h3--not-margin">marketing y tematización</h3></div>
                    <p class="c-card-one__text">Uno de los sectores que actualmente es estratégico para PORAXA es el hotelero, donde como empresa nos estamos especializando.</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="u-margin-top-huge u-margin-bottom-large">
    <div class="o-wrapper u-text-center u-margin-bottom-large">
        <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase">Showroom</h2>
        <div class="c-icon-imagotipo u-icon-big u-icon-space u-icon-primary"></div>
        <div class="c-filters u-margin-top">
            <a href="#" class="c-btn js-filter is-active" data-filter="all">Todos</a>
            <a href="#" class="c-btn js-filter" data-filter="construccion">Construcción</a>
            <a href="#" class="c-btn js-filter" data-filter="tematizacion">Tematización</a>
            <a href="#" class="c-btn js-filter" data-filter="interiorismo">Interiorismo</a>
            <a href="#" class="c-btn js-filter" data-filter="centro">Centro ECO-EPS</a>
            <a href="#" class="c-btn js-filter" data-filter="proyectos">Proyectos Singulares</a>
        </div>
    </div>
    <div class="c-gallery">
        <div class="c-gallery__wrap js-filter-target">
            <a href="#" class="c-gallery__item is-active proyectos">
                <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                <div class="c-gallery__box">
                    <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                    <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                    <div class="c-gallery__category">Categoría</div>
                </div>
            </a>
            <a href="#" class="c-gallery__item is-active proyectos">
                <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                <div class="c-gallery__box">
                    <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                    <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                    <div class="c-gallery__category">Categoría</div>
                </div>
            </a>
            <a href="#" class="c-gallery__item is-active centro">
                <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                <div class="c-gallery__box">
                    <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                    <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                    <div class="c-gallery__category">Categoría</div>
                </div>
            </a>
            <a href="#" class="c-gallery__item is-active interiorismo">
                <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                <div class="c-gallery__box">
                    <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                    <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                    <div class="c-gallery__category">Categoría</div>
                </div>
            </a>
            <a href="#" class="c-gallery__item is-active construccion">
                <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                <div class="c-gallery__box">
                    <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                    <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                    <div class="c-gallery__category">Categoría</div>
                </div>
            </a>
            <a href="#" class="c-gallery__item is-active tematizacion">
                <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                <div class="c-gallery__box">
                    <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                    <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                    <div class="c-gallery__category">Categoría</div>
                </div>
            </a>
            <a href="#" class="c-gallery__item is-active construccion">
                <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                <div class="c-gallery__box">
                    <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                    <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                    <div class="c-gallery__category">Categoría</div>
                </div>
            </a>
            <a href="#" class="c-gallery__item is-active tematizacion">
                <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                <div class="c-gallery__box">
                    <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                    <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                    <div class="c-gallery__category">Categoría</div>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="o-wrapper u-margin-vertical-huge">
    <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase u-margin-bottom"><span class="c-h1__icon c-icon-imagotipo-right"></span>Últimas noticias</h2>
    <div class="c-posts js-slider-posts">
        {{#repeat 4}}
            <a href="#" class="c-posts__item">
                <div class="c-card">
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/600x400/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x400/ccc/999" media="(min-width: 481px)">
                        <img src="https://dummyimage.com/480x400/ccc/999" alt="">
                    </picture>
                    <div class="c-card__box">
                        <h3 class="c-card__title c-h5 c-h5--semibold c-h5--uppercase">Título de la noticia</h3>
                        <div class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat doloribus dignissimos vel repudiandae culpa architecto quod, odit quidem esse iste!</div>
                    </div>
                </div>
            </a>
        {{/repeat}}
    </div>
</section>

<section class="o-wrapper u-margin-vertical-huge">
    <div class="u-text-center u-margin-bottom-large">
        <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase">Confian en nosotros</h2>
        <div class="c-icon-imagotipo u-icon-big u-icon-space u-icon-primary"></div>
    </div>
    <div class="c-brands js-slider-brands">
        {{#repeat 10}}
            <a href="#" class="c-brands__item">
                <img src="https://dummyimage.com/150x150/ccc/999">
            </a>
        {{/repeat}}
    </div>
</section>

{{> newsletter }}