---
layout: default
pageTitle: Servicios
---

<section class="o-wrapper u-margin-vertical-huge">
    <h1 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase u-margin-bottom"><span class="c-h1__icon c-icon-imagotipo-right"></span>AISLAMIENTO TÉRMICO</h1>
    <div class="c-house">
        <div class="c-house__wrap">
            <img src="{{root}}assets/img/house.png" alt="" class="c-house__img">
            <a href="#house" class="c-house__link js-house"><span class="c-icon-cross"></span></a>
            <a href="#house" class="c-house__link js-house"><span class="c-icon-cross"></span></a>
            <a href="#house" class="c-house__link js-house"><span class="c-icon-cross"></span></a>
            <a href="#house" class="c-house__link js-house"><span class="c-icon-cross"></span></a>
            <a href="#house" class="c-house__link js-house"><span class="c-icon-cross"></span></a>
            <a href="#house" class="c-house__link js-house"><span class="c-icon-cross"></span></a>
            <a href="#house" class="c-house__link js-house"><span class="c-icon-cross"></span></a>
            <a href="#house" class="c-house__link js-house"><span class="c-icon-cross"></span></a>
        </div>
    </div>
    <p class="u-margin-top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
</section>

<section class="u-margin-top-huge u-margin-bottom-large">
    <div class="o-wrapper u-text-center u-margin-bottom-large">
        <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase">Construcción</h2>
        <div class="c-icon-imagotipo u-icon-big u-icon-space u-icon-primary"></div>
    </div>
    <div class="c-gallery">
        <div class="c-gallery__wrap">
            {{#repeat 8}}
                <a href="#" class="c-gallery__item is-active">
                    <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                    <div class="c-gallery__box">
                        <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                        <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                        <div class="c-gallery__category">Construcción</div>
                    </div>
                </a>
            {{/repeat}}
        </div>
    </div>
</section>

<section class="o-wrapper u-margin-vertical-huge">
    <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase u-margin-bottom"><span class="c-h1__icon c-icon-imagotipo-right"></span>Otros servicios</h2>
    <div class="c-posts c-posts--v2 js-slider-posts">
        {{#repeat 4}}
            <a href="#" class="c-posts__item">
                <div class="c-service" style="background-image: url(https://dummyimage.com/570x430/ccc/999)">
                    <h3 class="c-service__box c-h3 c-h3--uppercase c-h3--white">Tematización</h3>
                </div>
            </a>
        {{/repeat}}
    </div>
</section>

{{> newsletter }}

<div id="house" class="mfp-hide c-popup">
    <img src="https://dummyimage.com/450x250/ccc/999" class="c-popup__img">
    <div class="c-popup__box">
        <div class="c-popup__title c-h5">Aislamiento exterior</div>
        <div class="c-popup__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dolore quia officiis perferendis doloremque sunt, voluptatem veritatis ipsa dignissimos facere.</div>
        <a href="#" class="c-popup__btn c-btn c-btn--primary u-text-uppercase">Saber más</a>
    </div>

</div>