---
layout: default
pageTitle: Servicios
---

<section class="o-wrapper u-margin-vertical-huge">
    <h1 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase u-margin-bottom"><span class="c-h1__icon c-icon-imagotipo-right"></span>AISLAMIENTO TÉRMICO</h1>
    <div class="c-service-details">
        <img class="c-service-details__img" src="https://dummyimage.com/1280x600/ccc/999">
        <div class="c-service-details__columns">
            <div class="c-service-details__col">
                <div class="c-service-details__thumbs">
                    <a href="#" class="c-service-details__thumbs-item js-thumbs-post">
                        <img src="https://dummyimage.com/1280x600/ccc/999" alt="">
                    </a>
                    <a href="#" class="c-service-details__thumbs-item js-thumbs-post">
                        <img src="https://dummyimage.com/1280x600/f0f/fff" alt="">
                    </a>
                    <a href="#" class="c-service-details__thumbs-item js-thumbs-post">
                        <img src="https://dummyimage.com/1280x600/0ff/fff" alt="">
                    </a>
                    <a href="#" class="c-service-details__thumbs-item js-thumbs-post">
                        <img src="https://dummyimage.com/1280x600/f00/fff" alt="">
                    </a>
                </div>
                <div class="c-h3 c-h3--uppercase c-h3--primary c-h3--detail"><span class="c-h3__icon c-icon-imagotipo-right"></span>DOCUMENTACIÓN TÉCNICA</div>
                <ul class="c-list">
                    {{#repeat 5}}
                        <li class="c-list__item">
                            <a href="#" class="c-text-icon c-text-icon--middle">
                                <span class="c-text-icon__icon c-icon-pdf"></span>
                                <span class="c-text-icon__text c-text-icon__text--space">CATÁLOGO GENERAL AISLAMIENTOS (1,1 MB)</span>
                            </a>
                        </li>
                    {{/repeat}}
                </ul>
            </div>
            <div class="c-service-details__col">
                <div class="c-service-details__box">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit error, labore magnam porro deleniti aperiam nam reprehenderit. Aperiam qui iste hic voluptatem non illo, officia optio eaque fuga voluptates, esse et est soluta nobis asperiores cumque enim, officiis voluptate aut quos fugit accusantium. Corporis illo ullam distinctio illum, consequuntur reiciendis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit error, labore magnam porro deleniti aperiam nam reprehenderit. Aperiam qui iste hic voluptatem non illo, officia optio eaque fuga voluptates, esse et est soluta nobis asperiores cumque enim, officiis voluptate aut quos fugit accusantium. Corporis illo ullam distinctio illum, consequuntur reiciendis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit error, labore magnam porro deleniti aperiam nam reprehenderit. Aperiam qui iste hic voluptatem non illo, officia optio eaque fuga voluptates.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="u-margin-top-huge u-margin-bottom-large">
    <div class="o-wrapper u-text-center u-margin-bottom-large">
        <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase">Construcción</h2>
        <div class="c-icon-imagotipo u-icon-big u-icon-space u-icon-primary"></div>
    </div>
    <div class="c-gallery">
        <div class="c-gallery__wrap">
            {{#repeat 8}}
                <a href="#" class="c-gallery__item is-active">
                    <div class="c-gallery__img" style="background-image: url(https://dummyimage.com/600x400/ccc/999)"></div>
                    <div class="c-gallery__box">
                        <h3 class="c-gallery__title c-h3 c-h3--white c-h3--not-margin c-h3--thing c-h1--uppercase">Nombre proyecto</h3>
                        <div class="c-icon-imagotipo u-icon-big u-icon-space"></div>
                        <div class="c-gallery__category">Construcción</div>
                    </div>
                </a>
            {{/repeat}}
        </div>
    </div>
</section>

<section class="o-wrapper u-margin-vertical-huge">
    <h2 class="c-h1 c-h1--primary c-h1--not-margin c-h1--thing c-h1--uppercase u-margin-bottom"><span class="c-h1__icon c-icon-imagotipo-right"></span>Otros servicios</h2>
    <div class="c-posts c-posts--v2 js-slider-posts">
        {{#repeat 4}}
            <a href="#" class="c-posts__item">
                <div class="c-service" style="background-image: url(https://dummyimage.com/570x430/ccc/999)">
                    <h3 class="c-service__box c-h3 c-h3--uppercase c-h3--white">Tematización</h3>
                </div>
            </a>
        {{/repeat}}
    </div>
</section>

{{> newsletter }}