/* ==========================================================================
   #FONTS
   ========================================================================== */


/* Icons
   ========================================================================== */

@font-face {
  font-family: 'icons';
  src:
    url('#{$icomoon-font-path}/icons.ttf?ys3l85') format('truetype'),
    url('#{$icomoon-font-path}/icons.woff?ys3l85') format('woff'),
    url('#{$icomoon-font-path}/icons.svg?ys3l85#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}