---
layout: default
pageTitle: Blog
---

<section class="o-layout o-layout--super u-margin-top">
    <div class="o-wrapper">
        <div class="o-layout__row">
                <div class="o-layout__columns">
                    <article class="c-post c-post--type-2">
                        <picture class="c-post__img">
                            <source srcset="https://dummyimage.com/1200x470/ccc/999" media="(min-width: 769px)">
                            <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                            <source srcset="https://dummyimage.com/480x370/ccc/999">
                            <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                        </picture>
                        <h2 class="c-post__title">Ganadores premios ziwa 2016</h2>
                        <div class="c-post__date">3 Febrero 2017</div>
                        <div class="c-post__box u-text-big">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nam tempora, at sequi a quaerat maxime odio optio ducimus, quam distinctio iusto explicabo quisquam totam. Praesentium aperiam dignissimos suscipit id aliquid, cumque itaque harum rerum veniam neque temporibus minima ipsum ea sequi, ipsa molestias ullam libero qui, numquam quo perspiciatis!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eum veritatis consequuntur quos autem. Iste ducimus porro incidunt, aut, culpa eligendi commodi numquam, voluptatum voluptate corrupti natus repudiandae excepturi. Perferendis.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi qui, labore repudiandae reiciendis sequi obcaecati ea voluptate nemo necessitatibus magni consequatur maxime eligendi inventore optio quidem aperiam, libero hic esse, iusto saepe omnis magnam natus. Natus unde accusamus quam, numquam. Nesciunt quas, aspernatur sit dolorum. Reiciendis obcaecati ipsum illum pariatur sunt perferendis laudantium quo dicta dolores maiores, fugit, numquam ipsam!</p>
                        </div>
                    </article>
                </div>
        </div>
    </div>
</section>