---
layout: default
pageTitle: Blog
---

<section class="o-layout o-layout--super u-margin-top">
    <div class="o-wrapper">
        <div class="o-layout__row o-layout__row--half">
            {{#repeat 6}}
                <div class="o-layout__columns">
                    <article class="c-post c-post--type-2">
                        <picture class="c-post__img">
                            <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                            <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                            <source srcset="https://dummyimage.com/480x370/ccc/999">
                            <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                        </picture>
                        <h2 class="c-post__title">Ganadores premios ziwa 2016</h2>
                        <div class="c-post__date">3 Febrero 2017</div>
                        <div class="c-post__box">
                            <p class="c-post__text">Queremos compartir una gran noticia, hemos sido galardonados en los Premios Zankyou International Wedding Awards como.</p>
                            <a href="#" class="c-link">Leer más</a>
                        </div>
                    </article>
                </div>
            {{/repeat}}
        </div>
        <div class="u-text-center o-layout--top-large">
            <a href="#" class="c-btn c-btn--primary">Cargar más</a>
        </div>
    </div>
</section>