---
layout: default
pageTitle: Bodas
---

<section class="c-intro c-intro--type-2">
    <picture class="c-intro__img">
        <source srcset="https://dummyimage.com/1920x1080/ccc/999" media="(min-width: 1201px)">
        <source srcset="https://dummyimage.com/1200x675/ccc/999" media="(min-width: 1025px)">
        <source srcset="https://dummyimage.com/1024x675/ccc/999" media="(min-width: 769px)">
        <source srcset="https://dummyimage.com/768x575/ccc/999" media="(min-width: 481px)">
        <source srcset="https://dummyimage.com/480x475/ccc/999">
        <img srcset="https://dummyimage.com/480x475/ccc/999" alt="Comassema">
    </picture>
    <a href="#" class="c-intro__mouse">
        <img src="{{root}}assets/img/mouse.png" alt="Down">
    </a>
</section>

<section class="o-layout o-layout--super o-wrapper">
    <h2 class="c-heading c-heading--type-2">Bodas</h2>
    <div class="o-layout__row">
        <div class="o-layout__columns">
            <div class="u-text-big u-text-justify">
                <p><strong>La Finca Comassema es el lugar idóneo para celebrar un evento tan señalado como el de la boda</strong> no sólo por su marco incomparable en el valle de Orient, en pleno centro de la sierra de Tramuntana, sino por sus jardines acompañados por el tercer Safareig en funcionamiento más grande de Mallorca. <strong>La finca ofrece diferentes ambientes tanto para la ceremonia civil como del banquete:</strong></p>
                <ul class="u-not-margin">
                    <li>– <strong>CLASTRA</strong> con vistas al valle de Orient donde oficiar la ceremonia civil y/o el aperitivo.</li>
                    <li>– <strong>Zona ajardinada del SAFAREIG</strong> donde se dispone de un espacio en exterior con capacidad para 400 comensales.</li>
                    <li>– <strong>Zona de SALONES</strong> se dispone de 6 salas consecutivas, con una longitud total de 38 metros aproximadamente,con capacidad para 250 comensales en interior.</li>
                    <li>– <strong>DISCOTECA</strong> con 2 plantas, balcón interior y zona ajardinada.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="c-gallery c-gallery--type-2 has-hide-text js-gallery">
    {{#repeat 8}}
        <a href="https://dummyimage.com/1920x1080/ccc/999" class="c-gallery__item">
            <div class="c-gallery__box" data-text="Texto de la imagen">
                <picture class="c-gallery__img">
                    <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                    <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                    <source srcset="https://dummyimage.com/480x370/ccc/999">
                    <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                </picture>
            </div>
        </a>
    {{/repeat}}
</section>

<section class="o-layout o-layout--super o-wrapper">
    <div class="o-layout__row">
        <div class="o-layout__columns">
            <div class="u-text-big u-text-justify">
                <p>La disponibilidad de consumo eléctrico, en un evento tan importante como una boda, es básico que esté garantizado por ello disponemos de un grupo electrógeno de 40Kva (32Kw) que deja el evento independizado de cualquier incidencia sobre la red eléctrica convencional. <strong>A diferencia de los calurosos emplazamientos costeros de Mallorca en el mes de Agosto en Finca Comassema podemos encontrar agradables temperaturas oscilando entre 20-24 ºC en las noches de este mes de verano dada la situación de la finca con una altitud de 500m sobre el nivel del mar.</strong></p>
                <p><strong>Galardonada con el distintivo GOLD de mejores fincas de Mallorca en 2014 y GOLD en 2015 por la web Bodas.net y seleccionada como uno de los mejores emplazamientos para la celebración de bodas por la web Zankyou.</strong> De esta manera la Finca Comassema es reconocida como un sitio único para celebrar un enlace en la isla de Mallorca gracias a su Clastra, jardines y paisajes únicos.</p>
                <img src="{{root}}assets/img/recomendado.png" alt="Bodas recomendado">
                <img src="{{root}}assets/img/recomendado2.png" alt="Bodas recomendado">
            </div>
        </div>
    </div>
</section>