---
layout: default
pageTitle: Contacto
---

<div class="c-block-map js-block-map">
    <a href="#" class="c-btn c-btn--white js-map">Explorar Mapa</a>
    <iframe class="c-map"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5058.478324679546!2d2.772013937269504!3d39.75215838171302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297e8262b942803%3A0x63a38daa84f5659d!2sFinca+Comassema!5e0!3m2!1ses!2sus!4v1493285990355" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<section class="o-layout o-layout--super o-layout--bottom-medium o-wrapper">
    <div class="o-layout__row o-layout__row--footer">
        <div class="o-layout__columns">
            <div class="c-heading c-heading--type-3">Teléfono</div>
            <div class="u-lineh">
                Bodas (Lara): <a href="tel:+34637594435" class="c-link2">+34 637594435</a><br>
                Bodas (Magdalena) : <a href="tel:+34636592677" class="c-link2">+34 636592677</a><br>
                Eventos (Fernando): <a href="tel:+34607270286" class="c-link2">+34 607270286</a><br>
            </div>
        </div>
        <div class="o-layout__columns">
            <div class="c-heading c-heading--type-3">FINCA COMASSEMA</div>
            <div class="u-lineh">
                Camino Privado s/n, Orient Bunyola <br>
                07349 - Mallorca - SPAIN <br><br>
                GPS: 39.752934, 2.775099
            </div>
        </div>
        <div class="o-layout__columns">
            <div class="c-heading c-heading--type-3">Email</div>
            <a class="c-link2 c-link2--type-2" href="mailto:bodasyeventos@fincacomassema.com">bodasyeventos@fincacomassema.com</a>
        </div>
    </div>
</section>


<section class="o-layout o-layout--bottom-super o-wrapper">
    <div class="c-heading c-heading--type-3">Formulario de Contacto</div>
    <form class="c-contact-form">
        <div class="c-contact-form__box">
            <div class="c-contact-form__label">Nombre</div>
            <div class="c-contact-form__input">
                <div class="c-input">
                    <input type="text" class="c-input__element" placeholder="Ej: Juan Lopéz">
                </div>
            </div>
        </div>
        <div class="c-contact-form__box">
            <div class="c-contact-form__label">Email</div>
            <div class="c-contact-form__input">
                <div class="c-input">
                    <input type="text" class="c-input__element" placeholder="Ej: email@email.com">
                </div>
            </div>
        </div>
        <div class="c-contact-form__box">
            <div class="c-contact-form__label">Teléfono</div>
            <div class="c-contact-form__input">
                <div class="c-input">
                    <input type="text" class="c-input__element" placeholder="Ej: 971 67 86 97">
                </div>
            </div>
        </div>
        <div class="c-contact-form__box">
            <div class="c-contact-form__label">Mensaje</div>
            <div class="c-contact-form__input">
                <div class="c-textarea">
                    <textarea type="text" class="c-textarea__element" placeholder="Escribe aquí tu mensaje..."></textarea>
                </div>
            </div>
        </div>
        <div class="c-contact-form__box c-contact-form__box--btn">
            <button type="submit" class="c-btn c-btn--primary">Enviar</button>
        </div>
    </form>
</section>