---
layout: default
pageTitle: Eventos
---

<section class="c-intro c-intro--type-2">
    <picture class="c-intro__img">
        <source srcset="https://dummyimage.com/1920x1080/ccc/999" media="(min-width: 1201px)">
        <source srcset="https://dummyimage.com/1200x675/ccc/999" media="(min-width: 1025px)">
        <source srcset="https://dummyimage.com/1024x675/ccc/999" media="(min-width: 769px)">
        <source srcset="https://dummyimage.com/768x575/ccc/999" media="(min-width: 481px)">
        <source srcset="https://dummyimage.com/480x475/ccc/999">
        <img srcset="https://dummyimage.com/480x475/ccc/999" alt="Comassema">
    </picture>
    <a href="#" class="c-intro__mouse">
        <img src="{{root}}assets/img/mouse.png" alt="Down">
    </a>
</section>

<section class="o-layout o-layout--super o-wrapper">
    <h2 class="c-heading c-heading--type-2">Eventos</h2>
    <div class="o-layout__row">
        <div class="o-layout__columns">
            <div class="u-text-big u-text-justify">
                <p><strong>Comassema les brinda un lugar excepcional para grandes eventos empresariales por dos motivos fundamentales.</strong> Principalmente por su ubicación en un marco incomparable como es el <strong>valle de Orient</strong> y en segundo lugar por nuestras instalaciones perfectamente acondicionadas y dimensionadas para albergar hasta 250 comensales en interior y otros 400 en exterior.</p>
                <p><strong>Dispone de parking con capacidad para 100 vehículos</strong>, dos vehículos eléctricos para el desplazamiento de visitantes con movilidad reducida, dos cocinas acondicionadas para los servicios de catering con tomas de 220v y 380v y un grupo electrógeno de 40Kva independiente que <strong>garantiza el suministro eléctrico ante cualquier incidencia en la red convencional</strong>.</p>
            </div>
        </div>
    </div>
</section>

<section class="o-layout o-layout--super u-bg">
    <div class="o-wrapper">
        <h3 class="c-heading c-heading--type-2 c-heading--not-detail">Conoce Comassema</h3>
        <div class="o-layout__row o-layout__row--half">
            <div class="o-layout__columns">
                <article class="c-card">
                    <h4 class="c-heading c-heading--type-3">El Poblado</h4>
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <div class="c-card__box">
                        <p class="c-card__text">La existencia del poblado de Coma-sema se remonta a la época prehistórica Mallorquina tal y como lo testimonia la existencia de un monumento megalítico, el TALAIOT que según los estudios de la “Societat Arqueològica Lul·liana” lo sitúan 2.000 AC. Este es uno de los talaiots de montaña mejor conservados que podemos encontrar en la isla de Mallorca.</p>

                    </div>
                </article>
            </div>
            <div class="o-layout__columns">
                <article class="c-card">
                    <h4 class="c-heading c-heading--type-3">Degustación</h4>
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <div class="c-card__box">
                        <p class="c-card__text">Degustacióndel embutido más típico de Mallorca, la sobrasada, producida artesanalmente y procedente de cerdos criados cuidadosamente en la finca, acompañado con el tradicional “pa amb oli” elaborado con aceite de olivas recogidas en Comassema servido como almuerzo en las casas de los agricultores decoradas con instrumentos típicos del laboreo de montaña.</p>

                    </div>
                </article>
            </div>
            <div class="o-layout__columns">
                <article class="c-card">
                    <h4 class="c-heading c-heading--type-3">Almazara</h4>
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <div class="c-card__box">
                        <p class="c-card__text">Visita guiada a la almazara mecanizada (perfectamente restaurada y en funcionamiento) y al Bosc Gran, uno de los bosques de encina mejor conservados de toda la isla y donde se puede visitar el Talaiot, monumento megalítico y conocer el modo de vida de los carboners a través de sus restos históricos (Sitja, Forn de Pedra y Casa de Neu entre otros)</p>

                    </div>
                </article>
            </div>
            <div class="o-layout__columns">
                <article class="c-card">
                    <h4 class="c-heading c-heading--type-3">Meravelles</h4>
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <div class="c-card__box">
                        <p class="c-card__text">Visita guiada a la cueva de las Meravelles (catalogada en el libro del archiduque LLuís Salvador) y situada a 575m de altura. La cueva consta de diversas salas con un recorrido horizontal de unos 300m, donde se encuentran abundantes formaciones de estalagmitas. La duración de la visita es de apróximadamente 1h40m</p>

                    </div>
                </article>
            </div>
            <div class="o-layout__columns">
                <article class="c-card">
                    <h4 class="c-heading c-heading--type-3">Sa Rateta</h4>
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <div class="c-card__box">
                        <p class="c-card__text">Desde las casas de Comassema al Puig de Sa Rateta (1113m) es un pico de dificultad baja y que no lleva mucho tiempo aunque obtendremos unas vistas panorámicas espectaculares al Puig de Tossals Verds, Castillo de Alaró y Puig de N’Aucadena.</p>

                    </div>
                </article>
            </div>
            <div class="o-layout__columns">
                <article class="c-card">
                    <h4 class="c-heading c-heading--type-3">L'Ofre</h4>
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <div class="c-card__box">
                        <p class="c-card__text">Desde las casas de Comassema al Puig de l’Ofre (1090m) por el camino es Barrancons (Duración total 2h, distancia 6km, desnivel positivo de 500m) donde poder disfrutar de vistas panorámicas inigualables de Soller, Puig Major y los pantanos de Cúber y Gorg Blau.</p>

                    </div>
                </article>
            </div>
        </div>
    </div>
</section>