---
layout: default
pageTitle: Historia
---

<section class="c-intro c-intro--type-2">
    <picture class="c-intro__img">
        <source srcset="https://dummyimage.com/1920x1080/ccc/999" media="(min-width: 1201px)">
        <source srcset="https://dummyimage.com/1200x675/ccc/999" media="(min-width: 1025px)">
        <source srcset="https://dummyimage.com/1024x675/ccc/999" media="(min-width: 769px)">
        <source srcset="https://dummyimage.com/768x575/ccc/999" media="(min-width: 481px)">
        <source srcset="https://dummyimage.com/480x475/ccc/999">
        <img srcset="https://dummyimage.com/480x475/ccc/999" alt="Comassema">
    </picture>
    <a href="#" class="c-intro__mouse">
        <img src="{{root}}assets/img/mouse.png" alt="Down">
    </a>
</section>

<section class="o-layout o-layout--super o-wrapper">
    <h2 class="c-heading c-heading--type-2">Nuestra historia</h2>
    <div class="o-layout__row">
        <div class="o-layout__columns">
            <div class="u-text-big u-text-justify">
                <p>La existencia del poblado de Coma-sema <strong>se remonta a la época prehistórica Mallorquina tal y como lo testimonia la existencia de un monumento Megalítico.</strong></p>
                <p><strong>Las primeras referencias históricas</strong> que aparecen de la finca datan de la época de la conquista de Jaime I <strong>en 1229 donde su primer propietario fue Nuño Sanz</strong>.</p>
                <p><strong>La Finca se encuentra en uno de los lugares más agrestes y privilegiados de la Sierra Septentrional de Mallorca</strong>, la Sierra de Tramuntana, declarada por la UNESCO desde el año 2011 patrimonio de la Humanidad en la categoría de Paisaje Cultural, por lugares tan emblemáticos como Orient.</p>
            </div>
        </div>
    </div>
</section>

<section class="c-gallery c-gallery--type-2 has-heading js-gallery">
    {{#repeat 4}}
        <a href="https://dummyimage.com/1920x1080/ccc/999" class="c-gallery__item">
            <div class="c-gallery__box">
                <picture class="c-gallery__img">
                    <source srcset="https://dummyimage.com/480x380/ccc/999" media="(min-width: 769px)">
                    <source srcset="https://dummyimage.com/768x480/ccc/999" media="(min-width: 481px)">
                    <source srcset="https://dummyimage.com/480x380/ccc/999">
                    <img srcset="https://dummyimage.com/480x380/ccc/999" alt="Bodas">
                </picture>
            </div>
            <h3 class="c-heading c-heading--type-4 c-heading--not-detail">Texto de la imagen</h3>
        </a>
    {{/repeat}}
</section>

<section class="o-layout o-layout--super o-wrapper">
    <div class="o-layout__row">
        <div class="o-layout__columns">
            <div class="u-text-big u-text-justify">
                <p><strong>Gracias a las litografías</strong> extraídas de uno de los tomos de la obra "Die balearen in wort und bild" (1884) <strong>del aristócrata austriaco el archiduqye Ludwig Salvator (1847 - 1915)</strong> podemos hacernos una idea de como era en aquella época la ortografía de la finca y sus secretos mejor guardados.</p>
            </div>
        </div>
    </div>
</section>