---
layout: default
pageTitle: Home
---

<section class="c-intro">
    <div class="c-video">
        <video id="bgvid" src="{{root}}assets/video/video-home.mp4" autoplay muted loop></video>
    </div>
    <picture class="c-intro__img">
        <source srcset="https://dummyimage.com/1200x675/ccc/999" media="(min-width: 1025px)">
        <source srcset="https://dummyimage.com/1024x675/ccc/999" media="(min-width: 769px)">
        <source srcset="https://dummyimage.com/768x575/ccc/999" media="(min-width: 481px)">
        <source srcset="https://dummyimage.com/480x475/ccc/999">
        <img srcset="https://dummyimage.com/480x475/ccc/999" alt="Comassema">
    </picture>
    <a href="https://www.youtube.com/watch?v=7oaphgMVLdM" class="c-intro__play js-video">
        <span class="c-intro__play-icon"></span>
        <span class="c-intro__play-btn">Play video</span>
    </a>
    <a href="#" class="c-intro__mouse">
        <img src="{{root}}assets/img/mouse.png" alt="Down">
    </a>
</section>

<section class="o-layout o-layout--super o-wrapper o-wrapper--medium">
    <h2 class="c-heading">
        FINCA COMASSEMA
        <span class="c-heading__text">Galardonada en los premios ZIWA 2016</span>
    </h2>
    <div class="o-layout__row o-layout__row--ziwa">
        <div class="o-layout__columns">
            <div class="u-text-big">
                <p>Hemos sido galardonados en los <strong>Premios Zankyou International Wedding Awards</strong> como uno de los mejores profesionales de boda de 2016.</p>
                <p><strong>ZIWA son los primeros premios</strong> en los que el reconocimiento lo <strong>otorgan otros profesionales del sector, bloggers expertos y parejas satisfechas con nuestro trabajo.</strong> ¡Estamos muy orgullosos de haberlo ganado!</p>
                <p>Gracias a todos por vuestro apoyo y seguiremos trabajando para ofrecer lo mejor.</p>
            </div>
        </div>
        <div class="o-layout__columns">
            <img src="{{root}}assets/img/ziwa.png" alt="Ziwa">
        </div>
    </div>
</section>

<section class="c-banner">
    <div class="c-banner__wrap o-layout o-layout--super">
        <picture class="c-banner__img">
            <source srcset="{{root}}assets/img/banner-1920.jpg" media="(min-width: 1281px)">
            <source srcset="{{root}}assets/img/banner-1280.jpg" media="(min-width: 1025px)">
            <source srcset="{{root}}assets/img/banner-1024.jpg" media="(min-width: 769px)">
            <source srcset="{{root}}assets/img/banner-768.jpg" media="(min-width: 481px)">
            <source srcset="{{root}}assets/img/banner-480.jpg">
            <img srcset="{{root}}assets/img/banner-480.jpg" alt="Celebra tu boda">
        </picture>
        <div class="c-banner__text">
            <h3 class="c-hero-title c-hero-title--white">
                <span>El lugar perfecto</span>
                Para celebrar tu boda
            </h3>
            <a href="{{root}}contacto.html" class="c-btn c-btn--white">Contactar</a>
        </div>
    </div>
</section>

<section class="o-layout o-layout--super o-wrapper">
    <h3 class="c-heading c-heading--type-2">Nuestra historia</h3>
    <div class="o-layout__row">
        <div class="o-layout__columns">
            <div class="u-text-big u-text-justify">
                <p>La existencia del poblado de Coma-sema <strong>se remonta a la época prehistórica Mallorquina tal y como lo testimonia la existencia de un monumento Megalítico.</strong></p>
                <p><strong>Las primeras referencias históricas</strong> que aparecen de la finca datan de la época de la conquista de Jaime I <strong>en 1229 donde su primer propietario fue Nuño Sanz</strong>.</p>
                <p><strong>La Finca se encuentra en uno de los lugares más agrestes y privilegiados de la Sierra Septentrional de Mallorca</strong>, la Sierra de Tramuntana, declarada por la UNESCO desde el año 2011 patrimonio de la Humanidad en la categoría de Paisaje Cultural, por lugares tan emblemáticos como Orient.</p>
            </div>
            <div class="o-layout o-layout--top u-text-center"><a href="{{root}}historia.html" class="c-btn">Saber más</a></div>
        </div>
    </div>
</section>

<section class="o-layout o-layout--super u-bg">
    <div class="o-wrapper">
        <h2 class="c-heading c-heading--type-2 c-heading--not-detail">Nos encanta lo que hacemos</h2>
        <div class="o-layout__row o-layout__row--half">
            <div class="o-layout__columns">
                <article class="c-card">
                    <h3 class="c-heading c-heading--type-3">Bodas</h3>
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <div class="c-card__box">
                        <p class="c-card__text">La Finca Comassema es el lugar idóneo para celebrar un evento tan señalado como el de la boda no sólo por su marco incomparable en el valle de Orient, en pleno centro de...</p>
                        <div class="u-text-center"><a href="{{root}}bodas.html" class="c-btn">Saber más</a></div>
                    </div>
                </article>
            </div>
            <div class="o-layout__columns">
                <article class="c-card">
                    <h3 class="c-heading c-heading--type-3">Eventos</h3>
                    <picture class="c-card__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <div class="c-card__box">
                        <p class="c-card__text">Comassema les brinda un lugar excepcional para grandes eventos empresariales por dos motivos fundamentales. Principalmente por nuestras instalaciones perfectamente...</p>
                        <div class="u-text-center"><a href="{{root}}eventos.html" class="c-btn">Saber más</a></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="c-gallery js-gallery">
    {{#repeat 6}}
        <a href="https://dummyimage.com/1920x1080/ccc/999" class="c-gallery__item">
            <div class="c-gallery__box">
                <picture class="c-gallery__img">
                    <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                    <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                    <source srcset="https://dummyimage.com/480x370/ccc/999">
                    <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                </picture>
            </div>
        </a>
    {{/repeat}}
</section>

<section class="o-layout o-layout--super o-wrapper">
    <h2 class="c-heading c-heading--type-2">Blog</h2>
    <div class="o-layout__row o-layout__row--blog">
        {{#repeat 4}}
            <div class="o-layout__columns">
                <article class="c-post">
                    <picture class="c-post__img">
                        <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                        <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                        <source srcset="https://dummyimage.com/480x370/ccc/999">
                        <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                    </picture>
                    <h3 class="c-post__title">Ganadores premios ziwa 2016</h3>
                    <div class="c-post__date">3 Febrero 2017</div>
                    <div class="c-post__box">
                        <p class="c-post__text">Queremos compartir una gran noticia, hemos sido galardonados en los Premios Zankyou International Wedding Awards como.</p>
                        <a href="#" class="c-link">Leer más</a>
                    </div>
                </article>
            </div>
        {{/repeat}}
    </div>
</section>