---
layout: default
pageTitle: Tours
---

<section class="c-intro c-intro--type-2">
    <picture class="c-intro__img">
        <source srcset="https://dummyimage.com/1920x1080/ccc/999" media="(min-width: 1201px)">
        <source srcset="https://dummyimage.com/1200x675/ccc/999" media="(min-width: 1025px)">
        <source srcset="https://dummyimage.com/1024x675/ccc/999" media="(min-width: 769px)">
        <source srcset="https://dummyimage.com/768x575/ccc/999" media="(min-width: 481px)">
        <source srcset="https://dummyimage.com/480x475/ccc/999">
        <img srcset="https://dummyimage.com/480x475/ccc/999" alt="Comassema">
    </picture>
    <a href="#" class="c-intro__mouse">
        <img src="{{root}}assets/img/mouse.png" alt="Down">
    </a>
</section>

<section class="o-layout o-layout--super o-wrapper o-wrapper--medium">
    <h2 class="c-heading c-heading--type-2">DESCUBRE LA FINCA</h2>
    <div class="o-layout__row">
        <div class="o-layout__columns">
            <div class="u-text-big u-text-justify">
                <p>Los <strong>Tours Virtuales</strong> le <strong>permitirán sumergirse en todos los rincones y conocer un poco más de los distintos espacios</strong> de la Finca:</p>
            </div>
        </div>
    </div>
</section>

<section class="c-gallery js-gallery-iframe">
        <a href="http://www.fincacomassema.com/almazara.html" class="c-gallery__item">
            <div class="c-gallery__box">
                <picture class="c-gallery__img">
                    <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                    <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                    <source srcset="https://dummyimage.com/480x370/ccc/999">
                    <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                </picture>
            </div>
            <h3 class="c-heading c-heading--type-4 c-heading--not-detail">Tour Almazara</h3>
        </a>

        <a href="http://www.fincacomassema.com/salon.html" class="c-gallery__item">
            <div class="c-gallery__box">
                <picture class="c-gallery__img">
                    <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                    <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                    <source srcset="https://dummyimage.com/480x370/ccc/999">
                    <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                </picture>
            </div>
            <h3 class="c-heading c-heading--type-4 c-heading--not-detail">Tour Salones</h3>
        </a>

        <a href="http://www.fincacomassema.com/suite.html" class="c-gallery__item">
            <div class="c-gallery__box">
                <picture class="c-gallery__img">
                    <source srcset="https://dummyimage.com/560x370/ccc/999" media="(min-width: 769px)">
                    <source srcset="https://dummyimage.com/768x470/ccc/999" media="(min-width: 481px)">
                    <source srcset="https://dummyimage.com/480x370/ccc/999">
                    <img srcset="https://dummyimage.com/480x370/ccc/999" alt="Bodas">
                </picture>
            </div>
            <h3 class="c-heading c-heading--type-4 c-heading--not-detail">Tour Suite</h3>
        </a>
</section>

<section class="o-layout o-layout--super o-wrapper o-wrapper--medium">
    <div class="o-layout__row">
        <div class="o-layout__columns">
            <div class="u-text-big u-text-justify">
                <ul class="u-not-margin u-text-center">
                    <li>1. Pulsa en las imágenes para comenzar, el Tour se abrirá en una nueva pestaña.</li>
                    <li>2. Navega con el ratón o con los controles inferiores.</li>
                    <li>3. Podrás acceder a más imágenes desde el botón izquierdo inferior.</li>
                </ul>
            </div>
        </div>
    </div>
</section>