<article class="c-card{{#if theme2}} c-card--theme-2{{/if}}">
    <div class="c-card__wrap">
        <picture class="c-card__img">
            <source srcset="https://dummyimage.com/420x260/ccc/999" media="(min-width: 1200px)">
            <source srcset="https://dummyimage.com/480x300/ccc/999" media="(min-width: 768px)">
            <source srcset="https://dummyimage.com/768x350/ccc/999" media="(min-width: 480px)">
            <source srcset="https://dummyimage.com/480x300/ccc/999">
            <img srcset="https://dummyimage.com/480x300/ccc/999" alt="Mallorca Mietboerse">
        </picture>
        <div class="c-card__box">
            <div class="c-card__title">
                <h3 class="c-heading"><a href="#"><span class="c-heading__thing">Apartment on the</span> water front</a></h3>
                <div class="c-card__price">215.000€</div>
            </div>
            <div class="c-card__code">1502VA17</div>
            <div class="c-card__icons">
                <div class="c-card__icon"><span class="c-icon-location"></span> 250m</div>
                <div class="c-card__icon"><span class="c-icon-bed"></span> 3</div>
                <div class="c-card__icon"><span class="c-icon-ducha"></span> 2</div>
            </div>
            <p class="c-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sequi nobis ipsa harum culpa neque architecto rem ducimus eligendi, numquam incidunt vel unde minima quidem. Possimus aliquam ex, a beatae?</p>
            <div class="c-card__btn u-text-center">
                <a href="#" class="c-btn c-btn--secondary c-btn--small u-text-uppercase">Ver</a>
            </div>
        </div>
    </div>
</article>