<div class="c-featured__item o-layout o-layout--bottom-large">
    <div class="c-featured__box">
        <div class="c-featured__content">
            <nav class="c-links o-box o-box--bottom-xlarge">
                <a href="#" class="c-links__item">Apartment</a>
                <a href="#" class="c-links__item">Portixol</a>
                <a href="#" class="c-links__item">Mallorca</a>
            </nav>
            <div class="c-featured__img">
                <picture>
                    <source srcset="https://dummyimage.com/768x450/ccc/999.jpg" media="(min-width: 480px)">
                    <source srcset="https://dummyimage.com/480x360/ccc/999.jpg">
                    <img srcset="https://dummyimage.com/480x360/ccc/999.jpg" alt="Mallorca Mietboerse" weight="700" height="450">
                </picture>
            </div>
            <div class="c-featured__text">
                <h3 class="c-heading c-heading--type-4 o-box o-box--top-large o-box--bottom-large"><span class="c-heading__thing2">Apartment on the</span> water front</h3>
                <div class="c-featured__btn">
                    <a href="#" class="c-btn c-btn--primary">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>