<form class="c-search{{#if class}} {{class}}{{/if}}">
    <div class="c-search__wrap">
        <div class="c-search__title">¿Qué buscas?</div>
        <div class="c-search__box">
            <a href="#" class="c-search__link c-search__link--buy is-active"><span class="c-search__link-text">Comprar</span></a>
            <a href="#" class="c-search__link c-search__link--rent"><span class="c-search__link-text">Alquilar</span></a>
        </div>
        <div class="c-search__box">
            <a href="#" class="c-search__link c-search__link--flat is-active"><span class="c-icon-piso"></span><span class="c-search__link-text">Piso</span></a>
            <a href="#" class="c-search__link c-search__link--house"><span class="c-icon-casa"></span><span class="c-search__link-text">Casa</span></a>
            <a href="#" class="c-search__link c-search__link--apartment"><span class="c-icon-apartamento"></span><span class="c-search__link-text">Apartamento</span></a>
        </div>
        <div class="c-search__box">
            <div class="c-select">
                <select class="c-select__element">
                    <option>Zona</option>
                </select>
                <span class="c-select__icon">
                    <span class="c-icon-arrow-bottom"></span>
                </span>
            </div>
        </div>
        <div class="c-search__box">
            <button class="c-search__btn" type="submit" name="button"><span class="c-icon-search"></span>buscar</button>
        </div>
    </div>
</form>