/* =============================================================================
GLOBAL
============================================================================= */

/**
 * Variables del proyecto
 */

// GLOBAL VARIABLES
$global-wrapper-width: 1200px;
$global-wrapper-padding: 20px;

// FONTS
$font-primary: 'Rubik', sans-serif;

// COLORS
$color-default: #000;
$color-text: #282828;
$color-primary: #d6c599;
$color-bg: #f6f6f6;

// OBJECTS VARIABLES
$o-layout-paddings: (
    tiny: 20px,
    small: 30px,
    default: 40px,
    medium: 50px,
    large: 60px,
    xlarge: 70px,
    big: 80px,
    xbig: 90px,
    super: 100px
);

$o-box-paddings: (
    tiny: 5px,
    small: 10px,
    default: 15px,
    medium: 20px,
    large: 25px,
    xlarge: 30px
);