<svg width="317px" height="83px" viewBox="0 0 317 83" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>logo</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M2.863,5.177 L0.578,4.364 C0.869,4.412 1.264,4.342 1.475,3.732 C1.838,2.682 1.656,1.578 1.656,1.578 C1.656,1.578 3.001,0.236 3.813,0.236 C4.16743033,0.236 4.42066768,0.488234699 4.42066949,1.21443285 L4.42066949,1.21443285 L4.42066949,1.21443285 L2.863,5.177 Z M0.578,4.364 L0.208,4.232 C0.214,4.235 0.37,4.329 0.578,4.364 Z" id="path-1"></path>
        <path d="M10.7436357,3.01400073 C10.0911551,3.01399972 9.18038482,2.8513975 8.085,2.447 C4.987,1.302 2.594,2.103 1.553,2.605 C2.617,2.036 4.993,0.905 7.524,0.905 C8.191,0.905 8.871,0.985 9.539,1.173 C11.1602373,1.62719086 11.8612224,2.15970107 11.8612212,2.53483988 L11.8612212,2.5348399 C11.8612202,2.81983124 11.4566538,3.01399763 10.7436588,3.01400073 L10.7436357,3.01400073 L10.7436357,3.01400073 Z M0.979,2.925 C1.026,2.903 1.228,2.78 1.553,2.605 C1.18,2.785 0.979,2.925 0.979,2.925 Z" id="path-3"></path>
        <path d="M7.95787986,2.86656633 C12.6607798,2.86655954 18.6265752,1.92264013 18.677,1.915 C18.614,1.918 9.281,2.395 4.285,1.263 C2.968,0.964 2.042,0.842 1.47,0.842 C-0.135,0.842 1.041,1.804 4.173,2.541 C5.17309165,2.77651002 6.50519217,2.8665643 7.95778005,2.86656633 L7.95787986,2.86656633 L7.95787986,2.86656633 Z" id="path-5"></path>
        <polygon id="path-7" points="1.35525272e-20 0.6535 1.35525272e-20 31.3015 316.1978 31.3015 316.1978 0.6535 0 0.6535"></polygon>
        <polygon id="path-9" points="0 86 316.198 86 316.198 0.801 0 0.801"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="logo" transform="translate(0.000000, -4.000000)">
            <path d="M66.2732,16.5384 C66.2762,16.5354 66.2802,16.5334 66.2832,16.5294 C66.2802,16.5434 66.2762,16.5574 66.2752,16.5714 C66.2762,16.5654 66.2752,16.5534 66.2732,16.5384 M249.3292,22.0684 C242.5232,22.6034 235.6832,22.6984 228.8622,22.4734 C222.0502,22.2484 215.3332,21.5864 208.8622,19.3754 C211.1522,16.9374 210.7062,13.6734 209.1512,10.8534 C207.3962,7.6654 204.3082,5.6474 200.8202,4.9054 C197.8902,4.2814 194.2672,4.5624 191.7872,6.3894 C190.2502,7.5184 188.1922,10.1254 188.7682,12.2454 C189.0292,13.2084 190.5042,12.1934 190.9162,11.8614 C191.4712,11.4184 191.4332,10.7934 191.5982,10.1504 C191.9082,8.9344 192.8692,8.1144 193.9672,7.6284 C197.7472,5.9564 202.7482,8.3154 205.2682,11.0804 C206.1122,12.0094 206.7212,13.1264 207.2012,14.2784 C207.7142,15.5084 208.1362,17.3634 207.1752,18.4234 C206.7892,18.8494 205.1902,17.9974 204.8032,17.8404 C202.0072,16.7284 199.2352,15.6764 196.2622,15.1344 C190.4702,14.0784 184.9372,16.3094 179.4002,17.6604 C172.3972,19.3704 164.8712,19.8924 157.7492,18.7054 C154.5952,18.1804 151.4702,17.2054 148.6832,15.6274 C147.4412,14.9234 146.3472,14.0064 145.4192,12.9254 C144.6532,12.0304 144.0632,12.2574 143.1462,12.9294 C143.0722,12.9824 143.1082,13.3264 143.1672,13.3864 C145.8062,15.9834 148.9522,17.9744 152.3332,19.4564 C154.7312,20.5054 157.2912,21.1844 159.8472,21.7134 C162.8012,22.3254 166.1632,21.9544 169.1492,21.6884 C175.1642,21.1584 181.0652,19.6854 186.8712,18.0744 C192.3142,16.5614 197.6862,18.3264 202.7562,20.2954 C202.7702,20.3454 214.6532,24.3124 221.0702,24.8584 C227.3152,25.3914 233.6592,25.3084 239.9352,25.0964 C229.4442,27.6944 218.3312,28.1374 207.7352,25.9784 C205.1562,25.4534 202.7442,24.5674 200.0722,24.6914 C197.4372,24.8154 194.9672,26.1254 192.8392,27.5754 C189.2322,30.0324 186.7212,33.8014 183.3052,36.4994 C178.9572,39.9314 174.3112,39.4594 169.5362,37.2004 C164.2472,34.6964 158.9952,32.2884 153.5012,30.2444 C142.2642,26.0544 130.6262,22.9964 118.9012,20.5194 C105.6142,17.7144 93.3072,14.5234 79.7792,13.3854 C74.8662,12.9704 67.9562,11.9044 64.2142,16.0424 C63.7712,16.5344 71.6222,15.5224 73.9032,15.6784 C76.9322,15.8824 79.9552,16.1394 82.9762,16.4344 C89.0162,17.0244 95.4262,17.3744 101.4252,18.2754 C113.2082,20.0484 123.3302,24.1854 134.8072,27.3884 C140.5812,28.9994 146.2952,30.8404 151.9132,32.9294 C157.3152,34.9384 162.4342,37.4134 167.6532,39.8224 C172.3872,42.0074 177.0142,42.4464 181.6502,39.8254 C185.6282,37.5704 188.5622,33.8794 191.8652,30.8054 C193.9692,28.8504 196.3492,27.4354 199.2592,27.2794 C202.1432,27.1214 205.2002,28.4224 208.0092,28.9574 C214.3682,30.1734 220.9222,30.1714 227.3452,29.5274 C233.6312,28.8964 239.9542,27.6034 245.9362,25.5584 C247.2632,25.1054 249.5532,24.5904 250.0702,22.9914 C250.2732,22.3544 249.9472,22.0834 249.3292,22.0684" id="Fill-1" fill="#B21023"></path>
            <g id="Group-5" transform="translate(206.000000, 14.199300)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-4"></g>
                <path d="M1.656,1.578 C1.656,1.578 1.838,2.682 1.475,3.732 L1.475,3.732 C1.264,4.342 0.869,4.412 0.578,4.364 L0.578,4.364 L2.863,5.177 C2.863,5.177 3.857,4.417 4.278,2.384 L4.278,2.384 C4.614,0.742 4.315,0.236 3.813,0.236 L3.813,0.236 C3.001,0.236 1.656,1.578 1.656,1.578 M0.578,4.364 L0.208,4.232 C0.214,4.235 0.37,4.329 0.578,4.364" id="Fill-3" mask="url(#mask-2)"></path>
            </g>
            <g id="Group-8" transform="translate(192.000000, 5.199300)">
                <mask id="mask-4" fill="white">
                    <use xlink:href="#path-3"></use>
                </mask>
                <g id="Clip-7"></g>
                <path d="M1.553,2.605 C2.594,2.103 4.987,1.302 8.085,2.447 L8.085,2.447 C11.953,3.875 13.519,2.288 9.539,1.173 L9.539,1.173 C8.871,0.985 8.191,0.905 7.524,0.905 L7.524,0.905 C4.993,0.905 2.617,2.036 1.553,2.605 M0.979,2.925 C1.026,2.903 1.228,2.78 1.553,2.605 L1.553,2.605 C1.18,2.785 0.979,2.925 0.979,2.925" id="Fill-6" mask="url(#mask-4)"></path>
            </g>
            <path d="M239.653,25.1523 C239.477,25.2023 239.197,25.2783 238.765,25.3953 L238.765,25.3953 C236.788,25.9323 230.734,27.5863 232.823,27.6853 L232.823,27.6853 C234.912,27.7843 241.886,26.1273 246.86,23.6843 L246.86,23.6843 L246.86,23.6843 C245.01,24.2503 240.397,25.0303 239.653,25.1523 L239.653,25.1523 Z M239.549,25.1703 C239.549,25.1703 239.586,25.1653 239.653,25.1523 L239.653,25.1523 C239.849,25.0983 239.913,25.0803 239.907,25.0803 L239.907,25.0803 L239.549,25.1703 Z" id="Fill-9"></path>
            <path d="M200.288,27.2483 C200.288,27.2483 201.712,27.2373 206.41,28.5963 L206.41,28.5963 C207.407,28.8843 208.669,29.0813 209.242,29.1713 L209.242,29.1713 C211.696,29.5513 210.108,27.4263 208.089,27.2873 L208.089,27.2873 C207.116,27.2193 205.714,27.1983 204.363,27.1983 L204.363,27.1983 C202.26,27.1983 200.288,27.2483 200.288,27.2483" id="Fill-11"></path>
            <path d="M161.975,34.7493 C161.1,34.7493 161.364,35.2943 164.475,36.9753 L164.475,36.9753 C169.637,39.7563 175.319,39.3613 177.716,38.9713 L177.716,38.9713 C178.667,38.8133 179.101,38.6573 178.781,38.6963 L178.781,38.6963 C173.374,39.4043 169.447,37.2173 167.401,36.2483 L167.401,36.2483 C166.241,35.6963 163.126,34.7493 161.976,34.7493 L161.976,34.7493 L161.975,34.7493 Z" id="Fill-13"></path>
            <path d="M73.625,15.6503 C73.625,15.6503 83.702,16.4733 89.685,17.0123 L89.685,17.0123 C95.663,17.5513 94.37,15.6333 90.043,15.4973 L90.043,15.4973 C89.215,15.4723 88.105,15.4623 86.849,15.4623 L86.849,15.4623 C81.535,15.4623 73.625,15.6503 73.625,15.6503" id="Fill-15"></path>
            <g id="Group-19" transform="translate(152.000000, 17.199300)">
                <mask id="mask-6" fill="white">
                    <use xlink:href="#path-5"></use>
                </mask>
                <g id="Clip-18"></g>
                <path d="M4.173,2.541 C8.411,3.539 18.611,1.925 18.677,1.915 L18.677,1.915 C18.614,1.918 9.281,2.395 4.285,1.263 L4.285,1.263 C2.968,0.964 2.042,0.842 1.47,0.842 L1.47,0.842 C-0.135,0.842 1.041,1.804 4.173,2.541" id="Fill-17" mask="url(#mask-6)"></path>
            </g>
            <g id="Group-60" transform="translate(0.000000, 0.199300)">
                <g id="Group-22" transform="translate(0.000000, 40.000000)">
                    <mask id="mask-8" fill="white">
                        <use xlink:href="#path-7"></use>
                    </mask>
                    <g id="Clip-21"></g>
                    <path d="M-0.0002,30.8745 L1.9168,30.8745 L1.9168,9.7895 L2.2138,9.7895 L12.9708,30.8745 L13.8638,30.8745 L24.4898,9.6405 L24.6378,9.6405 L24.6378,30.8745 L29.0118,30.8745 L29.0118,4.9495 L24.6378,4.9495 L14.7388,24.8455 L14.5338,24.8455 L4.4478,4.9495 L-0.0002,4.9495 L-0.0002,30.8745 Z M46.3178,15.7815 C46.3178,14.9885 46.1948,14.2625 45.9468,13.6035 C45.6978,12.9485 45.2948,12.3895 44.7358,11.9285 C44.1798,11.4695 43.4468,11.1135 42.5408,10.8605 C41.6358,10.6065 40.5238,10.4785 39.2098,10.4785 C38.1308,10.4785 37.0998,10.6005 36.1208,10.8415 C35.1408,11.0845 34.2848,11.4135 33.5518,11.8275 C32.8198,12.2425 32.2378,12.7365 31.8028,13.3065 C31.3678,13.8775 31.1528,14.4915 31.1528,15.1495 C31.1528,15.4855 31.2018,15.7945 31.3018,16.0795 C31.4008,16.3655 31.5428,16.6145 31.7288,16.8245 C31.9158,17.0345 32.1348,17.2005 32.3888,17.3165 C32.6428,17.4355 32.9258,17.4925 33.2358,17.4925 C33.6318,17.4925 33.9588,17.4185 34.2138,17.2705 C34.4668,17.1225 34.6688,16.9265 34.8168,16.6845 C34.9658,16.4425 35.0698,16.1595 35.1248,15.8375 C35.1798,15.5165 35.2098,15.1795 35.2098,14.8325 C35.2098,14.4585 35.2528,14.0925 35.3398,13.7255 C35.4248,13.3595 35.5898,13.0345 35.8328,12.7485 C36.0748,12.4645 36.4048,12.2355 36.8288,12.0595 C37.2498,11.8855 37.7958,11.7995 38.4658,11.7995 C39.0618,11.7995 39.5978,11.8815 40.0758,12.0505 C40.5528,12.2195 40.9598,12.4955 41.2928,12.8775 C41.6278,13.2635 41.8868,13.7695 42.0678,14.3955 C42.2458,15.0225 42.3368,15.7885 42.3368,16.6945 L42.3368,17.9415 C41.4438,18.1645 40.5278,18.4055 39.5918,18.6655 C38.6548,18.9265 37.7468,19.2225 36.8668,19.5595 C35.9828,19.8935 35.1508,20.2745 34.3618,20.6955 C33.5748,21.1165 32.8858,21.6015 32.2978,22.1475 C31.7078,22.6935 31.2418,23.3105 30.9018,23.9985 C30.5598,24.6865 30.3888,25.4585 30.3888,26.3145 C30.3888,27.0205 30.5068,27.6795 30.7428,28.2865 C30.9788,28.8955 31.3198,29.4225 31.7678,29.8705 C32.2128,30.3135 32.7518,30.6665 33.3848,30.9215 C34.0178,31.1735 34.7248,31.3015 35.5078,31.3015 C36.3498,31.3015 37.0908,31.2065 37.7298,31.0125 C38.3688,30.8215 38.9528,30.5695 39.4788,30.2595 C40.0078,29.9475 40.4968,29.6095 40.9488,29.2355 C41.4028,28.8635 41.8648,28.4985 42.3368,28.1375 L42.3368,30.8745 L46.3178,30.8745 L46.3178,15.7815 Z M42.3368,26.6855 C41.9378,26.9845 41.5528,27.2675 41.1738,27.5325 C40.7948,27.8005 40.4168,28.0335 40.0378,28.2305 C39.6588,28.4305 39.2698,28.5875 38.8668,28.7075 C38.4628,28.8235 38.0378,28.8835 37.5898,28.8835 C37.1678,28.8835 36.7618,28.7875 36.3718,28.5935 C35.9818,28.4015 35.6368,28.1395 35.3398,27.8135 C35.0408,27.4845 34.8028,27.0995 34.6238,26.6575 C34.4428,26.2185 34.3528,25.7565 34.3528,25.2725 C34.3528,24.8005 34.4718,24.3485 34.7078,23.9135 C34.9428,23.4795 35.2608,23.0705 35.6658,22.6865 C36.0678,22.3015 36.5358,21.9385 37.0698,21.5975 C37.6038,21.2545 38.1638,20.9385 38.7528,20.6485 C39.3418,20.3565 39.9438,20.0935 40.5588,19.8565 C41.1738,19.6205 41.7658,19.4105 42.3368,19.2225 L42.3368,26.6855 Z M52.1938,0.6535 L51.0588,0.6535 L48.2288,1.7885 L48.2288,30.8745 L52.1938,30.8745 L52.1938,0.6535 Z M59.1878,0.6535 L58.0538,0.6535 L55.2258,1.7885 L55.2258,30.8745 L59.1878,30.8745 L59.1878,0.6535 Z M75.3288,30.4375 C76.6108,29.8595 77.7258,29.0725 78.6678,28.0725 C79.6098,27.0745 80.3478,25.9095 80.8738,24.5745 C81.4018,23.2405 81.6638,21.8185 81.6638,20.3035 C81.6638,18.9395 81.4018,17.6585 80.8738,16.4605 C80.3478,15.2645 79.6098,14.2215 78.6678,13.3345 C77.7258,12.4485 76.6108,11.7495 75.3288,11.2415 C74.0438,10.7335 72.6388,10.4785 71.1148,10.4785 C69.5888,10.4785 68.1768,10.7585 66.8798,11.3155 C65.5838,11.8745 64.4678,12.6345 63.5298,13.5955 C62.5928,14.5575 61.8628,15.6855 61.3338,16.9815 C60.8068,18.2785 60.5438,19.6645 60.5438,21.1405 C60.5438,22.5435 60.8068,23.8625 61.3338,25.0965 C61.8628,26.3285 62.5928,27.4055 63.5298,28.3245 C64.4678,29.2415 65.5838,29.9685 66.8798,30.5005 C68.1768,31.0335 69.5888,31.3015 71.1148,31.3015 C72.6388,31.3015 74.0438,31.0125 75.3288,30.4375 L75.3288,30.4375 Z M68.9568,29.0015 C68.0988,28.4515 67.3788,27.7005 66.7958,26.7515 C66.2128,25.8025 65.7668,24.6905 65.4578,23.4125 C65.1468,22.1335 64.9918,20.7695 64.9918,19.3185 C64.9918,18.3125 65.1338,17.3635 65.4198,16.4695 C65.7038,15.5785 66.0848,14.7965 66.5628,14.1265 C67.0408,13.4555 67.5908,12.9275 68.2098,12.5445 C68.8298,12.1595 69.4758,11.9665 70.1458,11.9665 C71.4478,11.9665 72.5468,12.2365 73.4398,12.7765 C74.3338,13.3175 75.0598,14.0575 75.6168,15.0005 C76.1758,15.9435 76.5798,17.0425 76.8268,18.3045 C77.0738,19.5635 77.1988,20.9175 77.1988,22.3695 C77.1988,23.3745 77.0678,24.3295 76.8088,25.2365 C76.5468,26.1405 76.1778,26.9315 75.7018,27.6065 C75.2228,28.2835 74.6588,28.8235 74.0078,29.2265 C73.3548,29.6295 72.6388,29.8325 71.8568,29.8325 C70.7778,29.8325 69.8118,29.5565 68.9568,29.0015 L68.9568,29.0015 Z M83.4688,30.8745 L87.4138,30.8745 L87.4138,17.0285 C87.6848,16.5835 87.9588,16.1715 88.2308,15.7905 C88.5038,15.4115 88.7738,15.0845 89.0418,14.8055 C89.3068,14.5245 89.5738,14.3095 89.8398,14.1535 C90.1078,13.9995 90.3718,13.9195 90.6318,13.9195 C90.9678,13.9195 91.2458,13.9665 91.4688,14.0595 C91.6928,14.1535 91.9128,14.2595 92.1308,14.3765 C92.3468,14.4955 92.5888,14.5985 92.8558,14.6925 C93.1218,14.7865 93.4788,14.8325 93.9258,14.8325 C94.6448,14.8325 95.2068,14.6695 95.6098,14.3405 C96.0128,14.0115 96.2148,13.5255 96.2148,12.8775 C96.2148,12.5565 96.1328,12.2485 95.9738,11.9585 C95.8118,11.6675 95.5898,11.4135 95.3118,11.1945 C95.0338,10.9775 94.7078,10.8035 94.3358,10.6745 C93.9618,10.5445 93.5588,10.4785 93.1258,10.4785 C92.5918,10.4785 92.0688,10.5915 91.5528,10.8145 C91.0398,11.0375 90.5388,11.3405 90.0558,11.7255 C89.5708,12.1095 89.1058,12.5565 88.6588,13.0635 C88.2118,13.5735 87.7968,14.1065 87.4138,14.6655 L87.4138,10.8865 L83.4688,10.8865 L83.4688,30.8745 Z M107.1208,30.7615 C108.0948,30.4005 108.9698,29.8805 109.7448,29.1995 C110.5198,28.5175 111.1948,27.6795 111.7648,26.6855 C112.3348,25.6945 112.7888,24.5715 113.1228,23.3185 L111.9328,22.8345 C111.6468,23.5665 111.3248,24.2615 110.9658,24.9195 C110.6048,25.5775 110.1738,26.1525 109.6728,26.6495 C109.1688,27.1445 108.5768,27.5395 107.8948,27.8325 C107.2128,28.1235 106.4058,28.2685 105.4758,28.2685 C104.4198,28.2685 103.4658,28.0165 102.6088,27.5155 C101.7518,27.0125 101.0218,26.3335 100.4148,25.4775 C99.8048,24.6225 99.3338,23.6225 98.9998,22.4795 C98.6648,21.3405 98.4958,20.1295 98.4958,18.8515 C98.4958,17.9095 98.6258,17.0205 98.8888,16.1805 C99.1488,15.3445 99.5278,14.6165 100.0228,13.9945 C100.5188,13.3735 101.1268,12.8815 101.8458,12.5145 C102.5648,12.1485 103.3778,11.9665 104.2838,11.9665 C104.9548,11.9665 105.5058,12.0505 105.9398,12.2195 C106.3748,12.3865 106.7148,12.6165 106.9628,12.9075 C107.2128,13.1985 107.3868,13.5465 107.4838,13.9505 C107.5838,14.3535 107.6348,14.7815 107.6348,15.2425 C107.6348,15.5165 107.6858,15.7815 107.7918,16.0425 C107.8968,16.3025 108.0518,16.5365 108.2578,16.7415 C108.4618,16.9465 108.7078,17.1135 108.9928,17.2425 C109.2778,17.3735 109.6008,17.4375 109.9588,17.4375 C110.2818,17.4375 110.6028,17.3805 110.9188,17.2625 C111.2348,17.1445 111.5158,16.9865 111.7648,16.7865 C112.0118,16.5885 112.2138,16.3555 112.3688,16.0875 C112.5258,15.8215 112.6028,15.5405 112.6028,15.2425 C112.6028,14.5725 112.4098,13.9455 112.0258,13.3615 C111.6408,12.7805 111.1078,12.2745 110.4238,11.8455 C109.7428,11.4175 108.9298,11.0845 107.9878,10.8415 C107.0448,10.6005 106.0148,10.4785 104.8978,10.4785 C103.4588,10.4785 102.1118,10.7635 100.8598,11.3335 C99.6068,11.9055 98.5098,12.6875 97.5658,13.6785 C96.6248,14.6725 95.8808,15.8325 95.3428,17.1605 C94.8038,18.4865 94.5338,19.9065 94.5338,21.4205 C94.5338,22.7865 94.7768,24.0685 95.2688,25.2725 C95.7588,26.4755 96.4268,27.5245 97.2778,28.4165 C98.1268,29.3105 99.1248,30.0145 100.2738,30.5285 C101.4218,31.0435 102.6468,31.3015 103.9498,31.3015 C105.0908,31.3015 106.1468,31.1215 107.1208,30.7615 L107.1208,30.7615 Z M129.5338,15.7815 C129.5338,14.9885 129.4098,14.2625 129.1618,13.6035 C128.9128,12.9485 128.5108,12.3895 127.9518,11.9285 C127.3938,11.4695 126.6608,11.1135 125.7558,10.8605 C124.8498,10.6065 123.7398,10.4785 122.4258,10.4785 C121.3458,10.4785 120.3158,10.6005 119.3368,10.8415 C118.3558,11.0845 117.4998,11.4135 116.7678,11.8275 C116.0358,12.2425 115.4518,12.7365 115.0178,13.3065 C114.5828,13.8775 114.3668,14.4915 114.3668,15.1495 C114.3668,15.4855 114.4168,15.7945 114.5168,16.0795 C114.6148,16.3655 114.7568,16.6145 114.9438,16.8245 C115.1308,17.0345 115.3498,17.2005 115.6048,17.3165 C115.8588,17.4355 116.1418,17.4925 116.4518,17.4925 C116.8488,17.4925 117.1728,17.4185 117.4278,17.2705 C117.6828,17.1225 117.8848,16.9265 118.0328,16.6845 C118.1828,16.4425 118.2828,16.1595 118.3408,15.8375 C118.3958,15.5165 118.4238,15.1795 118.4238,14.8325 C118.4238,14.4585 118.4668,14.0925 118.5538,13.7255 C118.6398,13.3595 118.8058,13.0345 119.0478,12.7485 C119.2898,12.4645 119.6208,12.2355 120.0428,12.0595 C120.4638,11.8855 121.0098,11.7995 121.6798,11.7995 C122.2768,11.7995 122.8118,11.8815 123.2898,12.0505 C123.7678,12.2195 124.1738,12.4955 124.5088,12.8775 C124.8438,13.2635 125.1008,13.7695 125.2818,14.3955 C125.4608,15.0225 125.5508,15.7885 125.5508,16.6945 L125.5508,17.9415 C124.6578,18.1645 123.7418,18.4055 122.8058,18.6655 C121.8688,18.9265 120.9598,19.2225 120.0808,19.5595 C119.1988,19.8935 118.3658,20.2745 117.5768,20.6955 C116.7888,21.1165 116.1018,21.6015 115.5128,22.1475 C114.9218,22.6935 114.4558,23.3105 114.1158,23.9985 C113.7748,24.6865 113.6048,25.4585 113.6048,26.3145 C113.6048,27.0205 113.7208,27.6795 113.9568,28.2865 C114.1938,28.8955 114.5338,29.4225 114.9808,29.8705 C115.4278,30.3135 115.9678,30.6665 116.6008,30.9215 C117.2338,31.1735 117.9398,31.3015 118.7218,31.3015 C119.5658,31.3015 120.3068,31.2065 120.9458,31.0125 C121.5828,30.8215 122.1678,30.5695 122.6948,30.2595 C123.2218,29.9475 123.7108,29.6095 124.1648,29.2355 C124.6188,28.8635 125.0788,28.4985 125.5508,28.1375 L125.5508,30.8745 L129.5338,30.8745 L129.5338,15.7815 Z M125.5508,26.6855 C125.1538,26.9845 124.7668,27.2675 124.3888,27.5325 C124.0088,27.8005 123.6298,28.0335 123.2528,28.2305 C122.8738,28.4305 122.4838,28.5875 122.0808,28.7075 C121.6768,28.8235 121.2518,28.8835 120.8058,28.8835 C120.3828,28.8835 119.9778,28.7875 119.5868,28.5935 C119.1958,28.4015 118.8528,28.1395 118.5538,27.8135 C118.2558,27.4845 118.0188,27.0995 117.8378,26.6575 C117.6568,26.2185 117.5678,25.7565 117.5678,25.2725 C117.5678,24.8005 117.6868,24.3485 117.9208,23.9135 C118.1568,23.4795 118.4768,23.0705 118.8798,22.6865 C119.2818,22.3015 119.7508,21.9385 120.2858,21.5975 C120.8168,21.2545 121.3788,20.9385 121.9688,20.6485 C122.5578,20.3565 123.1608,20.0935 123.7728,19.8565 C124.3888,19.6205 124.9798,19.4105 125.5508,19.2225 L125.5508,26.6855 Z M139.3098,30.8745 L141.2268,30.8745 L141.2268,9.7895 L141.5238,9.7895 L152.2798,30.8745 L153.1738,30.8745 L163.7978,9.6405 L163.9478,9.6405 L163.9478,30.8745 L168.3228,30.8745 L168.3228,4.9495 L163.9478,4.9495 L154.0488,24.8455 L153.8438,24.8455 L143.7578,4.9495 L139.3098,4.9495 L139.3098,30.8745 Z M171.1868,3.8935 C170.9138,3.9965 170.6758,4.1385 170.4708,4.3195 C170.2678,4.5005 170.1008,4.7105 169.9768,4.9515 C169.8538,5.1945 169.7918,5.4515 169.7918,5.7255 C169.7918,5.9975 169.8538,6.2565 169.9768,6.4985 C170.1008,6.7395 170.2678,6.9495 170.4708,7.1305 C170.6758,7.3085 170.9138,7.4535 171.1868,7.5575 C171.4588,7.6635 171.7518,7.7165 172.0618,7.7165 C172.3718,7.7165 172.6668,7.6635 172.9448,7.5575 C173.2248,7.4535 173.4668,7.3085 173.6718,7.1305 C173.8768,6.9495 174.0408,6.7395 174.1648,6.4985 C174.2888,6.2565 174.3498,5.9975 174.3498,5.7255 C174.3498,5.4515 174.2888,5.1945 174.1648,4.9515 C174.0408,4.7105 173.8768,4.5005 173.6718,4.3195 C173.4668,4.1385 173.2248,3.9965 172.9448,3.8935 C172.6668,3.7865 172.3718,3.7335 172.0618,3.7335 C171.7518,3.7335 171.4588,3.7865 171.1868,3.8935 L171.1868,3.8935 Z M170.1268,30.8745 L174.0728,30.8745 L174.0728,10.4785 L172.9168,10.4785 L170.1268,11.6115 L170.1268,30.8745 Z M188.7678,30.7155 C189.7788,30.3245 190.7078,29.7945 191.5578,29.1255 C192.4088,28.4535 193.1518,27.6715 193.7908,26.7715 C194.4298,25.8705 194.8928,24.9075 195.1778,23.8775 L194.0428,23.3745 C193.8568,23.9955 193.5358,24.5995 193.0838,25.1895 C192.6318,25.7775 192.0818,26.2995 191.4378,26.7515 C190.7918,27.2065 190.0718,27.5715 189.2798,27.8495 C188.4838,28.1305 187.6548,28.2685 186.7848,28.2685 C185.7548,28.2685 184.8068,28.0335 183.9378,27.5625 C183.0698,27.0895 182.3248,26.4395 181.7048,25.6065 C181.0848,24.7775 180.5998,23.7855 180.2538,22.6395 C179.9068,21.4925 179.7338,20.2495 179.7338,18.9085 L194.6368,18.9085 C194.6368,17.7925 194.4208,16.7245 193.9858,15.7075 C193.5518,14.6905 192.9458,13.7945 192.1618,13.0175 C191.3808,12.2425 190.4438,11.6275 189.3538,11.1665 C188.2608,10.7075 187.0588,10.4785 185.7428,10.4785 C184.2668,10.4785 182.9248,10.7585 181.7148,11.3155 C180.5058,11.8745 179.4718,12.6485 178.6148,13.6415 C177.7598,14.6345 177.0948,15.8145 176.6258,17.1765 C176.1538,18.5415 175.9168,20.0245 175.9168,21.6265 C175.9168,22.9645 176.1758,24.2215 176.6898,25.3925 C177.2048,26.5665 177.9068,27.5885 178.7918,28.4625 C179.6788,29.3395 180.7148,30.0305 181.8998,30.5385 C183.0858,31.0485 184.3548,31.3015 185.7068,31.3015 C186.7358,31.3015 187.7548,31.1055 188.7678,30.7155 L188.7678,30.7155 Z M179.7508,17.2895 C179.8128,16.5335 179.9838,15.8285 180.2628,15.1775 C180.5418,14.5245 180.8958,13.9645 181.3228,13.4935 C181.7508,13.0225 182.2408,12.6485 182.7938,12.3765 C183.3458,12.1025 183.9188,11.9665 184.5158,11.9665 C185.2348,11.9665 185.9068,12.1025 186.5338,12.3765 C187.1608,12.6485 187.7068,13.0255 188.1708,13.5025 C188.6358,13.9795 189.0038,14.5445 189.2688,15.1965 C189.5358,15.8475 189.6688,16.5505 189.6688,17.3085 L179.7508,17.2895 Z M205.1898,27.6535 C204.9158,27.9765 204.5958,28.2455 204.2308,28.4625 C203.8648,28.6815 203.4568,28.7895 203.0128,28.7895 C202.7128,28.7895 202.4308,28.7315 202.1648,28.6225 C201.8978,28.5115 201.6678,28.3595 201.4768,28.1665 C201.2828,27.9745 201.1318,27.7475 201.0208,27.4865 C200.9088,27.2275 200.8528,26.9465 200.8528,26.6495 L200.8528,12.5605 L205.3368,12.5605 L205.3368,10.8865 L200.8528,10.8865 L200.8528,4.0585 L199.7168,4.0585 C199.5208,5.0755 199.2898,6.0365 199.0298,6.9415 C198.7678,7.8475 198.4078,8.6465 197.9498,9.3345 C197.4908,10.0215 196.9008,10.5675 196.1818,10.9705 C195.4618,11.3755 194.5448,11.5765 193.4278,11.5765 L193.4278,12.5605 L196.8888,12.5605 L196.8888,26.6495 C196.8888,27.3435 196.9668,27.9765 197.1228,28.5475 C197.2758,29.1195 197.5138,29.6095 197.8378,30.0165 C198.1618,30.4265 198.5678,30.7435 199.0578,30.9675 C199.5458,31.1905 200.1258,31.3015 200.7968,31.3015 C202.0878,31.3015 203.1718,31.0335 204.0538,30.5005 C204.9348,29.9685 205.6418,29.2415 206.1738,28.3245 L205.1898,27.6535 Z M206.7008,28.9195 C207.7048,29.7385 208.8648,30.3405 210.1798,30.7235 C211.4938,31.1105 212.8898,31.3015 214.3668,31.3015 C215.3958,31.3015 216.3858,31.1585 217.3338,30.8745 C218.2838,30.5875 219.1718,30.1885 219.9968,29.6735 C220.8198,29.1585 221.5748,28.5375 222.2568,27.8135 C222.9398,27.0875 223.5198,26.2815 223.9968,25.4035 C224.4748,24.5215 224.8468,23.5755 225.1138,22.5645 C225.3818,21.5545 225.5128,20.4975 225.5128,19.3915 C225.5128,18.1645 225.3148,17.0105 224.9188,15.9305 C224.5208,14.8525 223.9688,13.9095 223.2618,13.1025 C222.5548,12.2955 221.7148,11.6565 220.7398,11.1855 C219.7678,10.7145 218.6958,10.4785 217.5298,10.4785 C216.9108,10.4785 216.2648,10.5915 215.5968,10.8145 C214.9258,11.0375 214.2798,11.3355 213.6588,11.7165 C213.0398,12.0945 212.4648,12.5365 211.9378,13.0375 C211.4118,13.5405 210.9868,14.0715 210.6648,14.6295 L210.6648,0.6535 L209.5088,0.6535 L206.7008,1.7705 L206.7008,28.9195 Z M210.6648,15.9865 C210.8978,15.6525 211.1988,15.3355 211.5668,15.0375 C211.9328,14.7395 212.3328,14.4805 212.7658,14.2555 C213.2018,14.0325 213.6568,13.8595 214.1358,13.7355 C214.6118,13.6115 215.0738,13.5495 215.5208,13.5495 C216.3278,13.5495 217.0868,13.7355 217.7998,14.1065 C218.5128,14.4805 219.1348,14.9865 219.6618,15.6235 C220.1878,16.2625 220.6038,17.0175 220.9078,17.8835 C221.2118,18.7525 221.3638,19.6835 221.3638,20.6755 C221.3638,21.9785 221.2158,23.1785 220.9168,24.2765 C220.6198,25.3735 220.2008,26.3235 219.6618,27.1235 C219.1228,27.9255 218.4718,28.5475 217.7178,28.9935 C216.9598,29.4415 216.1158,29.6645 215.1868,29.6645 C214.6278,29.6645 214.1248,29.6025 213.6788,29.4775 C213.2308,29.3555 212.8278,29.1935 212.4688,28.9935 C212.1088,28.7965 211.7808,28.5755 211.4828,28.3335 C211.1848,28.0905 210.9128,27.8475 210.6648,27.5985 L210.6648,15.9865 Z M241.0498,30.4375 C242.3318,29.8595 243.4458,29.0725 244.3878,28.0725 C245.3308,27.0745 246.0658,25.9095 246.5938,24.5745 C247.1218,23.2405 247.3838,21.8185 247.3838,20.3035 C247.3838,18.9395 247.1218,17.6585 246.5938,16.4605 C246.0658,15.2645 245.3308,14.2215 244.3878,13.3345 C243.4458,12.4485 242.3318,11.7495 241.0498,11.2415 C239.7648,10.7335 238.3588,10.4785 236.8328,10.4785 C235.3088,10.4785 233.8968,10.7585 232.5998,11.3155 C231.3048,11.8745 230.1878,12.6345 229.2498,13.5955 C228.3128,14.5575 227.5828,15.6855 227.0548,16.9815 C226.5268,18.2785 226.2638,19.6645 226.2638,21.1405 C226.2638,22.5435 226.5268,23.8625 227.0548,25.0965 C227.5828,26.3285 228.3128,27.4055 229.2498,28.3245 C230.1878,29.2415 231.3048,29.9685 232.5998,30.5005 C233.8968,31.0335 235.3088,31.3015 236.8328,31.3015 C238.3588,31.3015 239.7648,31.0125 241.0498,30.4375 L241.0498,30.4375 Z M234.6758,29.0015 C233.8178,28.4515 233.0988,27.7005 232.5168,26.7515 C231.9328,25.8025 231.4868,24.6905 231.1768,23.4125 C230.8668,22.1335 230.7118,20.7695 230.7118,19.3185 C230.7118,18.3125 230.8538,17.3635 231.1408,16.4695 C231.4238,15.5785 231.8058,14.7965 232.2838,14.1265 C232.7608,13.4555 233.3108,12.9275 233.9308,12.5445 C234.5498,12.1595 235.1958,11.9665 235.8658,11.9665 C237.1688,11.9665 238.2678,12.2365 239.1588,12.7765 C240.0538,13.3175 240.7788,14.0575 241.3358,15.0005 C241.8958,15.9435 242.2988,17.0425 242.5468,18.3045 C242.7928,19.5635 242.9188,20.9175 242.9188,22.3695 C242.9188,23.3745 242.7888,24.3295 242.5288,25.2365 C242.2678,26.1405 241.8978,26.9315 241.4208,27.6065 C240.9428,28.2835 240.3798,28.8235 239.7288,29.2265 C239.0748,29.6295 238.3588,29.8325 237.5778,29.8325 C236.4998,29.8325 235.5318,29.5565 234.6758,29.0015 L234.6758,29.0015 Z M261.0028,30.7155 C262.0138,30.3245 262.9438,29.7945 263.7948,29.1255 C264.6448,28.4535 265.3878,27.6715 266.0268,26.7715 C266.6668,25.8705 267.1278,24.9075 267.4148,23.8775 L266.2798,23.3745 C266.0918,23.9955 265.7738,24.5995 265.3218,25.1895 C264.8668,25.7775 264.3198,26.2995 263.6738,26.7515 C263.0278,27.2065 262.3088,27.5715 261.5148,27.8495 C260.7208,28.1305 259.8908,28.2685 259.0228,28.2685 C257.9918,28.2685 257.0428,28.0335 256.1758,27.5625 C255.3068,27.0895 254.5618,26.4395 253.9418,25.6065 C253.3198,24.7775 252.8358,23.7855 252.4898,22.6395 C252.1418,21.4925 251.9698,20.2495 251.9698,18.9085 L266.8748,18.9085 C266.8748,17.7925 266.6568,16.7245 266.2238,15.7075 C265.7908,14.6905 265.1808,13.7945 264.3988,13.0175 C263.6168,12.2425 262.6828,11.6275 261.5888,11.1665 C260.4978,10.7075 259.2948,10.4785 257.9798,10.4785 C256.5038,10.4785 255.1598,10.7585 253.9508,11.3155 C252.7418,11.8745 251.7078,12.6485 250.8518,13.6415 C249.9968,14.6345 249.3328,15.8145 248.8608,17.1765 C248.3908,18.5415 248.1548,20.0245 248.1548,21.6265 C248.1548,22.9645 248.4118,24.2215 248.9258,25.3925 C249.4408,26.5665 250.1418,27.5885 251.0288,28.4625 C251.9168,29.3395 252.9528,30.0305 254.1378,30.5385 C255.3218,31.0485 256.5908,31.3015 257.9418,31.3015 C258.9708,31.3015 259.9918,31.1055 261.0028,30.7155 L261.0028,30.7155 Z M251.9888,17.2895 C252.0508,16.5335 252.2198,15.8285 252.4988,15.1775 C252.7788,14.5245 253.1308,13.9645 253.5608,13.4935 C253.9888,13.0225 254.4778,12.6485 255.0308,12.3765 C255.5818,12.1025 256.1558,11.9665 256.7508,11.9665 C257.4698,11.9665 258.1438,12.1025 258.7708,12.3765 C259.3978,12.6485 259.9428,13.0255 260.4068,13.5025 C260.8738,13.9795 261.2388,14.5445 261.5068,15.1965 C261.7738,15.8475 261.9048,16.5505 261.9048,17.3085 L251.9888,17.2895 Z M268.4178,30.8745 L272.3628,30.8745 L272.3628,17.0285 C272.6358,16.5835 272.9088,16.1715 273.1828,15.7905 C273.4548,15.4115 273.7248,15.0845 273.9908,14.8055 C274.2588,14.5245 274.5258,14.3095 274.7918,14.1535 C275.0598,13.9995 275.3228,13.9195 275.5828,13.9195 C275.9168,13.9195 276.1978,13.9665 276.4198,14.0595 C276.6438,14.1535 276.8638,14.2595 277.0808,14.3765 C277.2978,14.4955 277.5398,14.5985 277.8068,14.6925 C278.0728,14.7865 278.4298,14.8325 278.8768,14.8325 C279.5968,14.8325 280.1588,14.6695 280.5608,14.3405 C280.9628,14.0115 281.1658,13.5255 281.1658,12.8775 C281.1658,12.5565 281.0848,12.2485 280.9228,11.9585 C280.7628,11.6675 280.5418,11.4135 280.2628,11.1945 C279.9848,10.9775 279.6578,10.8035 279.2858,10.6745 C278.9138,10.5445 278.5108,10.4785 278.0768,10.4785 C277.5428,10.4785 277.0198,10.5915 276.5028,10.8145 C275.9888,11.0375 275.4888,11.3405 275.0068,11.7255 C274.5228,12.1095 274.0578,12.5565 273.6098,13.0635 C273.1638,13.5735 272.7478,14.1065 272.3628,14.6655 L272.3628,10.8865 L268.4178,10.8865 L268.4178,30.8745 Z M286.8178,29.7115 C286.3288,29.5685 285.8568,29.3465 285.4038,29.0415 C284.9518,28.7365 284.5008,28.3455 284.0548,27.8685 C283.6088,27.3905 283.1428,26.8115 282.6598,26.1275 L281.0408,27.5985 C281.6378,28.3795 282.2478,29.0125 282.8728,29.4965 C283.4998,29.9805 284.1268,30.3555 284.7528,30.6225 C285.3798,30.8895 285.9998,31.0705 286.6148,31.1615 C287.2288,31.2555 287.8278,31.3015 288.4088,31.3015 C289.6868,31.3015 290.8078,31.1465 291.7678,30.8365 C292.7308,30.5265 293.5278,30.1015 294.1598,29.5625 C294.7928,29.0225 295.2678,28.3845 295.5838,27.6445 C295.8998,26.9075 296.0578,26.1165 296.0578,25.2725 C296.0578,24.4415 295.8908,23.7135 295.5548,23.0845 C295.2208,22.4595 294.7798,21.9065 294.2338,21.4295 C293.6878,20.9535 293.0688,20.5335 292.3748,20.1715 C291.6788,19.8135 290.9658,19.4765 290.2328,19.1605 C289.4998,18.8435 288.7888,18.5335 288.0928,18.2295 C287.3978,17.9265 286.7778,17.5925 286.2328,17.2345 C285.6868,16.8725 285.2468,16.4695 284.9108,16.0235 C284.5768,15.5785 284.4078,15.0555 284.4078,14.4585 C284.4078,14.1005 284.5008,13.7615 284.6868,13.4375 C284.8748,13.1155 285.1338,12.8305 285.4688,12.5915 C285.8048,12.3485 286.2078,12.1555 286.6788,12.0125 C287.1498,11.8715 287.6658,11.7995 288.2238,11.7995 C289.2908,11.7995 290.2918,12.1025 291.2288,12.7125 C292.1648,13.3205 293.0108,14.2455 293.7698,15.4855 L295.2208,14.1815 C294.6248,13.3995 294.0518,12.7675 293.4998,12.2825 C292.9458,11.7995 292.3938,11.4235 291.8438,11.1575 C291.2908,10.8895 290.7228,10.7125 290.1388,10.6165 C289.5578,10.5245 288.9368,10.4785 288.2798,10.4785 C287.2858,10.4785 286.3728,10.6165 285.5348,10.8965 C284.6978,11.1775 283.9788,11.5635 283.3748,12.0595 C282.7738,12.5565 282.3038,13.1445 281.9608,13.8265 C281.6198,14.5095 281.4498,15.2555 281.4498,16.0615 C281.4498,16.9175 281.6018,17.6585 281.9068,18.2855 C282.2098,18.9105 282.6128,19.4635 283.1168,19.9405 C283.6168,20.4185 284.1928,20.8415 284.8358,21.2055 C285.4808,21.5715 286.1368,21.9135 286.8008,22.2295 C287.4638,22.5455 288.1178,22.8535 288.7628,23.1515 C289.4088,23.4485 289.9818,23.7825 290.4848,24.1475 C290.9868,24.5115 291.3898,24.9205 291.6948,25.3735 C291.9978,25.8275 292.1498,26.3595 292.1498,26.9655 C292.1498,27.3375 292.0578,27.7045 291.8708,28.0635 C291.6858,28.4245 291.4258,28.7405 291.0988,29.0125 C290.7698,29.2865 290.3758,29.5065 289.9168,29.6735 C289.4578,29.8405 288.9548,29.9255 288.4088,29.9255 C287.8398,29.9255 287.3078,29.8535 286.8178,29.7115 L286.8178,29.7115 Z M309.7858,30.7155 C310.7958,30.3245 311.7278,29.7945 312.5768,29.1255 C313.4278,28.4535 314.1708,27.6715 314.8108,26.7715 C315.4498,25.8705 315.9108,24.9075 316.1978,23.8775 L315.0628,23.3745 C314.8758,23.9955 314.5568,24.5995 314.1038,25.1895 C313.6498,25.7775 313.1018,26.2995 312.4568,26.7515 C311.8108,27.2065 311.0908,27.5715 310.2978,27.8495 C309.5038,28.1305 308.6738,28.2685 307.8048,28.2685 C306.7758,28.2685 305.8258,28.0335 304.9578,27.5625 C304.0898,27.0895 303.3438,26.4395 302.7248,25.6065 C302.1038,24.7775 301.6188,23.7855 301.2718,22.6395 C300.9248,21.4925 300.7528,20.2495 300.7528,18.9085 L315.6558,18.9085 C315.6558,17.7925 315.4408,16.7245 315.0058,15.7075 C314.5718,14.6905 313.9638,13.7945 313.1828,13.0175 C312.4008,12.2425 311.4648,11.6275 310.3738,11.1665 C309.2798,10.7075 308.0768,10.4785 306.7628,10.4785 C305.2848,10.4785 303.9428,10.7585 302.7328,11.3155 C301.5248,11.8745 300.4908,12.6485 299.6348,13.6415 C298.7798,14.6345 298.1158,15.8145 297.6448,17.1765 C297.1728,18.5415 296.9368,20.0245 296.9368,21.6265 C296.9368,22.9645 297.1938,24.2215 297.7098,25.3925 C298.2238,26.5665 298.9248,27.5885 299.8118,28.4625 C300.6988,29.3395 301.7348,30.0305 302.9198,30.5385 C304.1048,31.0485 305.3738,31.3015 306.7258,31.3015 C307.7538,31.3015 308.7748,31.1055 309.7858,30.7155 L309.7858,30.7155 Z M300.7708,17.2895 C300.8328,16.5335 301.0028,15.8285 301.2828,15.1775 C301.5618,14.5245 301.9158,13.9645 302.3418,13.4935 C302.7708,13.0225 303.2608,12.6485 303.8138,12.3765 C304.3658,12.1025 304.9388,11.9665 305.5328,11.9665 C306.2528,11.9665 306.9248,12.1025 307.5528,12.3765 C308.1808,12.6485 308.7258,13.0255 309.1908,13.5025 C309.6558,13.9795 310.0208,14.5445 310.2888,15.1965 C310.5558,15.8475 310.6898,16.5505 310.6898,17.3085 L300.7708,17.2895 Z" id="Fill-20" fill="#1C1C1A" mask="url(#mask-8)"></path>
                </g>
                <path d="M77.1302,76.9441 L75.4212,76.9441 L75.4212,79.5531 L77.1302,79.5531 C77.9642,79.5531 78.5122,79.0711 78.5122,78.2481 C78.5122,77.4161 77.9642,76.9441 77.1302,76.9441 M77.1962,80.6061 L75.4212,80.6061 L75.4212,83.6871 L74.2352,83.6871 L74.2352,75.8801 L77.1962,75.8801 C78.7192,75.8801 79.6952,76.8901 79.6952,78.2481 C79.6952,79.6091 78.7192,80.6061 77.1962,80.6061" id="Fill-23" fill="#AA2A25"></path>
                <path d="M83.4734,79.3784 C83.2654,79.1704 82.9794,79.0614 82.6514,79.0614 C82.3224,79.0614 82.0484,79.1704 81.8394,79.3784 C81.5004,79.7174 81.4554,80.3004 81.4554,80.9024 C81.4554,81.5054 81.5004,82.0864 81.8394,82.4264 C82.0484,82.6344 82.3224,82.7544 82.6514,82.7544 C82.9794,82.7544 83.2654,82.6344 83.4734,82.4264 C83.8124,82.0864 83.8564,81.5054 83.8564,80.9024 C83.8564,80.3004 83.8124,79.7174 83.4734,79.3784 M84.3174,83.0944 C83.9554,83.4674 83.4064,83.7524 82.6514,83.7524 C81.8944,83.7524 81.3564,83.4674 80.9964,83.0944 C80.4694,82.5464 80.3364,81.8454 80.3364,80.9024 C80.3364,79.9714 80.4694,79.2684 80.9964,78.7204 C81.3564,78.3484 81.8944,78.0634 82.6514,78.0634 C83.4064,78.0634 83.9554,78.3484 84.3174,78.7204 C84.8444,79.2684 84.9754,79.9714 84.9754,80.9024 C84.9754,81.8454 84.8444,82.5464 84.3174,83.0944" id="Fill-25" fill="#AA2A25"></path>
                <path d="M89.159,79.4333 C88.907,79.1813 88.709,79.0603 88.326,79.0603 C87.723,79.0603 87.219,79.5433 87.219,80.3103 L87.219,83.6863 L86.1,83.6863 L86.1,78.1293 L87.197,78.1293 L87.197,78.7313 C87.482,78.3363 88.051,78.0623 88.677,78.0623 C89.215,78.0623 89.62,78.2053 90.004,78.5893 L89.159,79.4333 Z" id="Fill-27" fill="#AA2A25"></path>
                <path d="M92.6306,83.687 C91.5886,83.687 91.1076,82.941 91.1076,82.142 L91.1076,78.984 L90.4706,78.984 L90.4706,78.129 L91.1076,78.129 L91.1076,76.539 L92.2256,76.539 L92.2256,78.129 L93.2986,78.129 L93.2986,78.984 L92.2256,78.984 L92.2256,82.085 C92.2256,82.491 92.4226,82.733 92.8396,82.733 L93.2986,82.733 L93.2986,83.687 L92.6306,83.687 Z" id="Fill-29" fill="#AA2A25"></path>
                <mask id="mask-10" fill="white">
                    <use xlink:href="#path-9"></use>
                </mask>
                <g id="Clip-32"></g>
                <path d="M94.273,83.687 L95.391,83.687 L95.391,78.129 L94.273,78.129 L94.273,83.687 Z M94.241,77.033 L95.425,77.033 L95.425,75.848 L94.241,75.848 L94.241,77.033 Z" id="Fill-31" fill="#AA2A25" mask="url(#mask-10)"></path>
                <polygon id="Fill-33" fill="#AA2A25" mask="url(#mask-10)" points="99.8953 83.687 98.7333 81.79 97.5603 83.687 96.2113 83.687 98.1193 80.848 96.2883 78.129 97.6363 78.129 98.7333 79.938 99.8183 78.129 101.1673 78.129 99.3473 80.848 101.2443 83.687"></polygon>
                <path d="M104.6717,79.3784 C104.4637,79.1704 104.1777,79.0614 103.8497,79.0614 C103.5207,79.0614 103.2467,79.1704 103.0377,79.3784 C102.6987,79.7174 102.6537,80.3004 102.6537,80.9024 C102.6537,81.5054 102.6987,82.0864 103.0377,82.4264 C103.2467,82.6344 103.5207,82.7544 103.8497,82.7544 C104.1777,82.7544 104.4637,82.6344 104.6717,82.4264 C105.0107,82.0864 105.0557,81.5054 105.0557,80.9024 C105.0557,80.3004 105.0107,79.7174 104.6717,79.3784 M105.5157,83.0944 C105.1537,83.4674 104.6057,83.7524 103.8497,83.7524 C103.0937,83.7524 102.5547,83.4674 102.1947,83.0944 C101.6677,82.5464 101.5357,81.8454 101.5357,80.9024 C101.5357,79.9714 101.6677,79.2684 102.1947,78.7204 C102.5547,78.3484 103.0937,78.0634 103.8497,78.0634 C104.6057,78.0634 105.1537,78.3484 105.5157,78.7204 C106.0427,79.2684 106.1737,79.9714 106.1737,80.9024 C106.1737,81.8454 106.0427,82.5464 105.5157,83.0944" id="Fill-34" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M108.7786,83.687 C107.7156,83.687 107.2546,82.975 107.2546,82.152 L107.2546,75.88 L108.3726,75.88 L108.3726,82.085 C108.3726,82.514 108.5266,82.733 108.9766,82.733 L109.4696,82.733 L109.4696,83.687 L108.7786,83.687 Z" id="Fill-35" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M115.7586,76.9441 L114.0046,76.9441 L114.0046,79.3891 L115.7586,79.3891 C116.5476,79.3891 117.0846,78.9401 117.0846,78.1721 C117.0846,77.4051 116.5476,76.9441 115.7586,76.9441 L115.7586,76.9441 Z M117.1296,83.6871 L115.4846,80.3981 L114.0046,80.3981 L114.0046,83.6871 L112.8206,83.6871 L112.8206,75.8801 L115.8466,75.8801 C117.3256,75.8801 118.2696,76.8341 118.2696,78.1621 C118.2696,79.2791 117.5896,79.9921 116.7116,80.2331 L118.5106,83.6871 L117.1296,83.6871 Z" id="Fill-36" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M122.4739,79.6965 C122.2879,79.2795 121.9049,78.9945 121.3769,78.9945 C120.8409,78.9945 120.4569,79.2795 120.2709,79.6965 C120.1609,79.9375 120.1389,80.1135 120.1269,80.4525 L122.6269,80.4525 C122.6049,80.1135 122.5839,79.9375 122.4739,79.6965 L122.4739,79.6965 Z M120.1269,81.2295 C120.1269,82.1955 120.6209,82.7885 121.5419,82.7885 C122.1659,82.7885 122.4949,82.6125 122.8909,82.2175 L123.6029,82.8865 C123.0329,83.4565 122.4949,83.7515 121.5209,83.7515 C120.1269,83.7515 119.0199,83.0185 119.0199,80.9025 C119.0199,79.0935 119.9519,78.0635 121.3769,78.0635 C122.8689,78.0635 123.7349,79.1365 123.7349,80.7595 L123.7349,81.2295 L120.1269,81.2295 Z" id="Fill-37" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M127.864,81.2304 L126.581,81.2304 C125.902,81.2304 125.561,81.5164 125.561,82.0314 C125.561,82.5464 125.879,82.8204 126.614,82.8204 C127.008,82.8204 127.327,82.7774 127.623,82.5034 C127.797,82.3394 127.864,82.0744 127.864,81.6804 L127.864,81.2304 Z M127.885,83.6874 L127.885,83.1824 C127.48,83.5884 127.096,83.7524 126.406,83.7524 C125.715,83.7524 125.255,83.5884 124.915,83.2474 C124.629,82.9524 124.476,82.5244 124.476,82.0534 C124.476,81.1204 125.123,80.4514 126.406,80.4514 L127.864,80.4514 L127.864,80.0574 C127.864,79.3454 127.525,79.0164 126.646,79.0164 C126.055,79.0164 125.747,79.1694 125.43,79.5644 L124.706,78.8734 C125.221,78.2604 125.759,78.0634 126.691,78.0634 C128.226,78.0634 128.982,78.7204 128.982,79.9714 L128.982,83.6874 L127.885,83.6874 Z" id="Fill-38" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M131.7845,83.687 C130.7215,83.687 130.2605,82.975 130.2605,82.152 L130.2605,75.88 L131.3795,75.88 L131.3795,82.085 C131.3795,82.514 131.5325,82.733 131.9825,82.733 L132.4755,82.733 L132.4755,83.687 L131.7845,83.687 Z" id="Fill-39" fill="#AA2A25" mask="url(#mask-10)"></path>
                <polygon id="Fill-40" fill="#AA2A25" mask="url(#mask-10)" points="135.826 83.687 135.826 75.88 140.815 75.88 140.815 76.944 137.01 76.944 137.01 79.225 140.256 79.225 140.256 80.277 137.01 80.277 137.01 82.623 140.815 82.623 140.815 83.687"></polygon>
                <path d="M143.9456,83.7527 C143.0356,83.7527 142.2676,83.5977 141.6106,82.9527 L142.3436,82.2177 C142.7946,82.6787 143.3976,82.7987 143.9456,82.7987 C144.6356,82.7987 145.1636,82.5567 145.1636,82.0317 C145.1636,81.6477 144.9546,81.4277 144.4176,81.3747 L143.5286,81.2957 C142.4756,81.1977 141.8846,80.7387 141.8846,79.7627 C141.8846,78.6657 142.8166,78.0637 143.9786,78.0637 C144.8226,78.0637 145.5236,78.2387 146.0386,78.6877 L145.3376,79.4007 C144.9876,79.1047 144.4936,78.9947 143.9666,78.9947 C143.2876,78.9947 142.9586,79.2807 142.9586,79.7077 C142.9586,80.0907 143.1776,80.2877 143.7266,80.3437 L144.5046,80.4087 C145.6546,80.5087 146.2586,81.0127 146.2586,81.9867 C146.2586,83.1497 145.2716,83.7527 143.9456,83.7527" id="Fill-41" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M149.0061,83.687 C147.9651,83.687 147.4831,82.941 147.4831,82.142 L147.4831,78.984 L146.8461,78.984 L146.8461,78.129 L147.4831,78.129 L147.4831,76.539 L148.6011,76.539 L148.6011,78.129 L149.6741,78.129 L149.6741,78.984 L148.6011,78.984 L148.6011,82.085 C148.6011,82.491 148.7981,82.733 149.2151,82.733 L149.6741,82.733 L149.6741,83.687 L149.0061,83.687 Z" id="Fill-42" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M153.7947,81.2304 L152.5117,81.2304 C151.8327,81.2304 151.4927,81.5164 151.4927,82.0314 C151.4927,82.5464 151.8097,82.8204 152.5447,82.8204 C152.9397,82.8204 153.2577,82.7774 153.5537,82.5034 C153.7287,82.3394 153.7947,82.0744 153.7947,81.6804 L153.7947,81.2304 Z M153.8157,83.6874 L153.8157,83.1824 C153.4107,83.5884 153.0267,83.7524 152.3367,83.7524 C151.6457,83.7524 151.1867,83.5884 150.8457,83.2474 C150.5597,82.9524 150.4067,82.5244 150.4067,82.0534 C150.4067,81.1204 151.0537,80.4514 152.3367,80.4514 L153.7947,80.4514 L153.7947,80.0574 C153.7947,79.3454 153.4557,79.0164 152.5767,79.0164 C151.9857,79.0164 151.6777,79.1694 151.3607,79.5644 L150.6367,78.8734 C151.1517,78.2604 151.6897,78.0634 152.6217,78.0634 C154.1567,78.0634 154.9127,78.7204 154.9127,79.9714 L154.9127,83.6874 L153.8157,83.6874 Z" id="Fill-43" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M157.8704,83.687 C156.8284,83.687 156.3454,82.941 156.3454,82.142 L156.3454,78.984 L155.7094,78.984 L155.7094,78.129 L156.3454,78.129 L156.3454,76.539 L157.4634,76.539 L157.4634,78.129 L158.5384,78.129 L158.5384,78.984 L157.4634,78.984 L157.4634,82.085 C157.4634,82.491 157.6614,82.733 158.0784,82.733 L158.5384,82.733 L158.5384,83.687 L157.8704,83.687 Z" id="Fill-44" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M162.6472,79.6965 C162.4612,79.2795 162.0772,78.9945 161.5512,78.9945 C161.0142,78.9945 160.6302,79.2795 160.4442,79.6965 C160.3342,79.9375 160.3132,80.1135 160.3012,80.4525 L162.8012,80.4525 C162.7782,80.1135 162.7572,79.9375 162.6472,79.6965 L162.6472,79.6965 Z M160.3012,81.2295 C160.3012,82.1955 160.7952,82.7885 161.7172,82.7885 C162.3402,82.7885 162.6702,82.6125 163.0642,82.2175 L163.7762,82.8865 C163.2072,83.4565 162.6702,83.7515 161.6932,83.7515 C160.3012,83.7515 159.1932,83.0185 159.1932,80.9025 C159.1932,79.0935 160.1262,78.0635 161.5512,78.0635 C163.0422,78.0635 163.9082,79.1365 163.9082,80.7595 L163.9082,81.2295 L160.3012,81.2295 Z" id="Fill-45" fill="#AA2A25" mask="url(#mask-10)"></path>
                <path d="M169.4729,78.9292 C168.2879,78.9292 168.1129,79.9382 168.1129,80.9902 C168.1129,82.0422 168.2879,83.0512 169.4729,83.0512 C170.6459,83.0512 170.8199,82.0422 170.8199,80.9902 C170.8199,79.9382 170.6459,78.9292 169.4729,78.9292 M170.9519,83.2822 C170.6689,83.5662 170.1959,83.7522 169.6369,83.7522 C169.0349,83.7522 168.5629,83.6112 168.1129,83.0402 L168.1129,83.6872 L167.3239,83.6872 L167.3239,75.8802 L168.1129,75.8802 L168.1129,78.9172 C168.5629,78.3592 169.0439,78.2272 169.6369,78.2272 C170.1959,78.2272 170.6689,78.4122 170.9519,78.6982 C171.4889,79.2362 171.6109,80.1242 171.6109,80.9902 C171.6109,81.8562 171.4889,82.7332 170.9519,83.2822" id="Fill-46" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M174.2928,84.9914 C174.1828,85.2874 174.0628,85.4844 173.9088,85.6274 C173.6248,85.9014 173.2398,86.0004 172.8568,86.0004 L172.5158,86.0004 L172.5158,85.2984 L172.7578,85.2984 C173.3058,85.2984 173.4698,85.1224 173.6448,84.6294 L174.0298,83.5774 L172.0898,78.2934 L172.9438,78.2934 L174.4238,82.6224 L175.8928,78.2934 L176.7488,78.2934 L174.2928,84.9914 Z" id="Fill-47" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M182.093,83.7527 C180.931,83.7527 180.153,83.4567 179.428,82.7227 L179.988,82.1627 C180.634,82.8107 181.238,83.0067 182.114,83.0067 C183.266,83.0067 183.968,82.4807 183.968,81.5597 C183.968,81.1447 183.846,80.8147 183.583,80.5847 C183.342,80.3657 183.123,80.2877 182.565,80.2007 L181.655,80.0697 C181.039,79.9717 180.58,79.7837 180.229,79.4767 C179.834,79.1267 179.626,78.6437 179.626,78.0077 C179.626,76.6807 180.58,75.8147 182.126,75.8147 C183.123,75.8147 183.781,76.0777 184.45,76.6697 L183.912,77.2077 C183.44,76.7587 182.904,76.5287 182.093,76.5287 C181.039,76.5287 180.438,77.1087 180.438,77.9847 C180.438,78.3697 180.548,78.6877 180.789,78.8967 C181.029,79.1047 181.402,79.2357 181.807,79.3017 L182.718,79.4437 C183.44,79.5537 183.781,79.6857 184.132,80.0037 C184.548,80.3657 184.789,80.8907 184.789,81.5387 C184.789,82.9087 183.726,83.7527 182.093,83.7527" id="Fill-48" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M187.4388,83.687 C186.5168,83.687 186.0568,83.04 186.0568,82.24 L186.0568,78.896 L185.3768,78.896 L185.3768,78.293 L186.0568,78.293 L186.0568,76.638 L186.8458,76.638 L186.8458,78.293 L187.9988,78.293 L187.9988,78.896 L186.8458,78.896 L186.8458,82.217 C186.8458,82.712 187.0768,83.008 187.5818,83.008 L187.9988,83.008 L187.9988,83.687 L187.4388,83.687 Z" id="Fill-49" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M192.2166,79.7072 C191.9856,79.2142 191.5366,78.8962 190.9556,78.8962 C190.3756,78.8962 189.9246,79.2142 189.6946,79.7072 C189.5636,79.9912 189.5516,80.1682 189.5296,80.6062 L192.3916,80.6062 C192.3596,80.1682 192.3476,79.9912 192.2166,79.7072 L192.2166,79.7072 Z M189.5296,81.1992 C189.5296,82.3822 190.0786,83.0612 191.1196,83.0612 C191.7446,83.0612 192.1066,82.8752 192.5336,82.4482 L193.0706,82.9192 C192.5236,83.4672 192.0076,83.7532 191.0976,83.7532 C189.6606,83.7532 188.7416,82.8972 188.7416,80.9902 C188.7416,79.2352 189.5846,78.2272 190.9556,78.2272 C192.3596,78.2272 193.1696,79.2252 193.1696,80.8472 L193.1696,81.1992 L189.5296,81.1992 Z" id="Fill-50" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M195.3035,78.8962 L195.3035,83.6872 L194.5145,83.6872 L194.5145,78.8962 L193.8235,78.8962 L193.8235,78.2932 L194.5145,78.2932 L194.5145,77.3062 C194.5145,76.5062 194.9645,75.8592 195.8855,75.8592 L196.4555,75.8592 L196.4555,76.5392 L196.0275,76.5392 C195.5225,76.5392 195.3035,76.8352 195.3035,77.3282 L195.3035,78.2932 L196.4555,78.2932 L196.4555,78.8962 L195.3035,78.8962 Z" id="Fill-51" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M198.678,78.8962 L198.678,83.6872 L197.889,83.6872 L197.889,78.8962 L197.198,78.8962 L197.198,78.2932 L197.889,78.2932 L197.889,77.3062 C197.889,76.5062 198.339,75.8592 199.26,75.8592 L199.83,75.8592 L199.83,76.5392 L199.402,76.5392 C198.897,76.5392 198.678,76.8352 198.678,77.3282 L198.678,78.2932 L199.83,78.2932 L199.83,78.8962 L198.678,78.8962 Z" id="Fill-52" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M203.8836,79.7072 C203.6526,79.2142 203.2036,78.8962 202.6226,78.8962 C202.0426,78.8962 201.5916,79.2142 201.3616,79.7072 C201.2306,79.9912 201.2186,80.1682 201.1966,80.6062 L204.0586,80.6062 C204.0266,80.1682 204.0146,79.9912 203.8836,79.7072 L203.8836,79.7072 Z M201.1966,81.1992 C201.1966,82.3822 201.7456,83.0612 202.7866,83.0612 C203.4116,83.0612 203.7736,82.8752 204.2006,82.4482 L204.7376,82.9192 C204.1906,83.4672 203.6746,83.7532 202.7646,83.7532 C201.3276,83.7532 200.4086,82.8972 200.4086,80.9902 C200.4086,79.2352 201.2516,78.2272 202.6226,78.2272 C204.0266,78.2272 204.8366,79.2252 204.8366,80.8472 L204.8366,81.1992 L201.1966,81.1992 Z" id="Fill-53" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M209.5369,83.687 L209.5369,80.365 C209.5369,79.411 209.0199,78.929 208.2099,78.929 C207.3989,78.929 206.8729,79.422 206.8729,80.365 L206.8729,83.687 L206.0839,83.687 L206.0839,78.293 L206.8729,78.293 L206.8729,78.884 C207.2569,78.447 207.7829,78.228 208.3849,78.228 C208.9679,78.228 209.4379,78.403 209.7679,78.731 C210.1499,79.104 210.3269,79.608 210.3269,80.233 L210.3269,83.687 L209.5369,83.687 Z" id="Fill-54" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M218.5325,77.1967 C218.1375,76.7587 217.5885,76.6267 216.9975,76.6267 L215.2975,76.6267 L215.2975,82.9417 L216.9975,82.9417 C217.5885,82.9417 218.1375,82.8097 218.5325,82.3717 C219.0365,81.8347 219.0475,80.8697 219.0475,79.7837 C219.0475,78.6987 219.0365,77.7337 218.5325,77.1967 M219.1885,82.8647 C218.6625,83.4347 218.0155,83.6867 217.1395,83.6867 L214.4655,83.6867 L214.4655,75.8807 L217.1395,75.8807 C218.0155,75.8807 218.6625,76.1327 219.1885,76.7037 C219.8795,77.4477 219.8795,78.5887 219.8795,79.7837 C219.8795,80.9777 219.8795,82.1187 219.1885,82.8647" id="Fill-55" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M224.019,77.086 L224.809,77.086 L224.809,76.111 L224.019,76.111 L224.019,77.086 Z M224.238,79.323 C223.976,79.061 223.635,78.928 223.252,78.928 C222.867,78.928 222.54,79.061 222.276,79.323 C221.881,79.717 221.838,80.377 221.838,80.99 C221.838,81.593 221.87,82.251 222.276,82.656 C222.54,82.919 222.867,83.05 223.252,83.05 C223.635,83.05 223.976,82.919 224.238,82.656 C224.633,82.251 224.666,81.593 224.666,80.99 C224.666,80.377 224.633,79.717 224.238,79.323 L224.238,79.323 Z M221.694,77.086 L222.485,77.086 L222.485,76.111 L221.694,76.111 L221.694,77.086 Z M224.798,83.14 C224.425,83.522 223.909,83.753 223.252,83.753 C222.593,83.753 222.079,83.522 221.706,83.14 C221.158,82.58 221.049,81.824 221.049,80.99 C221.049,80.156 221.158,79.388 221.706,78.84 C222.079,78.457 222.593,78.228 223.252,78.228 C223.909,78.228 224.425,78.457 224.798,78.84 C225.346,79.388 225.455,80.156 225.455,80.99 C225.455,81.824 225.346,82.58 224.798,83.14 L224.798,83.14 Z" id="Fill-56" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M230.1985,83.687 L230.1985,80.354 C230.1985,79.401 229.7045,78.929 228.8835,78.929 C228.0605,78.929 227.5335,79.401 227.5335,80.354 L227.5335,83.687 L226.7445,83.687 L226.7445,75.88 L227.5335,75.88 L227.5335,78.884 C227.9285,78.447 228.4325,78.228 229.0465,78.228 C230.2745,78.228 230.9885,79.005 230.9885,80.221 L230.9885,83.687 L230.1985,83.687 Z" id="Fill-57" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M235.9388,83.687 L235.9388,80.365 C235.9388,79.411 235.4218,78.929 234.6118,78.929 C233.8008,78.929 233.2738,79.422 233.2738,80.365 L233.2738,83.687 L232.4848,83.687 L232.4848,78.293 L233.2738,78.293 L233.2738,78.884 C233.6578,78.447 234.1848,78.228 234.7868,78.228 C235.3698,78.228 235.8398,78.403 236.1698,78.731 C236.5518,79.104 236.7298,79.608 236.7298,80.233 L236.7298,83.687 L235.9388,83.687 Z" id="Fill-58" fill="#1C1C1A" mask="url(#mask-10)"></path>
                <path d="M241.428,79.7072 C241.197,79.2142 240.748,78.8962 240.167,78.8962 C239.587,78.8962 239.136,79.2142 238.906,79.7072 C238.775,79.9912 238.763,80.1682 238.741,80.6062 L241.602,80.6062 C241.571,80.1682 241.559,79.9912 241.428,79.7072 L241.428,79.7072 Z M238.741,81.1992 C238.741,82.3822 239.29,83.0612 240.331,83.0612 C240.956,83.0612 241.317,82.8752 241.745,82.4482 L242.282,82.9192 C241.735,83.4672 241.219,83.7532 240.309,83.7532 C238.872,83.7532 237.952,82.8972 237.952,80.9902 C237.952,79.2352 238.796,78.2272 240.167,78.2272 C241.571,78.2272 242.381,79.2252 242.381,80.8472 L242.381,81.1992 L238.741,81.1992 Z" id="Fill-59" fill="#1C1C1A" mask="url(#mask-10)"></path>
            </g>
        </g>
    </g>
</svg>