<svg width="1911px" height="166px" viewBox="0 0 1911 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>ola</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="ola-1" points="955.0799 0.71 0 0.71 0 158.68 1910.1598 158.68 1910.1598 0.71 955.0799 0.71"></polygon>
        <polygon id="ola-3" points="955.0799 87 0 87 0 0.394306573 1910.1598 0.394306573 1910.1598 87"></polygon>
        <path d="M1910.1598,9.71 C1875.9708,21.93 1759.1198,49.69 1429.0198,31.7 C1004.5298,8.58 851.0798,-9.96 516.5398,6.94 C295.9198,18.08 50.6698,65.78 -0.0002,76.01 L-0.0002,79.68 L-0.0002,87 C60.3398,72.63 339.5698,11.29 686.3698,10.11 C1077.7608,8.77 1067.2898,23.62 1509.1698,47.04 C1767.3598,60.72 1894.3008,32.62 1910.1598,28.8 L1910.1598,9.74 L1910.1598,9.71 Z" id="ola-5"></path>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-6">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.283797554 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="ola" transform="translate(0.000000, -1.000000)">
            <g id="Group-3" transform="translate(0.000000, 0.290000)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#ola-1"></use>
                </mask>
                <g id="Clip-2"></g>
                <path d="M1910.1598,88.71 L1910.1598,0.71 L-0.0002,1.85 L-0.0002,155.01 L-0.0002,158.68 C57.6298,147.53 383.9298,87.29 706.0398,87.44 C1121.1898,87.62 1344.9398,114.31 1593.1498,118.7 C1795.5798,122.28 1881.3298,99.49 1910.1598,88.74 L1910.1598,88.71 Z" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
            </g>
            <g id="Group-6" transform="translate(0.000000, 79.290000)">
                <mask id="mask-4" fill="white">
                    <use xlink:href="#ola-3"></use>
                </mask>
                <g id="Clip-5"></g>
                <g id="Fill-4" mask="url(#mask-4)">
                    <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#ola-5"></use>
                    <use fill="#CB0623" fill-rule="evenodd" xlink:href="#ola-5"></use>
                </g>
            </g>
        </g>
    </g>
</svg>