/* ==========================================================================
   #ICON
   ========================================================================== */


.u-icon {

  &-primary {
    color: $color-primary;
  }

  &-big {
    font-size: 30px;
  }

  &-space {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}