/* ==========================================================================
   #TEXT
   ========================================================================== */


.u-text {
    &-uppercase {
      text-transform: uppercase;
    }

    &-regular {
      font-weight: 400;
    }

    &-small {
      font-size: 14px;
    }
}