/* ==========================================================================
   #BG
   ========================================================================== */


.u-bg {

  &-primary {
    background-color: $color-primary;
  }

}