/* =============================================================================
GLOBAL
============================================================================= */

/**
* Variables del proyecto
**/

// COLORS
$color-default: #333;
$color-primary: #b21023;
$color-complementary-1: #e4e4e4;
$color-complementary-2: #dadada;
$color-complementary-3: #8a8a8a;
$color-complementary-4: #efefef;

$color-refineria: #8dbed5;

// FONTS
$font-primary: 'Roboto', sans-serif;

// WIDTHS
$global-wrapper-width: 1250px;
$global-wrapper-padding: 15px;

// OBJECTS VARIABLES
$o-layout-paddings: (
    tiny: 20px,
    small: 30px,
    default: 40px,
    medium: 50px,
    large: 60px,
    xlarge: 70px,
    big: 80px,
    xbig: 90px,
    super: 100px
);

$o-box-paddings: (
    tiny: 5px,
    small: 10px,
    default: 15px,
    medium: 20px,
    large: 25px,
    xlarge: 30px
);

// ICONS
$icomoon-font-path: "../fonts";

$c-icon-arrow-right: "\e900";
$c-icon-apartamento: "\e901";
$c-icon-arrow-bottom: "\e902";
$c-icon-arrow-left: "\e903";
$c-icon-arrow-top: "\e904";
$c-icon-bed: "\e905";
$c-icon-casa: "\e906";
$c-icon-ducha: "\e907";
$c-icon-email: "\e908";
$c-icon-facebook: "\e909";
$c-icon-google: "\e90a";
$c-icon-instagram: "\e90b";
$c-icon-linkedin: "\e90c";
$c-icon-location: "\e90d";
$c-icon-logo-small-path1: "\e90e";
$c-icon-logo-small-path2: "\e90f";
$c-icon-logo-small-path3: "\e910";
$c-icon-logo-small-path4: "\e911";
$c-icon-logo-small-path5: "\e912";
$c-icon-logo-small-path6: "\e913";
$c-icon-logo-small-path7: "\e914";
$c-icon-logo-small-path8: "\e915";
$c-icon-logo-small-path9: "\e916";
$c-icon-logo-small-path10: "\e917";
$c-icon-logo-small-path11: "\e918";
$c-icon-logo-small-path12: "\e919";
$c-icon-logo-small-path13: "\e91a";
$c-icon-logo-small-path14: "\e91b";
$c-icon-logo-small-path15: "\e91c";
$c-icon-logo-small-path16: "\e91d";
$c-icon-logo-small-path17: "\e91e";
$c-icon-logo-small-path18: "\e91f";
$c-icon-logo-small-path19: "\e920";
$c-icon-logo-small-path20: "\e921";
$c-icon-logo-small-path21: "\e922";
$c-icon-logo-small-path22: "\e923";
$c-icon-logo-small-path23: "\e924";
$c-icon-logo-small-path24: "\e925";
$c-icon-logo-small-path25: "\e926";
$c-icon-logo-small-path26: "\e927";
$c-icon-logo-small-path27: "\e928";
$c-icon-logo-small-path28: "\e929";
$c-icon-logo-small-path29: "\e92a";
$c-icon-logo-small-path30: "\e92b";
$c-icon-logo-small-path31: "\e92c";
$c-icon-logo-small-path32: "\e92d";
$c-icon-logo-small-path33: "\e92e";
$c-icon-logo-small-path34: "\e92f";
$c-icon-logo-small-path35: "\e930";
$c-icon-logo-path1: "\e931";
$c-icon-logo-path2: "\e932";
$c-icon-logo-path3: "\e933";
$c-icon-logo-path4: "\e934";
$c-icon-logo-path5: "\e935";
$c-icon-logo-path6: "\e936";
$c-icon-logo-path7: "\e937";
$c-icon-logo-path8: "\e938";
$c-icon-logo-path9: "\e939";
$c-icon-logo-path10: "\e93a";
$c-icon-logo-path11: "\e93b";
$c-icon-logo-path12: "\e93c";
$c-icon-logo-path13: "\e93d";
$c-icon-logo-path14: "\e93e";
$c-icon-logo-path15: "\e93f";
$c-icon-logo-path16: "\e940";
$c-icon-logo-path17: "\e941";
$c-icon-logo-path18: "\e942";
$c-icon-logo-path19: "\e943";
$c-icon-logo-path20: "\e944";
$c-icon-logo-path21: "\e945";
$c-icon-logo-path22: "\e946";
$c-icon-logo-path23: "\e947";
$c-icon-logo-path24: "\e948";
$c-icon-logo-path25: "\e949";
$c-icon-logo-path26: "\e94a";
$c-icon-logo-path27: "\e94b";
$c-icon-logo-path28: "\e94c";
$c-icon-logo-path29: "\e94d";
$c-icon-logo-path30: "\e94e";
$c-icon-logo-path31: "\e94f";
$c-icon-logo-path32: "\e950";
$c-icon-logo-path33: "\e951";
$c-icon-logo-path34: "\e952";
$c-icon-phone: "\e953";
$c-icon-piso: "\e954";
$c-icon-refineria: "\e955";
$c-icon-search: "\e956";
$c-icon-twitter: "\e957";