{{#ifpage 'index' 'historia' 'bodas' 'eventos'}}
    <footer class="c-footer">
        <div class="c-footer__wrap o-wrapper o-layout o-layout--top-super o-layout--bottom-super">
            <picture class="c-footer__img">
                <source srcset="https://dummyimage.com/1920x1080/333/999" media="(min-width: 1281px)">
                <source srcset="https://dummyimage.com/1280x800/333/999" media="(min-width: 769px)">
                <source srcset="https://dummyimage.com/768x600/333/999" media="(min-width: 481px)">
                <source srcset="https://dummyimage.com/480x600/333/999">
                <img srcset="https://dummyimage.com/480x600/333/999" alt="Comassema">
            </picture>
            <div class="c-footer__contact o-layout o-layout--super">
                <div class="c-footer__logo">
                    <img src="{{root}}assets/img/logo-white.svg">
                </div>
                <a href="{{root}}contacto.html" class="c-btn c-btn--white">Contacto</a>
            </div>
            <div class="c-footer__box">
                <a href="#"><img src="{{root}}assets/img/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="{{root}}assets/img/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="{{root}}assets/img/twitter.png" alt="Zankyou"></a>
                <div class="c-footer__copy">
                    <a href="https://www.refineriaweb.com/">{{> svg-refineria }}</a>Finca Comassema © 2017 Todos los derechos Reservados
                </div>
            </div>
        </div>
    </footer>
{{/ifpage}}
{{#ifpage 'blog' 'blog-ficha' 'contact' 'tours' 'contacto'}}
    <footer class="c-footer2 u-bg-2">
        <div class="c-footer2__wrap o-wrapper">
            <div class="o-layout o-layout--large">
                <div class="o-layout__row o-layout__row--footer">
                    <div class="o-layout__columns">
                        <div class="c-heading c-heading--type-4">Contacto</div>
                        <address class="c-footer2__address">
                            <p>Camino Privado s/n, Orient Bunyola <br>07349 - Mallorca - SPAIN</p>

                            <p><a href="mailto:bodasyeventos@fincacomassema.com">bodasyeventos@fincacomassema.com </a></p>

                            <p>GPS: 39.752934, 2.775099</p>
                        </address>
                    </div>
                    <div class="o-layout__columns">
                        <div class="c-footer2__logo">
                            <img src="{{root}}assets/img/logo-white.svg">
                        </div>
                        <div class="c-footer2__copy">
                            <a href="https://www.refineriaweb.com/">{{> svg-refineria }}</a>Finca Comassema © 2017 Todos los derechos Reservados
                        </div>
                    </div>
                    <div class="o-layout__columns">
                        <div class="c-heading c-heading--type-4">Encuentranos en:</div>
                        <div class="c-footer2__box">
                            <a href="#"><img src="{{root}}assets/img/facebook.png" alt="Facebook"></a>
                            <a href="#"><img src="{{root}}assets/img/instagram.png" alt="Instagram"></a>
                            <a href="#"><img src="{{root}}assets/img/twitter.png" alt="Zankyou"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{{/ifpage}}