<meta charset="UTF-8">
<title>{{pageTitle}}</title>
<meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="{{root}}assets/css/main.css">