<header class="c-header">
    <div class="c-header__wrap o-wrapper">
        <div class="c-header__logo">
            <a href="{{root}}/" class="c-logo">
                <picture>
                    <source srcset="{{root}}assets/img/logo.svg" media="(min-width: 1024px)">
                    <source srcset="{{root}}assets/img/logo2.svg">
                    <img srcset="{{root}}assets/img/logo2.svg">
                </picture>
            </a>
            <h1 class="c-header__h1">Finca Bodas y Eventos</h1>
        </div>
        <a href="#" class="c-hamburger js-main-nav">
            <span class="c-hamburger__line"></span>
            <span class="c-hamburger__line"></span>
            <span class="c-hamburger__line"></span>
        </a>
        <nav class="c-header__nav js-main-nav-target">
            <ul class="c-header__list">
                <li class="c-header__item"><a href="{{root}}/" class="c-header__link">La finca</a></li>
                <li class="c-header__item"><a href="{{root}}/tours.html" class="c-header__link">Tours</a></li>
                <li class="c-header__item"><a href="{{root}}/historia.html" class="c-header__link">Historia</a></li>
                <li class="c-header__item"><a href="{{root}}/bodas.html" class="c-header__link">Bodas</a></li>
                <li class="c-header__item"><a href="{{root}}/eventos.html" class="c-header__link">Eventos</a></li>
                <li class="c-header__item"><a href="{{root}}/blog.html" class="c-header__link">Blog</a></li>
                <li class="c-header__item"><a href="{{root}}/contacto.html" class="c-header__link">Contacto</a></li>
                <li class="c-header__item c-header__item--langs has-submenu">
                    <a href="#" class="c-header__link js-lang">Esp</a>
                    <ul class="c-header__submenu js-lang-target">
                        <li class="c-header__submenu-item"><a href="#" class="c-header__submenu-link is-active">Español</a></li>
                        <li class="c-header__submenu-item"><a href="#" class="c-header__submenu-link">Inglés</a></li>
                        <li class="c-header__submenu-item"><a href="#" class="c-header__submenu-link">Alemán</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>