.c-select {
    position: relative;

    width: 100%;
    min-width: 150px;

    cursor: pointer;

    border: 1px solid $color-complementary-1;
    border-radius: 5px;
    background-color: #fff;

    &__element {
        width: 100%;
        height: 40px;
        padding-right: 47px;
        padding-left: 15px;

        cursor: pointer;
        text-transform: uppercase;

        color: $color-primary;
        border: 0;
        outline-width: 1px;
        outline-color: $color-primary;
		background-color: transparent;

        appearance: none;
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 13px;

        display: flex;

        transform: translateY(-50%);
        pointer-events: none;

        color: $color-primary;

        font-size: 12px;
    }
}