.c-hamburger {
    $parent: &;

    position: relative;

    display: block;

    width: 32px;
    height: 24px;

    &__line {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 2px;

        transition: all .3s;

        background-color: $color-primary;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;

            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    &.is-active {
        #{$parent}__line {
            top: 50%;
            left: 50%;

            transition: all .3s;
            &:nth-child(1) {
                margin-left: -1px;

                transform: rotate(45deg) translate(-50%,-50%);
                transform-origin: left;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(-50%,-50%);
                transform-origin: left;
            }
        }
    }
}