.c-main-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
	&__wrap {
        display: flex;

        padding: 10px 15px;

        align-items: center;
        @include breakpoint(small) {
            padding-right: 20px;
            padding-left: 20px;
        }
	}

    &__logo {
        max-width: 150px;

        @include breakpoint(small) {
            max-width: 100%;
        }
    }

	&__nav {
        @include breakpoint(small down) {
            top: 70px;
        }
        @include breakpoint(xlarge down) {
            position: absolute;
            z-index: 1;
            left: 0;

            display: none;

            width: 100%;
            padding-top: 35px;
            padding-bottom: 30px;

            text-align: center;

            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        @include breakpoint(small xlarge) {
            top: 120px;
        }
        @include breakpoint(large xlarge) {
            padding-top: 50px;
            padding-left: 10px;
        }
        @include breakpoint(xlarge) {
            margin-left: 40px;
        }

        &.is-active {
            display: block;
        }
	}

	&__box {
        display: flex;

        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;

        & > :first-child {
            @include breakpoint(xlarge down) {
                margin-right: 10px;
            }
        }

        & > :last-child {
            @include breakpoint(xlarge) {
                display: none;
            }
        }
	}

    &__bg {
        position: relative;
        z-index: 1;

        background-color: #fff;
    }

    &__line {
        position: absolute;
        z-index: 2;
        top: 50px;
        left: 0;

        width: 100%;
        height: 105px;

        background-image: url(../img/svg/ola.svg);
        background-repeat: no-repeat;
        background-position: center -65px;
        pointer-events: none;
        @include breakpoint(small) {
            top: 100px;
        }
    }
}
