.c-search {
    $parent: &;
    width: 100%;

    &__wrap {
        overflow: hidden;

        border-radius: 5px;
        background-color: rgba(#fff, 0.8);

        @include breakpoint(medium) {
            display: flex;

            flex-wrap: wrap;
        }
    }

    &__title {
        padding: 15px 20px;

        text-align: center;

        font-size: 24px;
        font-weight: 700;
        font-style: italic;
        line-height: 1;

        @include breakpoint(medium) {
            display: flex;

            align-items: center;
        }
        @include breakpoint(xlarge) {
            font-size: 27px;
        }
    }

    &__box {
        display: flex;

        justify-content: center;
        align-items: center;
        @include breakpoint(medium down) {
            padding-right: 10px;
            padding-bottom: 20px;
            padding-left: 10px;
        }
        @include breakpoint(medium xlarge) {
            &:nth-child(2),
            &:nth-child(3) {
                flex-grow: 1;
            }

            &:nth-child(4),
            &:nth-child(5) {
                width: 100%;
            }

            &:nth-child(4) {
                padding: 20px;

                border-top: 1px solid $color-complementary-2;
            }

            &:nth-child(5) {
                padding-right: 20px;
                padding-bottom: 20px;
                padding-left: 20px;
            }
        }
        @include breakpoint(xlarge) {
            flex-grow: 1;

            &:nth-child(4) {
                padding-right: 10px;
                padding-left: 10px;
            }

            &:nth-child(5) {
                padding: 5px;

                flex: 0;
            }
        }

    }

    &__link {
        display: inline-flex;
        position: relative;

        min-width: 0;
        padding: 15px;

        transition: all .3s;
        text-decoration: none;
        text-transform: uppercase;

        color: $color-default;
        border-radius: 5px;

        font-size: 14px;

        align-items: center;
        justify-content: center;
        flex: 1;
        @include breakpoint(medium down) {
            margin-right: 5px;
            margin-left: 5px;
        }
        @include breakpoint(medium) {
            align-self: stretch;
        }

        &::after {
            @include breakpoint(medium) {
                content: "";
                @include css-triangle('top', $color-primary, 6px);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 4;
                opacity: 0;
                transition: all .3s;
            }
        }

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            @include breakpoint(medium) {
                transition: all .3s;
                color: $color-primary;

                &::after {
                    opacity: 1;
                    bottom: 10px;
                    transition: all .3s;
                }
            }
        }

        &--buy,
        &--rent {
            @include breakpoint(medium down) {
                color: #fff;
                background-color: $color-complementary-3;
            }

            &.is-active {
                @include breakpoint(medium down) {
                    background-color: $color-primary;
                }
            }
        }

        &--apartment,
        &--flat,
        &--house {
            display: flex;
            flex-direction: column;

            color: $color-complementary-3;

            font-size: 12px;

            justify-content: center;
            align-items: center;
            @include breakpoint(medium) {
                font-size: 10px;
            }
            @include breakpoint(xlarge) {
                font-size: 12px;
            }

            [class*=" c-icon-"],
            [class^="c-icon-"] {
                position: relative;
                z-index: 3;

                font-size: 20px;

                @include breakpoint(xlarge) {
                    font-size: 34px;
                }
            }

            &.is-active {
                color: $color-primary;
            }
        }

        &--buy,
        &--house {
            @include breakpoint(medium) {
                position: relative;

                &::before {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: -4%;

                    width: 100%;
                    height: 100%;

                    content: "";
                    transform: skewX(20deg);

                    background-color: #fff;
                }
            }
        }

        &--rent {
            @include breakpoint(medium) {
                position: relative;

                &::before {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 4%;

                    width: 100%;
                    height: 100%;

                    content: "";
                    transform: skewX(-20deg);

                    background-color: $color-complementary-2;
                }
            }
        }

        &-text {
            position: relative;
            z-index: 3;

            display: block;
            overflow: hidden;

            max-width: 100%;

            white-space: nowrap;
            text-overflow: ellipsis;

        }
    }

    &__btn {
        display: flex;

        padding: 15px;

        color: #fff;
        border: 0;
        border-radius: 5px;
        background-color: $color-primary;

        appearance: none;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        @include breakpoint(xlarge down) {
            text-transform: uppercase;
        }
        @include breakpoint(xlarge) {
            flex-direction: column;

            padding-right: 20px;
            padding-left: 20px;

            transition: all .3s;

            font-style: italic;

            &.is-active,
            &:active,
            &:focus,
            &:hover {
                transition: all .3s;

                background-color: darken($color-primary, 5%);
            }
        }

        span {
            margin-right: 5px;

            font-size: 20px;
        }
    }

    &--secondary {
        #{$parent} {
            &__wrap {
                background-color: $color-complementary-1;
            }
        }
    }
}
