.c-number {
    position: absolute;
    bottom: 0;
    right: 0;

    @include breakpoint(large down) {
        display: none;
    }

    &--theme-2 {
        position: relative;
        @include breakpoint(large down) {
            display: block;
        }
    }
}