.c-last-posts {
    text-transform: uppercase;
    border-bottom: 1px solid $color-default;
    padding-bottom: 10px;

	&__heading {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
	}

	&__item {
        display: flex;
        padding-bottom: 10px;
	}

	&__img {
        min-width: 150px;
        padding-right: 20px;
	}

	&__box {
        flex-grow: 1;
	}

	&__title {
        font-size: 12px;
	}

	&__date {
        font-size: 12px;
        color: #ccc;
	}
}
