.c-checkbox {
    display: block ;
    cursor: pointer;
    padding-right: 15px;

    &:hover, &:active, &:focus, &.is-active {
        label::before {
            content: "✓";
            transition: all .3s;
        }
    }

    input[type=checkbox],
    input[type=radio] {
        display: none;
    }

    label {
        cursor: pointer;
        display: inline-flex;
        align-items: flex-start;
        position: relative;
        padding-left: 25px;
        z-index: 1;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;

        span{
            margin-left: 5px;
            color: $color-primary;
        }
    }

    label:before {
        transition: all .3s;
        content: "";
        background: transparent;
        box-shadow: none;
        height: 15px;
        width: 15px;
        padding-bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: 2px;
        left: 0;
        color: rgba(#fff, 0.6);
        font-size: 12px;
        background-color: $color-default;
    }

    input[type=checkbox]:checked + label:before,
    input[type=radio]:checked + label:before {
        content: "✓";
        color: #fff;
    }

    &--radio {
        label:before {
            border-radius: 50%;
            transition: none;
        }

        &:hover, &:active, &:focus, &.is-active {
            label:before {
                content: "";
                background: $color-primary;
                border-radius: 50%;
                box-shadow: inset 0 0 0 3px #fff;
                transition: none;
            }
        }

        input[type=checkbox]:checked + label:before,
        input[type=radio]:checked + label:before {
            content: "";
            background: $color-primary;
            border-radius: 50%;
            box-shadow: inset 0 0 0 3px white;
        }
    }
}