.c-line-separator {
    display: block;

    width: 80px;
    height: 8px;
    margin-top: 60px;
    margin-bottom: 60px;

    background-color: $color-default;

    &--small {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &--tiny {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}