.c-contact-form {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 100%;
        padding-bottom: 20px;

        &:nth-child(1) {
            @include breakpoint(small) {
                width: 50%;
                padding-right: 10px;
            }
        }

        &:nth-child(2) {
            @include breakpoint(small) {
                width: 50%;
                padding-left: 10px;
            }
        }
    }
}