.c-parallax {
	$parent: &;
	min-height: 400px;

	background: transparent;

    &--search {
        display: flex;

        padding-top: 150px;
        padding-bottom: 80px;

        align-items: flex-end;
		justify-content: center;
		@include breakpoint(small) {
			padding-top: 240px;
		}
		@include breakpoint(xlarge) {
			height: 100%;
			min-height: 100vh;
		}
    }

	&--section {
		display: flex;
		flex-direction: column;

		min-height: 540px;

		justify-content: center;

		#{$parent} {
			&__wrap {
				@include breakpoint(medium) {
					padding-right: 40px;
					padding-left: 40px;
				}
				@include breakpoint(xlarge) {
					padding-right: 80px;
					padding-left: 80px;
				}
			}
		}

		p {
			max-width: 800px;

			font-size: 22px;
		}
	}

	&--page {
		display: flex;
		flex-direction: column;

		min-height: 540px;
		min-height: 540px;
		padding-top: 150px;
        padding-bottom: 15px;

		justify-content: flex-end;
		@include breakpoint(small) {
			padding-top: 240px;
		}
	}
}