.c-flag {
    $parent: &;
    position: relative;
    z-index: 10;
    height: 0 !important;

    @include breakpoint(large down) {
        display: none;
    }

	&__box {
        position: absolute;
        right: 0;
        top: 0;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px 16px 13px;
        width: 54px;
        transition: all .3s;

        &::before {
            content: "";
            display: block;
            height: 0;
            width: 0;
            border-left: 27px solid transparent;
            border-right: 27px solid transparent;
            border-bottom: 6px solid #fff;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &.stuck {
            position: fixed;
            padding-top: 160px;
            transition: all .3s;
        }
	}

	&__item {
        display: flex;
        justify-content: center;
        align-items: center;
        #{$parent}__link {
            font-size: 26px;
        }

        &:nth-child(2) {
            #{$parent}__link {
                font-size: 20px;
            }
        }

        &:nth-child(3) {
            opacity: 0.8;
            margin-bottom: 5px;
            margin-top: 2px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(#fff, 0.5);
            padding-bottom: 2px;
            margin-bottom: 8px;
        }
	}

    &__link {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }
}
