@font-face {
    font-family: 'icons';
    src: url('#{$icomoon-font-path}/icons.ttf?k2ydpg') format('truetype'),
    url('#{$icomoon-font-path}/icons.woff?k2ydpg') format('woff'),
    url('#{$icomoon-font-path}/icons.svg?k2ydpg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*=" c-icon-"],
[class^="c-icon-"] {
    text-transform: none;
    /* use !important to prevent issues with browser extensions that change fonts */

    font-family: 'icons' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-icon-arrow-right {
    &:before {
        content: $c-icon-arrow-right;
    }
}

.c-icon-apartamento {
    &:before {
        content: $c-icon-apartamento;
    }
}

.c-icon-arrow-bottom {
    &:before {
        content: $c-icon-arrow-bottom;
    }
}

.c-icon-arrow-left {
    &:before {
        content: $c-icon-arrow-left;
    }
}

.c-icon-arrow-top {
    &:before {
        content: $c-icon-arrow-top;
    }
}

.c-icon-bed {
    &:before {
        content: $c-icon-bed;
    }
}

.c-icon-casa {
    &:before {
        content: $c-icon-casa;
    }
}

.c-icon-ducha {
    &:before {
        content: $c-icon-ducha;
    }
}

.c-icon-email {
    &:before {
        content: $c-icon-email;
    }
}

.c-icon-facebook {
    &:before {
        content: $c-icon-facebook;
    }
}

.c-icon-google {
    &:before {
        content: $c-icon-google;
    }
}

.c-icon-instagram {
    &:before {
        content: $c-icon-instagram;
    }
}

.c-icon-linkedin {
    &:before {
        content: $c-icon-linkedin;
    }
}

.c-icon-location {
    &:before {
        content: $c-icon-location;
    }
}

.c-icon-logo-small .path1 {
    &:before {
        content: $c-icon-logo-small-path1;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path2 {
    &:before {
        content: $c-icon-logo-small-path2;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path3 {
    &:before {
        content: $c-icon-logo-small-path3;
        margin-left: -1.658203125em;
        color: rgb(178, 16, 35);
    }
}

.c-icon-logo-small .path4 {
    &:before {
        content: $c-icon-logo-small-path4;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path5 {
    &:before {
        content: $c-icon-logo-small-path5;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path6 {
    &:before {
        content: $c-icon-logo-small-path6;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path7 {
    &:before {
        content: $c-icon-logo-small-path7;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path8 {
    &:before {
        content: $c-icon-logo-small-path8;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path9 {
    &:before {
        content: $c-icon-logo-small-path9;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path10 {
    &:before {
        content: $c-icon-logo-small-path10;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path11 {
    &:before {
        content: $c-icon-logo-small-path11;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path12 {
    &:before {
        content: $c-icon-logo-small-path12;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path13 {
    &:before {
        content: $c-icon-logo-small-path13;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path14 {
    &:before {
        content: $c-icon-logo-small-path14;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path15 {
    &:before {
        content: $c-icon-logo-small-path15;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path16 {
    &:before {
        content: $c-icon-logo-small-path16;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path17 {
    &:before {
        content: $c-icon-logo-small-path17;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path18 {
    &:before {
        content: $c-icon-logo-small-path18;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path19 {
    &:before {
        content: $c-icon-logo-small-path19;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path20 {
    &:before {
        content: $c-icon-logo-small-path20;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path21 {
    &:before {
        content: $c-icon-logo-small-path21;
        margin-left: -1.658203125em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo-small .path22 {
    &:before {
        content: $c-icon-logo-small-path22;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path23 {
    &:before {
        content: $c-icon-logo-small-path23;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path24 {
    &:before {
        content: $c-icon-logo-small-path24;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path25 {
    &:before {
        content: $c-icon-logo-small-path25;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path26 {
    &:before {
        content: $c-icon-logo-small-path26;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path27 {
    &:before {
        content: $c-icon-logo-small-path27;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path28 {
    &:before {
        content: $c-icon-logo-small-path28;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path29 {
    &:before {
        content: $c-icon-logo-small-path29;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path30 {
    &:before {
        content: $c-icon-logo-small-path30;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path31 {
    &:before {
        content: $c-icon-logo-small-path31;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path32 {
    &:before {
        content: $c-icon-logo-small-path32;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path33 {
    &:before {
        content: $c-icon-logo-small-path33;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path34 {
    &:before {
        content: $c-icon-logo-small-path34;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo-small .path35 {
    &:before {
        content: $c-icon-logo-small-path35;
        margin-left: -1.658203125em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path1 {
    &:before {
        content: $c-icon-logo-path1;
        color: rgb(178, 16, 35);
    }
}

.c-icon-logo .path2 {
    &:before {
        content: $c-icon-logo-path2;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path3 {
    &:before {
        content: $c-icon-logo-path3;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path4 {
    &:before {
        content: $c-icon-logo-path4;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path5 {
    &:before {
        content: $c-icon-logo-path5;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path6 {
    &:before {
        content: $c-icon-logo-path6;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path7 {
    &:before {
        content: $c-icon-logo-path7;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path8 {
    &:before {
        content: $c-icon-logo-path8;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path9 {
    &:before {
        content: $c-icon-logo-path9;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path10 {
    &:before {
        content: $c-icon-logo-path10;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path11 {
    &:before {
        content: $c-icon-logo-path11;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path12 {
    &:before {
        content: $c-icon-logo-path12;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path13 {
    &:before {
        content: $c-icon-logo-path13;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path14 {
    &:before {
        content: $c-icon-logo-path14;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path15 {
    &:before {
        content: $c-icon-logo-path15;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path16 {
    &:before {
        content: $c-icon-logo-path16;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path17 {
    &:before {
        content: $c-icon-logo-path17;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path18 {
    &:before {
        content: $c-icon-logo-path18;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path19 {
    &:before {
        content: $c-icon-logo-path19;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path20 {
    &:before {
        content: $c-icon-logo-path20;
        margin-left: -3.8193359375em;
        color: rgb(170, 42, 37);
    }
}

.c-icon-logo .path21 {
    &:before {
        content: $c-icon-logo-path21;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path22 {
    &:before {
        content: $c-icon-logo-path22;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path23 {
    &:before {
        content: $c-icon-logo-path23;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path24 {
    &:before {
        content: $c-icon-logo-path24;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path25 {
    &:before {
        content: $c-icon-logo-path25;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path26 {
    &:before {
        content: $c-icon-logo-path26;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path27 {
    &:before {
        content: $c-icon-logo-path27;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path28 {
    &:before {
        content: $c-icon-logo-path28;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path29 {
    &:before {
        content: $c-icon-logo-path29;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path30 {
    &:before {
        content: $c-icon-logo-path30;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path31 {
    &:before {
        content: $c-icon-logo-path31;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path32 {
    &:before {
        content: $c-icon-logo-path32;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path33 {
    &:before {
        content: $c-icon-logo-path33;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-logo .path34 {
    &:before {
        content: $c-icon-logo-path34;
        margin-left: -3.8193359375em;
        color: rgb(28, 28, 26);
    }
}

.c-icon-phone {
    &:before {
        content: $c-icon-phone;
    }
}

.c-icon-piso {
    &:before {
        content: $c-icon-piso;
    }
}

.c-icon-refineria {
    &:before {
        content: $c-icon-refineria;
    }
}

.c-icon-search {
    &:before {
        content: $c-icon-search;
    }
}

.c-icon-twitter {
    &:before {
        content: $c-icon-twitter;
    }
}
