.c-featured {
    $parent: &;

	&__wrap {
        position: relative;
	}

    &__item {

        &:nth-child(2n) {
            @include breakpoint(medium) {
                text-align: right;
            }

            #{$parent} {

                &__content {
                    @include breakpoint(medium) {
                        padding-right: 0;
                        padding-left: 140px;
                    }
                }

                &__text {
                    @include breakpoint(medium) {
                        right: auto;
                        left: 0;
                        padding-left: 0;
                        padding-right: 50%;
                    }
                }

                &__btn {
                    @include breakpoint(medium) {
                        text-align: right;
                    }
                }
            }
        }
    }

    &__content {
        @include breakpoint(medium) {
            position: relative;

            display: inline-block;

            padding-right: 140px;
        }

    }

	&__img {
        position: relative;
        &::before {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: rgba(#fff, 0.45);
        }
	}

	&__text {
        @include breakpoint(medium) {
            position: absolute;
            top: 50%;
            right: 0;
            padding-left: 50%;

            transform: translateY(-50%);
        }
	}

	&__btn {
        @include breakpoint(xlarge) {

        }
	}
}