.c-textarea {
    color: $color-default;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 150px;
    border: 0;
    border-bottom: 1px solid $color-default;
    outline: none;
    resize: vertical;

    &::placeholder {
        color: $color-default;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
    }
}