.c-address {
    $parent: &;

    font-weight: 700;

    @include breakpoint(700px) {
        display: flex;
    }

    p {
        font-weight: 700;
        margin-bottom: 0;
    }

    a {
        color: $color-default;
        text-decoration: none;

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }

	&__column {
        padding-bottom: 40px;

        @include breakpoint(700px) {
            &:not(:last-child) {
                padding-right: 40px;
            }
        }
	}

	&__title {
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        padding-left: 60px;
        margin-bottom: 20px;

        &::before {
            content: "";
            height: 1.1px;
            width: 40px;
            background-color: $color-default;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            position: absolute;
        }
	}

    &--small {
        font-size: 14px;
    }
}