.c-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $color-default;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;

    &::placeholder {
        color: $color-default;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
    }
}