.c-search-blog {
    position: relative;

    &__input {
        padding-right: 60px;
    }

    &__icon {
        background: none;
        border: 0;
        appearance: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}