.c-sort {
    @include breakpoint(medium) {
        display: flex;

        justify-content: space-between;
    }

    &__box {
        display: flex;

        align-items: center;
        flex-wrap: wrap;
        @include breakpoint(600px) {
            max-width: 400px;

            flex-wrap: nowrap;
            justify-content: flex-end;
        }
    }

    &__icon {
        min-width: 30px;

        @include breakpoint(1280px down) {
            display: none;
        }
    }

    &__text {
        position: relative;

        margin-right: 10px;
        margin-left: 10px;
        padding-left: 60px;

        text-transform: uppercase;

        font-size: 12px;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;

            width: 40px;
            height: 1.1px;

            content: "";
            transition: all .3s;
            transform: translateY(-50%);

            background-color: $color-default;
        }
    }
}