.c-social {
    position: fixed;
    bottom: 30px;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 50px;

    align-items: center;

    @include breakpoint(xlarge down) {
        display: none;
    }

	&__link {
        display: flex;

        width: 30px;
        height: 30px;

        transition: all .3s;
        text-decoration: none;

        color: $color-primary;
        border-radius: 50%;

        font-size: 14px;

        align-items: center;
        justify-content: center;

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            transition: all .3s;

            color: #fff;
            background-color: $color-primary;
        }
	}
}
