.c-btn {
    position: relative;

    display: inline-block;

    min-width: 150px;
    padding: 10px 20px;

    transition: all .3s;
    text-align: center;
    text-decoration: none;

    appearance: none;

    &--primary {
        color: $color-default;
        border: 2px solid $color-default;
        background-color: transparent;

        font-weight: 300;

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;

            width: 0;
            height: 100%;

            content: "";
            transition: all .3s;
            pointer-events: none;

            background-color: $color-default;
        }

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            transition: all .3s;

            color: #fff;

            &::before {
                width: 100%;

                transition: all .3s;
            }
        }
    }

    &--secondary {
        color: $color-default;
        border: 2px solid $color-default;
        background-color: transparent;

        font-weight: 300;

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            transition: all .3s;
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    &--tertiary {
        color: $color-primary;
        border: 2px solid $color-primary;
        background-color: transparent;

        font-weight: 300;

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;

            width: 0;
            height: 100%;

            content: "";
            transition: all .3s;
            pointer-events: none;

            background-color: $color-primary;
        }

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            transition: all .3s;

            color: #fff;

            &::before {
                width: 100%;

                transition: all .3s;
            }
        }
    }

    &--ghost {
        text-transform: uppercase;

        color: rgba($color-default, 0.5);
        border: 2px solid transparent;
        border-color: transparent;
        background-color: rgba(#fff, 0.7);

        font-size: 14px;
        font-weight: 300;

        @include breakpoint(medium down) {
            transition: all .3s;

            color: $color-default;
            border-color: $color-default;
            background-color: transparent;
        }

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            transition: all .3s;

            color: $color-default;
            border-color: $color-default;
            background-color: transparent;
        }
    }

    &--small {
        min-width: auto;
        padding: 5px 20px;
    }

    &--favorite {
        display: inline-flex;
        align-items: center;
        svg {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            margin-bottom: 2px;

            path {
                fill:  $color-default;
            }
        }

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            svg {
                max-width: 15px;
                margin-right: 5px;
                margin-bottom: 2px;

                path {
                    fill:  #fff;
                }
            }
        }
    }

    &.u-text-uppercase {
        font-size: 14px;
    }
}