.c-heading {
    $parent: &;
    font-family: $font-primary;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;

    &__thing {
        font-weight: 100;
    }

    &__thing2 {
        font-weight: 300;
    }

    &--type-1 {
        font-size: 40px;
    }

    &--type-2 {
        font-size: 25px;
        text-transform: none;
    }

    &--type-3 {
        font-size: 50px;
    }

    &--type-4 {
        font-size: 40px;
        span {
            display: block;
        }
    }

    &--type-5 {
        font-size: 25px;
        text-transform: none;
        font-weight: 400;

        span {
            display: block;
            font-size: 14px;
        }
    }

    &--skin-1 {
        color: $color-primary;

        #{$parent} {
            &__thing {
                color: $color-default;
            }
        }
    }
}