.c-links {
    display: flex;

    align-items: center;
    flex-wrap: wrap;

	&__item {
        position: relative;

        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 65px;

        text-decoration: none;
        text-transform: uppercase;

        color: $color-default;

        font-size: 14px;
        font-weight: 300;

        &:not(:last-child) {
            margin-right: 30px;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;

            width: 40px;
            height: 1.1px;

            content: "";
            transition: all .3s;
            transform: translateY(-50%);

            background-color: $color-default;
        }
        &:not(.c-links__item--not-hover) {
            &.is-active,
            &:active,
            &:focus,
            &:hover {

                color: $color-primary;
                &::before {
                    transition: all .3s;
                    transform: translateY(-50%) rotate(45deg);

                    background-color: $color-primary;
                }
            }
        }
	}
}
