.c-main-footer {
    border-top: 10px solid $color-complementary-1;
    border-bottom: 20px solid $color-complementary-1;

	&__copy {
        border-top: 1px solid $color-default;
        padding-top: 15px;
        display: flex;
        align-items: center;

        &-text {
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 0;
            flex-grow: 1;
        }
	}

	&__refineria {
        font-size: 30px;
        text-decoration: none;
        color: $color-refineria;
        margin-right: 20px;
        display: flex;
        flex-wrap: wrap;
	}

	&__top {
        color: $color-default;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;

        span {
            font-size: 12px;
            margin-right: 5px;
        }
	}
}
