.c-card {
    $parent: &;

	&__wrap {
        position: relative;
	}

	&__img {
        display: block;

        margin-bottom: 10px;

        font-size: 0;
	}

	&__box {
        position: relative;

        margin-bottom: 20px;
        padding-bottom: 10px;

        transition: all .3s;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 1px;

            content: "";

            background-color: $color-default;
        }

        &::after {
            position: absolute;
            right: 0;
            bottom: -3.2px;

            width: 8px;
            height: 8px;

            content: "";

            border-radius: 50%;
            background-color: $color-default;
        }
	}

	&__title {
        position: relative;

        @include breakpoint(small) {
            padding-right: 150px;
        }

        a {
            transition: all .3s;
            text-decoration: none;

            color: $color-default;

            &.is-active,
            &:active,
            &:focus,
            &:hover {
                transition: all .3s;

                color: $color-primary;
            }
        }

        &--theme-2 {
            margin-bottom: 20px;
        }
	}

    &__price {
        position: absolute;
        top: -60px;
        right: 0;

        display: flex;

        height: 35px;
        padding-right: 24px;
        padding-left: 20px;

        color: #fff;
        background-color: $color-primary;

        font-weight: 700;

        align-items: center;
        @include breakpoint(small) {
            top: 0;

            padding-left: 40px;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: -17px;

            content: "";
            transform: translateY(-50%);

            @include breakpoint(small down) {
                @include css-triangle('left', $color-primary, 17.5px);
            }
            @include breakpoint(small) {
                left: 0;

                @include css-triangle('right', #fff, 20px);
            }
        }

        &--theme-2 {
            top: 0;
        }
    }

	&__code {
        margin-top: 2px;

        text-transform: uppercase;

        color: $color-primary;

        font-size: 14px;
	}

	&__icons {
        display: flex;

        flex-wrap: wrap;
        justify-content: space-between;

        &--theme-2 {
            @include breakpoint(small down) {
                padding-top: 45px;
            }
        }
	}

	&__icon {
        position: relative;

        display: flex;

        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 40px;

        font-size: 14px;
        font-weight: 300;

        align-items: center;

        &:not(:last-child) {
            padding-right: 20px;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;

            width: 30px;
            height: 1px;

            content: "";
            transform: translateY(-50%);

            background-color: $color-default;
        }

        span {
            margin-right: 5px;
        }
	}

	&__text {
        margin-bottom: 0;
	}

    &__btn {
        display: none;

        margin-top: 10px;
    }

    &--theme-2 {
        @include breakpoint(1280px) {
            #{$parent} {
                &__wrap {
                    overflow: hidden;

                    &.is-active,
                    &:active,
                    &:focus,
                    &:hover {
                        #{$parent}__box {
                            bottom: 0;

                            transition: all .3s;
                        }
                    }
                }

                &__box {
                    position: absolute;
                    bottom: -120%;
                    left: 0;

                    overflow: hidden;

                    width: 100%;
                    height: 100%;
                    margin-bottom: 0;
                    padding: 20px;

                    transition: all .3s;

                    background-color: rgba(#fff, 0.7);

                    &::before, &::after {
                        display: none;
                    }
                }

                &__img {
                    margin-bottom: 0;
                }

                &__title {
                    padding-right: 130px;
                }

                &__text {
                    overflow: hidden;

                    width: 100%;
                    max-width: 100%;

                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                &__price {
                    right: -20px;

                    padding-left: 20px;
                    &::before {
                        display: none;
                    }

                    &::after {
                        position: absolute;
                        top: 50%;
                        left: -17px;

                        content: "";
                        transform: translateY(-50%);

                        @include css-triangle('left', $color-primary, 17.5px);
                    }
                }

                &__btn {
                    display: block;
                }
            }
        }

    }
}
