.c-main-nav {

    &__list {
        @include reset-ul;
        @include breakpoint(large) {
            display: flex;

            align-items: center;
        }
    }

    &__item {
        padding-right: 10px;
        padding-left: 10px;
    }

    &__link {
        position: relative;

        padding-top: 10px;
        padding-bottom: 10px;

        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;

        color: $color-default;

        font-size: 14px;

        @include breakpoint(large down) {
            display: inline-block;

            padding: 5px 10px;
        }

        &::before {
            @include breakpoint(large) {
                position: absolute;
                bottom: 0;
                left: 50%;

                width: 0;
                height: 2px;

                content: "";
                transition: all .3s;
                transform: translateX(-50%);

                background-color: $color-primary;
            }
        }

        &.is-active,
        &:active,
        &:focus,
        &:hover {
            color: $color-primary;
            &::before {
                width: 100%;

                transition: all .3s;
            }
        }
    }
}