.c-lang-nav {

	&__list {
        display: flex;

        @include reset-ul;
	}

	&__item {
        position: relative;

        padding-right: 5px;
        padding-left: 5px;

        &:not(:last-child)::before {
            position: absolute;
            top: 50%;
            right: -1px;

            display: block;

            width: 1px;
            height: 10px;

            content: "";
            transform: translateY(-50%);

            background-color: $color-primary;
        }
	}

	&__link {
        text-decoration: none;
        text-transform: uppercase;

        color: $color-primary;

        font-size: 14px;
	}
}
