/* =============================================================================
GLOBAL
============================================================================= */

/* Text
   ========================================================================== */

$global-font-size: 16px;


/* Fuentes
   ========================================================================== */

$font-primary: 'Open Sans', sans-serif;


/* Colores
   ========================================================================== */

$color-default: #333;
$color-text: #808080;

$color-primary: #283580;

$color-complementary-1: #dfdfdf;
$color-complementary-2: #f6f6f6;


/* Icons
   ========================================================================== */

$icomoon-font-path: "../fonts" !default;

$c-icon-arrow-left: "\e900";
$c-icon-arrow-right: "\e901";
$c-icon-check: "\e902";
$c-icon-cross: "\e903";
$c-icon-email: "\e904";
$c-icon-facebook: "\e905";
$c-icon-imagotipo-right: "\e906";
$c-icon-imagotipo: "\e907";
$c-icon-location: "\e908";
$c-icon-pdf: "\e909";
$c-icon-phone: "\e90a";
$c-icon-refineria: "\e90b";
$c-icon-twitter: "\e90c";


/* Slick
   ========================================================================== */

$slick-font-path: "../fonts/" !default;
$slick-loader-path: "../img/" !default;