/* ==========================================================================
   #CONFIG
   ========================================================================== */

/**
 * Configuración del proyecto
 */


/* Wrapper
   ========================================================================== */

$config-wrapper-size-classes-output: true !default;
$config-wrapper-responsive-classes-output: true !default;


/* Grid
   ========================================================================== */

$config-grid-enabled: false !default;
$config-grid-modifiers-output: false !default;
$config-grid-item-modifiers-output: false !default;


/* Spacings
   ========================================================================== */

$config-spacing-sizes-output: true !default;

/**
 * ¡ALERTA! si activas esta opción sube bastante el peso del css. Si la vas a
 * activar mira en:
 *
 * `$core-spacing-responsive-directions`,
 * `$core-spacing-responsive-properties`,
 * `$core-spacing-responsive-sizes`
 *
 * y borra las direcciones, propiedades y tamaños que no vas a usar en el
 * projecto para reducir el peso.
 */

$config-spacing-responsive-classes-output: false !default;