.u-text {

    &-center {
        text-align: center;
    }

    &-justify {
        text-align: justify;
    }

    &-big {
        font-size: 18px;
        line-height: 2;
        font-weight: 300;

        b,
        strong {
            font-weight: 500;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            margin-bottom: 30px;
            line-height: 1.6;
            list-style: none;

            &:last-child {
                margin-bottom: 0;
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}