.o-layout {
    $parent: &;

    display: block;

    padding-top: map-get($o-layout-paddings, default);
    padding-bottom: map-get($o-layout-paddings, default);

    @each $name, $padding in map-remove($o-layout-paddings, default) {
        &--#{$name} {
            padding-top: #{$padding};
            padding-bottom: #{$padding};
        }
    }

    &--top {
        padding-top: map-get($o-layout-paddings, default);
        padding-bottom: 0;

        @each $name, $padding in map-remove($o-layout-paddings, default) {
            &-#{$name} {
                padding-top: #{$padding};
                padding-bottom: 0;
            }
        }
    }

    &--bottom {
        padding-top: 0;
        padding-bottom: map-get($o-layout-paddings, default);

        @each $name, $padding in map-remove($o-layout-paddings, default) {
            &-#{$name} {
                padding-top: 0;
                padding-bottom: #{$padding};
            }
        }
    }

    &__row {
        &--wireframe-1 {
            @include breakpoint(medium) {
                display: flex;
            }

            #{$parent} {
                &__columns {
                    position: relative;

                    &:nth-child(1) {
                        @include breakpoint(medium) {
                            flex-shrink: 0;
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(medium down) {
                            padding-top: 30px;
                        }
                        @include breakpoint(medium) {
                            padding-left: 50px;

                            flex-grow: 1;
                        }
                        @include breakpoint(large) {
                            padding-left: 80px;
                        }
                    }
                }
            }
        }

        &--footer {
            @include breakpoint(xlarge) {
                display: flex;
            }

            #{$parent} {
                &__columns {


                    &:nth-child(1) {
                        margin-bottom: 40px;

                        @include breakpoint(medium) {
                            display: flex;

                            & > * {
                                &:nth-child(1) {
                                    padding-right: 20px;
                                }
                                &:nth-child(2) {
                                    padding-left: 20px;
                                }
                            }

                        }

                    }

                    &:nth-child(2) {
                        @include breakpoint(xlarge) {
                            padding-left: 50px;

                            flex-shrink: 0;
                        }
                    }
                }
            }
        }

        &--cards {
            @include breakpoint(medium) {
                display: flex;

                margin-right: -10px;
                margin-left: -10px;

                transition: all .3s;

                flex-wrap: wrap;
            }
            #{$parent} {
                &__columns {
                    @include breakpoint(medium) {
                        padding: 10px;

                        transition: all .3s;

                        flex-basis: 50%;
                    }
                    @include breakpoint(large) {
                        flex-basis: 33.3334%;
                    }
                }
            }
        }

        &--alt-view {
            @include breakpoint(1280px) {
                margin-right: 0;
                margin-left: 0;

                transition: all .3s;
            }

            #{$parent} {
                &__columns {
                    @include breakpoint(1280px) {
                        padding: 1px;

                        transition: all .3s;
                    }
                }
            }
        }

        &--gallery {
            margin-right: 0;
            margin-left: 0;

            transition: all .3s;

            #{$parent} {
                &__columns {
                    padding: 1px;
                    @include breakpoint(medium) {
                        padding: 1px;
                    }

                    transition: all .3s;
                }
            }
        }

        &--half {
            @include breakpoint(medium) {
                display: flex;
            }
            #{$parent} {
                &__columns {
                    @include breakpoint(medium) {
                        position: relative;

                        flex-basis: 50%;
                    }

                    &:nth-child(1) {
                        @include breakpoint(medium) {
                            padding-right: 15px;
                        }

                        .c-number {
                            @include breakpoint(medium down) {
                                display: none;
                            }
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(medium) {
                            padding-left: 15px;
                        }
                    }
                }
            }
        }

        &--half-2{
            @include breakpoint(large) {
                display: flex;
            }
            #{$parent} {
                &__columns {
                    @include breakpoint(large) {
                        position: relative;

                        flex-basis: 50%;
                    }

                    &:nth-child(1) {
                        @include breakpoint(large) {
                            padding-left: 15px;
                            order: 3;
                        }

                        .c-number {
                            @include breakpoint(large down) {
                                display: none;
                            }
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(large) {
                            padding-right: 15px;
                        }
                    }
                }
            }
        }

        &--team-intro {
            @include breakpoint(medium) {
                display: flex;
            }

            #{$parent} {
                &__columns {

                    &:nth-child(1) {
                        padding-bottom: 20px;

                        @include breakpoint(medium) {
                            padding-right: 15px;

                            flex-basis: 60%;
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(medium) {
                            padding-left: 15px;

                            flex-basis: 40%;
                        }
                    }
                }
            }
        }

        &--team {
            display: flex;

            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: center;

            #{$parent} {
                &__columns {
                    padding-bottom: 30px;

                    @include breakpoint(large down) {
                        flex-basis: auto;
                    }

                    @include breakpoint(large) {
                        margin-top: 100px;
                    }

                    &--special {
                        @include breakpoint(large) {
                            position: relative;
                            top: -100px;
                        }
                    }
                }
            }
        }

        &--blog {
            @include breakpoint(large) {
                display: flex;

                #{$parent}__columns {
                    &:nth-child(1) {
                        flex-grow: 1;
                    }

                    &:nth-child(2) {
                        min-width: 450px;
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}