---
layout: default
pageTitle: About Us
---

<div class="c-parallax c-parallax--page js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x800/ccc/999">
    <div class="o-wrapper">
        <div class="c-title-page">
            <h1 class="c-heading c-heading--type-1"><span class="c-heading__thing">About us</span></h1>
            <div class="c-title-page__box">
                <div class="c-line-separator c-line-separator--tiny"></div>
                <nav class="c-links o-box o-box--bottom-large">
                    <a href="#" class="c-links__item">Home</a>
                    <a href="#" class="c-links__item">About us</a>
                </nav>
            </div>
        </div>
    </div>
</div>

{{> flag}}

<section class="o-layout o-layout--top-super o-wrapper">
    <h2 class="c-heading c-heading--type-1"><span class="c-heading__thing">Texto corporativo</span> About us</h2>
    <div class="c-line-separator c-line-separator--small"></div>
    <div class="c-magazine-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quidem nobis quis, voluptates nesciunt neque blanditiis voluptas dicta officiis amet maiores distinctio nostrum nam aut. Reiciendis sit quisquam, ipsum id saepe consequatur! Officia sit dolorum autem ipsa. Sit adipisci dignissimos nobis aperiam, culpa explicabo nostrum voluptatem sapiente possimus voluptatibus accusamus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quidem nobis quis, voluptates nesciunt neque blanditiis voluptas dicta officiis amet maiores distinctio nostrum nam aut. Reiciendis sit quisquam, ipsum id saepe consequatur! Officia sit dolorum autem ipsa. Sit adipisci dignissimos nobis aperiam, culpa explicabo nostrum voluptatem sapiente possimus voluptatibus accusamus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quidem nobis quis, voluptates nesciunt neque blanditiis voluptas dicta officiis amet maiores distinctio nostrum nam aut. Reiciendis sit quisquam, ipsum id saepe consequatur! Officia sit dolorum autem ipsa. Sit adipisci dignissimos nobis aperiam, culpa explicabo nostrum voluptatem sapiente possimus voluptatibus accusamus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quidem nobis quis, voluptates nesciunt neque blanditiis voluptas dicta officiis amet maiores distinctio nostrum nam aut. Reiciendis sit quisquam, ipsum id saepe consequatur! Officia sit dolorum autem ipsa. Sit adipisci dignissimos nobis aperiam, culpa explicabo nostrum voluptatem sapiente possimus voluptatibus accusamus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quidem nobis quis, voluptates nesciunt neque blanditiis voluptas dicta officiis amet maiores distinctio nostrum nam aut. Reiciendis sit quisquam, ipsum id saepe consequatur! Officia sit dolorum autem ipsa. Sit adipisci dignissimos nobis aperiam, culpa explicabo nostrum voluptatem sapiente possimus voluptatibus accusamus!</p>
    </div>
</section>

<section class="o-layout o-layout--super o-wrapper">
    <div class="o-layout__row o-layout__row--cards o-layout__row--gallery">
        {{#repeat 6}}
            <!-- Bloque -->
            <div class="o-layout__columns c-gallery js-gallery">
                <a href="https://dummyimage.com/1920x1080/ccc/999" class="c-gallery__link">
                    <picture class="c-gallery__item">
                        <source srcset="https://dummyimage.com/420x260/ccc/999" media="(min-width: 1200px)">
                        <source srcset="https://dummyimage.com/480x300/ccc/999" media="(min-width: 768px)">
                        <source srcset="https://dummyimage.com/768x350/ccc/999" media="(min-width: 480px)">
                        <source srcset="https://dummyimage.com/480x300/ccc/999">
                        <img srcset="https://dummyimage.com/480x300/ccc/999" alt="Mallorca Mietboerse">
                    </picture>
                </a>
            </div>
            <!-- Fin Bloque -->
        {{/repeat}}
    </div>
</section>