---
layout: default
pageTitle: Contacto
---

<div class="c-parallax c-parallax--page js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x800/ccc/999">
    <div class="o-wrapper">
        <div class="c-title-page">
            <h1 class="c-heading c-heading--type-1"><span class="c-heading__thing">Contacto</span></h1>
            <div class="c-title-page__box">
                <div class="c-line-separator c-line-separator--tiny"></div>
                <nav class="c-links o-box o-box--bottom-large">
                    <a href="#" class="c-links__item">Home</a>
                    <a href="#" class="c-links__item">Contacto</a>
                </nav>
            </div>
        </div>
    </div>
</div>

{{> flag}}

<section class="o-layout o-layout--top-super o-wrapper">
    <h2 class="c-heading c-heading--type-1"><span class="c-heading__thing">H2 Where to</span> Find Us</h2>
    <div class="c-line-separator c-line-separator--small"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quidem nobis quis, voluptates nesciunt neque blanditiis voluptas dicta officiis amet maiores distinctio nostrum nam aut. Reiciendis sit quisquam, ipsum id saepe consequatur! Officia sit dolorum autem ipsa. Sit adipisci dignissimos nobis aperiam, culpa explicabo nostrum voluptatem sapiente possimus voluptatibus accusamus!</p>
</section>

<aside class="o-layout o-wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.961834517123!2d2.670074950438038!3d39.560468115091396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x129793b8176bfb23%3A0xdcae45f4b18c09d3!2sInmobiliaria+Portixol+Mallorca+Mietboerse!5e0!3m2!1ses!2ses!4v1492691077109" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</aside>

<section class="o-layout o-wrapper">
    <div class="o-layout__row o-layout__row--half-2">
        <div class="o-layout__columns o-box--bottom-xlarge">
            <div class="c-heading c-heading--type-2 o-box--bottom-xlarge">Send an email:</div>
            <form class="c-contact-form">
                <div class="c-contact-form__item"><input type="text" class="c-input" placeholder="Name"></div>
                <div class="c-contact-form__item"><input type="text" class="c-input" placeholder="Teléfono"></div>
                <div class="c-contact-form__item"><input type="email" class="c-input" placeholder="Email"></div>
                <div class="c-contact-form__item"><textarea class="c-textarea" placeholder="Mensaje"></textarea></div>
                <div class="c-contact-form__item">
                    <div class="c-checkbox">
                        <input id="check" type="checkbox" name="politica">
                        <label for="check" class="js-toggle-trigger" data-toggle-target="#hide1" data-toggle-class="is-active">I have read and I accept the data protection law</label>
                    </div>
                </div>
                <div class="c-contact-form__item u-text-right">
                    <button type="submit" class="c-btn c-btn--primary u-text-uppercase">Send Email</button>
                </div>
            </form>

        </div>
        <div class="o-layout__columns o-box--bottom-xlarge">
            <div class="c-heading c-heading--type-2 o-box--bottom-xlarge">Contact details:</div>
            <address class="c-address c-address--small">
                <div class="c-address__column">
                    <div class="c-address__title">Tel</div>
                    <p>0034 971 796 082 <br>
                    0034 659 565 569</p>
                </div>
                <div class="c-address__column">
                    <div class="c-address__title">Write</div>
                    <a href="mailto:info@mallorcamietboerse.com">info@mallorcamietboerse.com</a>
                </div>
                <div class="c-address__column">
                    <div class="c-address__title">Visit</div>
                    <p>Vicari Joaquim Fuster 239 <br>
                    Portixol, Mallorca</p>
                </div>
            </address>
        </div>
    </div>
</section>
