---
layout: default
pageTitle: Equipo
---

<div class="c-parallax c-parallax--page js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x800/ccc/999">
    <div class="o-wrapper">
        <div class="c-title-page">
            <h1 class="c-heading c-heading--type-1"><span class="c-heading__thing">Equipo</span></h1>
            <div class="c-title-page__box">
                <div class="c-line-separator c-line-separator--tiny"></div>
                <nav class="c-links o-box o-box--bottom-large">
                    <a href="#" class="c-links__item">Home</a>
                    <a href="#" class="c-links__item">Equipo</a>
                </nav>
            </div>
        </div>
    </div>
</div>

{{> flag}}

<div class="o-layout o-layout--super o-wrapper">
    <div class="o-layout__row o-layout__row--team-intro">
        <div class="o-layout__columns">
            <picture>
                <source srcset="https://dummyimage.com/780x510/ccc/999" media="(min-width: 480px)">
                <source srcset="https://dummyimage.com/480x320/ccc/999.jpg">
                <img srcset="https://dummyimage.com/480x320/ccc/999" alt="Mallorca Mietboerse">
            </picture>
        </div>
        <div class="o-layout__columns">
            <h2 class="c-heading"><span class="c-heading__thing">El contacto personal</span> es muy importante para nosotros</h2>
            <div class="c-line-separator c-line-separator--small"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ipsa et modi aliquid laborum, laboriosam nesciunt itaque dolorem quibusdam error libero ad quo amet sit at minima molestias eius, quasi, temporibus nihil voluptatem excepturi porro. Nihil earum laudantium reiciendis ullam facere sequi consequuntur, perferendis eligendi facilis dignissimos. Et, quibusdam quis.</p>
        </div>
    </div>
</div>

<div class="c-parallax js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x800/ccc/999"></div>

<div class="o-layout o-layout--super o-wrapper">
    <div class="o-layout__row o-layout__row--cards o-layout__row--team">
        <div class="o-layout__columns">
            <img src="https://dummyimage.com/370x535/ccc/999" alt="Mallorca Mietboerse">
            <div class="c-heading c-heading--type-5">Steffen Döhne <span>Fundador y gerente</span></div>
        </div>
        <div class="o-layout__columns o-layout__columns--special">
            <img src="https://dummyimage.com/370x535/ccc/999" alt="Mallorca Mietboerse">
            <div class="c-heading c-heading--type-5">Maria del Pilar Amengual Gomila <span>Asistente de dirección</span></div>
        </div>
        <div class="o-layout__columns">
            <img src="https://dummyimage.com/370x535/ccc/999" alt="Mallorca Mietboerse">
            <div class="c-heading c-heading--type-5">Elisa Döhne <span>Consejera inmobiliaria</span></div>
        </div>
        <div class="o-layout__columns">
            <img src="https://dummyimage.com/370x535/ccc/999" alt="Mallorca Mietboerse">
            <div class="c-heading c-heading--type-5">Marion Beil <span>Consejera inmobiliaria</span></div>
        </div>
        <div class="o-layout__columns o-layout__columns--special">
            <img src="https://dummyimage.com/370x535/ccc/999" alt="Mallorca Mietboerse">
            <div class="c-heading c-heading--type-5">Tana Lara Latisenka <span>Consejero inmobiliaria</span></div>
        </div>
        <div class="o-layout__columns">
            <img src="https://dummyimage.com/370x535/ccc/999" alt="Mallorca Mietboerse">
            <div class="c-heading c-heading--type-5">Dennis Hackbarth <span>Consejero inmobiliaria</span></div>
        </div>
    </div>
</div>