---
layout: default
pageTitle: Home
---

<div class="c-parallax c-parallax--search js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x1080/ccc/999">
    <div class="o-wrapper">
        <div class="o-layout o-layout--bottom-tiny u-text-center">
            <div class="c-heading">El sueño de vivir en el paraíso</div>
            <h1 class="c-heading c-heading--type-1"><span class="c-heading__thing">H1 Mallorca,</span> El paraíso a tu alcance</h1>
        </div>
        {{> search}}
    </div>
</div>

{{> flag}}

<section class="o-layout o-layout--big js-parallax">
    <div class="o-layout__row o-layout__row--wireframe-1 o-wrapper">
        <div class="o-layout__columns">
            <picture>
                <source srcset="https://dummyimage.com/345x650/ccc/999" media="(min-width: 768px)">
                <source srcset="https://dummyimage.com/768x550/ccc/999" media="(min-width: 544px)">
                <source srcset="https://dummyimage.com/544x450/ccc/999">
                <img srcset="https://dummyimage.com/544x650/ccc/999" alt="">
            </picture>
        </div>
        <div class="o-layout__columns">
            <h2 class="c-heading c-heading--type-1 c-heading--skin-1 o-box o-box--bottom-large"><span class="c-heading__thing">H2 Welcome to,</span> Mallorca Mietboerse</h2>
            <p>20 years ago, when long-term rentals were still uncommon in Mallorca, we did the groundwork for a remarkable and successful company-history with the foundation of Mallorca Mietboerse S.L. As specialist for long-term rentals, by that time, it was needed to do a lot of pioneering-work to provide a still very limited property-offer.</p>
            <p>Nowadays, we offer all over the island a big variety on selected rental properties and also the advice of a high qualified team.</p>
            <div class="c-line-separator"></div>
            <div class="c-heading c-heading--type-2 o-box o-box--bottom-large">Our process</div>
            <nav class="c-links o-box o-box--bottom-large">
                <a href="#" class="c-links__item">You need</a>
                <a href="#" class="c-links__item">We Search</a>
                <a href="#" class="c-links__item">You find</a>
            </nav>
            <a href="#" class="c-btn c-btn--primary">Find your house</a>
            <div class="c-number"><img src="{{root}}assets/img/svg/01.svg" alt=""></div>
        </div>
    </div>
</section>

<section class="c-parallax c-parallax--section o-layout--big js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x800/ccc/999">
    <div class="c-parallax__wrap o-wrapper">
        <div class="c-heading c-heading--type-3"><span class="c-heading__thing">ES</span> Portixol</div>
        <div class="c-line-separator"></div>
        <p>As publisher of the yearly <strong>MALLORCA-MIETBOERSE-RENT INDEX</strong> we set signs on the market transparency and give our clients the opportunity to compare residential areas on Mallorca according to international standards. Our probably most important decision was to move to <strong>Portixol</strong>.</p>
    </div>
</section>

<section class="o-layout o-layout--big js-parallax">
    <div class="o-wrapper">
        <div class="c-title-section c-title-section--right">
            <h2 class="c-heading c-heading--type-1 c-heading--skin-1"><span class="c-heading__thing">Our</span> Flats</h2>
            <div class="c-line-separator c-line-separator--small"></div>
        </div>
        <div class="c-featured">
            <div class="c-featured__wrap">
                {{#repeat 3}}
                    {{> featured__item}}
                {{/repeat}}
                <div class="c-number"><img src="{{root}}assets/img/svg/02.svg" alt=""></div>
            </div>
        </div>
        <div class="u-text-center o-layout o-layout--top-small">
            <a href="#" class="c-btn c-btn--primary u-text-uppercase">View All</a>
        </div>
    </div>
</section>