---
layout: default
pageTitle: Contacto
---

<div class="c-parallax c-parallax--page js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x800/ccc/999">
    <div class="o-wrapper">
        <div class="c-title-page">
            <h1 class="c-heading c-heading--type-1"><span class="c-heading__thing">Noticias</span></h1>
            <div class="c-title-page__box">
                <div class="c-line-separator c-line-separator--tiny"></div>
                <nav class="c-links o-box o-box--bottom-large">
                    <a href="#" class="c-links__item">Home</a>
                    <a href="#" class="c-links__item">Noticias</a>
                </nav>
            </div>
        </div>
    </div>
</div>

{{> flag}}

<div class="o-layout o-layout--super">
    <div class="o-layout__row o-layout__row--blog o-wrapper">
        <div class="o-layout__columns">
            <main>
                {{#repeat 5}}
                    <article class="o-layout o-layout--bottom-xlarge">
                        <h2 class="c-heading c-heading--type-1"><span class="c-heading__thing">H2 Título de</span> la noticia</h2>
                        <div class="c-line-separator c-line-separator--small"></div>
                        <div class="c-links o-box o-box--bottom-large">
                            <div class="c-links__item c-links__item--not-hover">25 Octubre 2017</div>
                            <a href="#" class="c-links__item">Categoría</a>
                        </div>
                        <picture>
                            <source srcset="https://dummyimage.com/768x400/ccc/999" media="(min-width: 1204px)">
                            <source srcset="https://dummyimage.com/1024x400/ccc/999" media="(min-width: 768px)">
                            <source srcset="https://dummyimage.com/768x400/ccc/999" media="(min-width: 480px)">
                            <source srcset="https://dummyimage.com/480x400/ccc/999">
                            <img srcset="https://dummyimage.com/480x400/ccc/999" alt="">
                        </picture>
                        <p class="o-box--top o-box--bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda perspiciatis deserunt at possimus sit a molestiae? Aperiam ea, laboriosam laborum quos, aliquam quisquam dolorum officiis, excepturi provident reprehenderit odit facere, iure nihil. Neque in odio nemo, vel atque asperiores non illo vero sapiente et dolores fuga velit! Quae, in, cumque.</p>
                        <a href="#" class="c-btn c-btn--primary u-text-uppercase">Leer más</a>
                    </article>
                {{/repeat}}
            </main>
        </div>
        <div class="o-layout__columns">
            <form class="c-search-blog">
                <input type="text" class="c-input c-search-blog__input" placeholder="buscar">
                <button type="submit" class="c-search-blog__icon"><span class="c-icon-search"></span></button>
            </form>
            <div class="c-last-posts">
                <div class="c-last-posts__heading">Últimas Noticias</div>
                {{#repeat 5}}
                    <div class="c-last-posts__item">
                        <div class="c-last-posts__img">
                            <img src="https://dummyimage.com/150x100/ccc/999">
                        </div>
                        <div class="c-last-posts__box">
                            <div class="c-last-posts__title">Título de la noticia</div>
                            <div class="c-last-posts__date">21 abril 2017</div>
                        </div>
                    </div>
                {{/repeat}}
            </div>
        </div>
    </div>
</div>
