---
layout: default
pageTitle: Venta Ficha
---

<div class="c-parallax c-parallax--page js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x800/ccc/999">
    <div class="o-wrapper">
        <div class="c-title-page">
            <h1 class="c-heading c-heading--type-1"><span class="c-heading__thing">H1 Venta de pisos,</span> en palma centro</h1>
            <div class="c-title-page__box">
                <div class="c-line-separator c-line-separator--tiny"></div>
                <nav class="c-links o-box o-box--bottom-large">
                    <a href="#" class="c-links__item">Home</a>
                    <a href="#" class="c-links__item">Propiedades</a>
                    <a href="#" class="c-links__item">Palma</a>
                </nav>
            </div>
        </div>
    </div>
</div>

{{> flag}}

<section class="o-layout o-layout--top-xlarge o-wrapper">
    <div class="o-layout__row o-layout__row--cards o-layout__row--gallery">
        {{#repeat 9}}
            <!-- Bloque -->
            <div class="o-layout__columns c-gallery js-gallery">
                <a href="https://dummyimage.com/1920x1080/ccc/999" class="c-gallery__link">
                    <picture class="c-gallery__item">
                        <source srcset="https://dummyimage.com/420x260/ccc/999" media="(min-width: 1200px)">
                        <source srcset="https://dummyimage.com/480x300/ccc/999" media="(min-width: 768px)">
                        <source srcset="https://dummyimage.com/768x350/ccc/999" media="(min-width: 480px)">
                        <source srcset="https://dummyimage.com/480x300/ccc/999">
                        <img srcset="https://dummyimage.com/480x300/ccc/999" alt="Mallorca Mietboerse">
                    </picture>
                </a>
            </div>
            <!-- Fin Bloque -->
        {{/repeat}}
    </div>
</section>

<section class="o-layout o-layout--large o-wrapper">
    <div class="o-layout__row o-layout__row--half">
        <div class="o-layout__columns">
            <div class="c-card">
                <div class="c-card__wrap">
                    <div class="c-card__box">
                        <div class="c-card__title">
                            <h2 class="c-heading">Detalles de la vivienda</h2>
                        </div>
                        <div class="c-card__code">1502VA17</div>
                    </div>
                </div>
            </div>
            <div class="c-card">
                <div class="c-card__wrap">
                    <div class="c-card__box">
                        <div class="c-card__title c-card__title--theme-2">
                            <div class="c-card__price c-card__price--theme-2">215.000€</div>
                            <div class="c-card__icons c-card__icons--theme-2">
                                <div class="c-card__icon"><span class="c-icon-location"></span> 250m</div>
                                <div class="c-card__icon"><span class="c-icon-bed"></span> 3</div>
                                <div class="c-card__icon"><span class="c-icon-ducha"></span> 2</div>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sequi nobis ipsa harum culpa neque architecto rem ducimus eligendi, numquam incidunt vel unde minima quidem. Possimus aliquam ex, a beatae?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sequi nobis ipsa harum culpa neque architecto rem ducimus eligendi, numquam incidunt vel unde minima quidem. Possimus aliquam ex, a beatae?</p>
                        <div class="c-buttons o-box o-box--top o-box--bottom-xlarge">
                            <a href="#" class="c-btn c-btn--primary c-btn--favorite u-text-uppercase">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 471.701 471.701" style="enable-background:new 0 0 471.701 471.701;" xml:space="preserve" width="15px" height="15px">
                                <g>
                                	<path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1   c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3   l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4   C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3   s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4   c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3   C444.801,187.101,434.001,213.101,414.401,232.701z" fill="#FFFFFF"/>
                                </g>
                                </svg>
                                <span>Añadir a favoritos</span>
                            </a>
                        </div>
                    </div>
                    <nav class="c-links o-box o-box--top-small o-box--bottom-large">
                        <a href="#" class="c-links__item">Vivienda Anterior</a>
                        <a href="#" class="c-links__item">Siguiente Vivienda</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="o-layout__columns">
            <div class="c-card">
                <div class="c-card__wrap">
                    <div class="c-card__box">
                        <div class="c-card__title">
                            <h2 class="c-heading">Socilite más información</h2>
                        </div>
                    </div>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur hic vel omnis autem ex perferendis quidem quae delectus ab ipsa. Minus, temporibus natus ad veniam vero possimus. Earum, ut quibusdam!</p>
            <form class="c-contact-form">
                <div class="c-contact-form__item"><input type="text" class="c-input" placeholder="Name"></div>
                <div class="c-contact-form__item"><input type="text" class="c-input" placeholder="Teléfono"></div>
                <div class="c-contact-form__item"><input type="email" class="c-input" placeholder="Email"></div>
                <div class="c-contact-form__item"><input type="email" class="c-input" placeholder="Referencia" value="1502VA17"></div>
                <div class="c-contact-form__item"><textarea class="c-textarea" placeholder="Mensaje"></textarea></div>
                <div class="c-contact-form__item">
                    <div class="c-checkbox">
                        <input id="check" type="checkbox" name="politica">
                        <label for="check" class="js-toggle-trigger" data-toggle-target="#hide1" data-toggle-class="is-active">I have read and I accept the data protection law</label>
                    </div>
                </div>
                <div class="c-contact-form__item u-text-right">
                    <button type="submit" class="c-btn c-btn--tertiary u-text-uppercase">Send Email</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="o-layout o-wrapper u-position-relative">
    <h2 class="c-heading c-heading--type-1 c-heading--skin-1"><span class="c-heading__thing">Búsquedas</span> Relacionadas</h2>
    <div class="c-line-separator c-line-separator--small"></div>
    <div class="o-layout__row o-layout__row--cards">
        {{#repeat 3}}
            <!-- Bloque -->
            <div class="o-layout__columns">
                {{> card}}
            </div>
            <!-- Fin Bloque -->
        {{/repeat}}
    </div>
    <div class="o-layout o-layout--large u-text-center">
        <a href="#" class="c-btn c-btn--primary u-text-uppercase">View More</a>
    </div>
</section>