---
layout: default
pageTitle: Venta
---

<div class="c-parallax c-parallax--page js-parallax" data-parallax="scroll" data-image-src="https://dummyimage.com/1920x800/ccc/999">
    <div class="o-wrapper">
        <div class="c-title-page">
            <h1 class="c-heading c-heading--type-1"><span class="c-heading__thing">H1 Venta de pisos,</span> en palma centro</h1>
            <div class="c-title-page__box">
                <div class="c-line-separator c-line-separator--tiny"></div>
                <nav class="c-links o-box o-box--bottom-large">
                    <a href="#" class="c-links__item">Home</a>
                    <a href="#" class="c-links__item">Propiedades</a>
                    <a href="#" class="c-links__item">Palma</a>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="o-layout o-layout--top o-wrapper">
    {{> search class="c-search--secondary"}}
</section>

<section class="o-layout o-wrapper">
    <h2 class="c-heading"><span class="c-heading__thing">H2 Venta de pisos,</span> en palma centro 36 resultados</h2>
    <div class="c-sort o-box o-box--bottom-large">
        <div class="c-line-separator c-line-separator--tiny"></div>
        <div class="c-sort__box">
            <a href="#" class="c-sort__icon js-card-view">{{> svg-view}}</a>
            <div class="c-sort__text">Ordenar</div>
            <div class="c-select">
                <select class="c-select__element">
                    <option>Precio</option>
                </select>
                <span class="c-select__icon">
                    <span class="c-icon-arrow-bottom"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="o-layout__row o-layout__row--cards o-layout__row--alt-view">
        {{#repeat 9}}
            <!-- Bloque -->
            <div class="o-layout__columns">
                {{> card theme2="true"}}
            </div>
            <!-- Fin Bloque -->
        {{/repeat}}
    </div>

    <div class="o-layout o-layout--large u-text-center">
        <a href="#" class="c-btn c-btn--primary u-text-uppercase">View More</a>
    </div>
</section>