.o-layout {
    $parent: &;

    display: block;

    padding-top: map-get($o-layout-paddings, default);
    padding-bottom: map-get($o-layout-paddings, default);

    @each $name, $padding in map-remove($o-layout-paddings, default) {
        &--#{$name} {
            padding-top: #{$padding};
            padding-bottom: #{$padding};
        }
    }

    &--top {
        padding-top: map-get($o-layout-paddings, default);
        padding-bottom: 0;

        @each $name, $padding in map-remove($o-layout-paddings, default) {
            &-#{$name} {
                padding-top: #{$padding};
            }
        }
    }

    &--bottom {
        padding-top: 0;
        padding-bottom: map-get($o-layout-paddings, default);

        @each $name, $padding in map-remove($o-layout-paddings, default) {
            &-#{$name} {
                padding-bottom: #{$padding};
            }
        }
    }

    &__row {

        &--footer {
            @include breakpoint(large) {
                display: flex;
                margin-left: -20px;
                margin-right: -20px;
            }

            #{$parent} {
                &__columns {
                    text-align: center;
                    &:not(:last-child) {
                        padding-bottom: 50px;
                    }

                    @include breakpoint(large) {
                        padding-left: 20px;
                        padding-right: 20px;
                        width: 33.3334%;
                        
                        &:not(:last-child) {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }

        &--half {
            margin-bottom: -60px;
            @include breakpoint(medium) {
                display: flex;
                flex-wrap: wrap;
                margin-left: -20px;
                margin-right: -20px;
            }
            #{$parent} {
                &__columns {
                    padding-bottom: 60px;
                    @include breakpoint(medium) {
                        position: relative;
                        width: 50%;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }

        &--ziwa {
            @include breakpoint(medium) {
                display: flex;
            }

            #{$parent} {
                &__columns {
                    &:nth-child(1) {
                        @include breakpoint(medium) {
                            width: 70%;
                            padding-right: 15px;
                        }

                        .c-number {
                            @include breakpoint(medium down) {
                                display: none;
                            }
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(medium down) {
                            text-align: center;
                        }

                        @include breakpoint(medium) {
                            padding-left: 15px;
                            img {
                                margin-top: -20px;
                            }
                        }
                    }
                }
            }
        }

        &--blog {
            @include breakpoint(medium) {
                display: flex;
                flex-wrap: wrap;
                margin-left: -15px;
                margin-right: -15px;
                margin-bottom: -30px;
            }

            #{$parent} {
                &__columns {
                    padding-bottom: 30px;
                    @include breakpoint(medium) {
                        width: 50%;
                        padding-left: 15px;
                        padding-right: 15px;
                    }

                    @include breakpoint(large) {
                        width: 25%;
                    }
                }
            }
        }
    }
}