.o-box {
    display: block;

    &--all {
        padding: map-get($o-box-paddings, default);
    }

    &--top {
        padding-top: map-get($o-box-paddings, default);

        @each $name, $padding in map-remove($o-box-paddings, default) {
            &-#{$name} {
                padding-top: #{$padding};
            }
        }
    }

    &--right {
        padding-right: map-get($o-box-paddings, default);

        @each $name, $padding in map-remove($o-box-paddings, default) {
            &-#{$name} {
                padding-right: #{$padding};
            }
        }
    }

    &--bottom {
        padding-bottom: map-get($o-box-paddings, default);

        @each $name, $padding in map-remove($o-box-paddings, default) {
            &-#{$name} {
                padding-bottom: #{$padding};
            }
        }
    }

    &--left {
        padding-left: map-get($o-box-paddings, default);

        @each $name, $padding in map-remove($o-box-paddings, default) {
            &-#{$name} {
                padding-left: #{$padding};
            }
        }
    }
}