.o-wrapper {
    width: 100%;
    max-width: $global-wrapper-width;
    margin-right: auto;
    margin-left:  auto;
    padding-right: $global-wrapper-padding;
    padding-left: $global-wrapper-padding;

    &--medium {
        max-width: 980px;
    }
}