<!DOCTYPE html>
<html lang="es">
<head>
    {{> head}}
</head>
<body class="c-body">
    {{> header}}

    <div class="sticky-container">
        {{> body}}
    </div>
    
    {{> footer}}

    {{> scripts}}
</body>
</html>


