/* =============================================================================
RESET
============================================================================= */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin:  0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

/**
* Hace las imagenes responsive
**/

img {
    max-width: 100%;
    height: auto;
}

/**
* Eliminar el espacio por defecto de las tablas
**/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
* 1. Restablecer el comportamiento en Chrome y Firefox que establece un `min-width: min-content;`
* en los fieldsets.
**/

fieldset {
  min-width: 0; /* [1] */
  border: 0;
}
