<!DOCTYPE html>
<html lang="es">
<head>
    {{> head}}
    <link rel="stylesheet" href="{{root}}assets/css/documentation.css">
</head>
<body>

    {{> body}}

    {{> scripts}}
    <script src="{{root}}assets/js/documentation.min.js" charset="utf-8"></script>
</body>
</html>


