/* ==========================================================================
   #LATEST POSTS
   ========================================================================== */


.c-latest-posts {

  &__item {
    display: flex;
    padding-bottom: 10px;
    color: inherit;
    text-decoration: none;
  }

  &__img {
    width: 90px;
    min-width: 90px;
  }

  &__box {
    flex-grow: 1;
    padding-left: 10px;
    min-width: 0;
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: $color-primary;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__text {
    font-size: 14px;
  }

}