/* ==========================================================================
   #CONTACT
   ========================================================================== */


.c-contact {
  margin-top: 50px;

  @include breakpoint(medium) {
    @include grid(40px);
  }

  &__col {
    margin-bottom: 50px;

    @include breakpoint(medium) {
      margin-bottom: 0;

      &:nth-child(1) {
        @include grid-col(3, $gutter: 40px);
      }

      &:nth-child(2) {
        @include grid-col(9, $gutter: 40px);
      }

    }

  }

}