/* ==========================================================================
   #CONTACT FORM
   ========================================================================== */


.c-contact-form {

  @include breakpoint(large) {
    @include grid($gutter: 20px);
  }

  &__col {
    @include breakpoint(large) {
      @include breakpoint(large) {
        @include grid-col(6, $gutter: 20px);
      }
    }
  }

  &__item {
    padding-bottom: 15px;
  }

}