/* ==========================================================================
   #FORMS
   ========================================================================== */


/* Input
   ========================================================================== */

.c-input {

  @include breakpoint(large) {
    display: flex;
    align-items: center;
  }

  &__label {
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
    color: $color-primary;

    @include breakpoint(large) {
      padding-right: 15px;
      min-width: 100px;
    }

  }

  &__wrap {
    @include breakpoint(large) {
      flex-grow: 1;
    }
  }

  &__element {
    border: 1px solid $color-primary;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    font-size: 16px;
    color: $color-primary;
    outline: none;
    width: 100%;

    &::placeholder {
      color: $color-primary;
    }

  }

}

/* Textarea
   ========================================================================== */

.c-textarea {

  &__element{
    border: 1px solid $color-primary;
    background-color: transparent;
    padding: 15px;
    min-height: 150px;
    font-size: 16px;
    color: $color-primary;
    outline: none;
    width: 100%;

    &::placeholder {
      color: $color-primary;
    }
  }

}


/* Checkbox
   ========================================================================== */

.c-checkbox {
  display: block;
  cursor: pointer;
  padding-right: 15px;

  &.is-active,
  &:active,
  &:focus,
  &:hover {
    label::before {
      content: "✓";
      transition: all 0.3s;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    display: none;
  }

  label {
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    padding-left: 25px;
    z-index: 1;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: inherit;

    span {
      margin-left: 5px;
      color: $color-primary;
    }
  }

  label:before {
    transition: all 0.3s;
    content: "";
    background: transparent;
    box-shadow: none;
    height: 15px;
    width: 15px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 2px;
    left: 0;
    color: rgba(#fff, 0.6);
    font-size: 12px;
    background-color: $color-primary;
  }

  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "✓";
    color: #fff;
  }

  &--radio {
    label:before {
      border-radius: 50%;
      transition: none;
    }

    &.is-active,
    &:active,
    &:focus,
    &:hover {
      label:before {
        content: "";
        background: $color-primary;
        border-radius: 50%;
        box-shadow: inset 0 0 0 3px #fff;
        transition: none;
      }
    }

    input[type=checkbox]:checked + label:before,
    input[type=radio]:checked + label:before {
      content: "";
      background: $color-primary;
      border-radius: 50%;
      box-shadow: inset 0 0 0 3px white;
    }
  }
}