/* ==========================================================================
   #SERVICE DETAILS
   ========================================================================== */


.c-service-details {

  &__img {
    display: block;
  }

  &__columns {
    @include breakpoint(medium) {
      @include grid($gutter: 20px);
    }
  }

  &__col {
    padding-bottom: 30px;
    @include breakpoint(medium) {
      @include grid-col(6, $gutter: 20px);
    }
  }

  &__thumbs {
    display: flex;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  &__thumbs-item {
    &:not(:first-child) {
      padding-left: 5px;
    }
  }

  &__box {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    background-color: #fff;
    color: $color-primary;

    @include breakpoint(medium) {
      margin-top: -85px;
      margin-right: 20px;
    }

  }

}