/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-main-header {
    border-bottom: 1px solid $color-complementary-1;

  &__wrap {
    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint(large down) {
      padding-top: 16px;
      padding-bottom: 20px;
    }

  }

  &__logo {

  }

  &__toggle {

    @include breakpoint(large) {
      display: none;
    }

  }

  &__nav {
    @include breakpoint(large down) {
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      display: none;
      z-index: 1000;
    }

    &.is-active {
      display: flex;
    }

  }

  &__list {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-left: 0;
    list-style: none;

    @include breakpoint(large) {
        display: flex;
    }

  }

  &__item {
    text-align: center;

    @include breakpoint(large down) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @include breakpoint(large) {
        padding-left: 15px;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:nth-last-child(2)) {
          padding-right: 15px;
        }

    }

    &--close {
      position: relative;
      @include breakpoint(large down) {
        padding-top: 20px;
        margin-top: 8px;
      }

      @include breakpoint(large) {
        display: none;
      }

      &::before {
        content: "";
        width: 50px;
        height: 2px;
        background-color: $color-complementary-1;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }

    }

  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-default;
    position: relative;

    @include breakpoint(large) {
      padding-top: 30px;
      padding-bottom: 30px;
      transition: all .3s;

      &::before {
        content: "";
        width: 0;
        height: 2px;
        background-color: $color-primary;
        position: absolute;
        left: 50%;
        bottom: -1px;
        transition: all .3s;
        transform: translateX(-50%);
      }

    }

    &.is-active,
    &:active,
    &:focus,
    &:hover {
      color: $color-primary;

      @include breakpoint(large) {
        transition: all .3s;

        &::before {
          transition: all .3s;
          width: 100%;
        }

      }

    }

  }

}
