/* ==========================================================================
   #MOSAIC
   ========================================================================== */


.c-mosaic {

  &__wrap {
    @include breakpoint(medium) {
      @include grid();
    }
  }

  &__item {
    @include breakpoint(medium) {
      @include grid-col(6);
      display: flex;
    }
  }

}