/* ==========================================================================
   #POPUP
   ========================================================================== */


.c-popup {
  background-color: #fff;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;

  &__box {
    padding: 10px 20px 20px 20px;
  }

  &__title {
    margin-bottom: 5px;
    color: #444;
  }

  &__text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .mfp-close {
    top: -44px;
    right: 0;
    background-color: lighten($color-primary, 20%);
    color: #fff;
  }

}