/* ==========================================================================
   #TEXT ICON
   ========================================================================== */


.c-text-icon {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: inherit;

  &--middle {
    align-items: center;
  }

  &--tiny {
    font-size: 11px;
  }

  &--white {
    color: #fff;
  }

  &--block {
    display: flex;
  }

  &__text {
    margin-left: 15px;

    &--tiny {
      margin-left: 8px;
    }

    &--space {
      margin-top: 3px;
    }

  }

  &__icon {
    margin-top: 2px;
    font-size: 20px;

    &--tiny {
      font-size: 15px;
    }

  }

}