/* ==========================================================================
   #SERVICE
   ========================================================================== */


.c-service {
  background-position: center;
  background-size: cover;
  display: block;
  @include aspect-ratio(16,12);
  position: relative;

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: block;
    z-index: 1;
    transition: all .3s;
  }

  &.is-active,
  &:active,
  &:focus,
  &:hover {

    &::after {
      background-color: rgba($color-primary, 0.7);
      transition: all .3s;
    }

  }

  &__box {
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }

}