/* ==========================================================================
   #LIST
   ========================================================================== */


.c-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  color: $color-default;

  &__item {
    padding-bottom: 15px;

    &--big {
      padding-bottom: 30px;
    }

    [class*=" c-icon-"],
    [class^="c-icon-"] {
      color: $color-primary;
    }

    &:last-child {
      padding-bottom: 0;
    }

  }

}