.c-gallery {
  $this: &;

  &__wrap {
    overflow: hidden;

    @include breakpoint(medium) {
       @include grid;
    }

  }

  &__item {
    position: relative;
    display: block;
    text-decoration: none;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;

    @include breakpoint(medium) {
       @include grid-col(6);
    }

    @include breakpoint(large) {
       @include grid-col(4);
    }

    @include breakpoint(xlarge) {
       @include grid-col(3);
    }

    &:active,
    &:focus,
    &:hover {
      #{$this} {
        &__box {
          opacity: 1;
          transition: all .3s;
        }
      }
    }

    &.is-active {
      display: block;
    }

  }

  &__img {
    background-position: center;
    background-size: cover;

    @include breakpoint(medium down) {
       @include aspect-ratio(4,3, $img: false);
    }

    @include breakpoint(medium) {
       @include aspect-ratio(16, 12, $img: false);
    }

  }

  &__box {
    background-color: rgba($color-primary, 0.7);
    text-align: center;
    padding: 10px 20px 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s;
  }

  &__category {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &__title {
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

}
