/* ==========================================================================
   #MAP
   ========================================================================== */


.c-map {
    position: relative;

    &::before {
        background-color: rgba(0,0,0,0.5);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    a {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 3;
        transform: translate(-50%,-50%);
    }

    &__ele {
        position: relative;
        z-index: 1;
        height: 300px;

        @include breakpoint(medium) {
          height: 600px;
        }
    }

    &.is-active {
        &::before,
        a {
            display: none;
        }
    }
}