/* ==========================================================================
   #CARD ONE
   ========================================================================== */


.c-card-one {
  $this: &;

  position: relative;

  @include breakpoint(medium large) {
    flex-direction: column;
    display: flex;
  }

  @include breakpoint(large) {
    display: flex;
  }

  &__img {
    @include aspect-ratio(550, 370, $img: false);
    background-position: center;
    background-size: cover;
    min-width: 50%;
  }

  &__box {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    color: $color-primary;

    @include breakpoint(medium large) {
      flex-grow: 1;
    }

    &--primary {
      background-color: $color-primary;
      color: #fff;
    }

  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 0;
  }

  &--v2 {
    @include breakpoint(large) {
      width: 100%;
      #{$this} {

        &__img {
          width: 100%;
        }

        &__box {
          position: absolute;
          left: 20px;
          bottom: 20px;
          background-color: #fff;
          width: 290px;

          &--alt {
            left: auto;
            bottom: auto;
            top: 20px;
            right: 20px;
          }

        }

      }

    }
  }

}