/* ==========================================================================
   #POST
   ========================================================================== */


.c-card {
  display: block;

  @include breakpoint(large) {
    padding-right: 70px;
    padding-bottom: 70px;
    position: relative;
  }

  &__img {
    display: block;
    margin-bottom: 10px;
  }

  &__box {
    color: $color-primary;

    @include breakpoint(large) {
      background-color: #fff;
      padding: 15px 20px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      max-width: 260px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }

  &__title {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {

  }

}