/* ==========================================================================
   #HOUSE
   ========================================================================== */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 lighten($color-primary, 30%);
  }

  25% {
    box-shadow: 0 0 0 15px rgba($color-primary, 0);
  }

  50% {
    box-shadow: 0 0 0 0 rgba($color-primary, 0);
  }
}


.c-house {
  background-color: #e0e0e0;
  padding-bottom: 40px;
  padding-top: 30px;

  &__wrap {
    max-width: 723px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  &__img {

  }

  &__link {
    position: absolute;
    padding: 3px;
    border: 1px solid $color-primary;
    border-radius: 50%;
    text-decoration: none;
    transition: all .3s;
    outline: none;

    &.is-active,
    &:active,
    &:focus,
    &:hover {
      background-color: lighten($color-primary, 30%);
      transition: all .3s;

      span {
        animation: none;
      }

    }

    @include breakpoint(small) {
      padding: 4px;
    }

    span {
      background-color: $color-primary;
      color: #fff;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 10px;
      box-shadow: 0 0 0 lighten($color-primary, 30%);
      animation: pulse 5s infinite;

      @include breakpoint(small) {
        font-size: 16px;
        height: 30px;
        width: 30px;
      }

    }

    &:nth-child(2) {
      top: 16%;
      left: 27%;
    }

    &:nth-child(3) {
      top: 20%;
      left: 60%;
    }

    &:nth-child(4) {
      top: 25%;
      left: 32%;
    }

    &:nth-child(5) {
      top: 35%;
      left: 55%;
    }

    &:nth-child(6) {
      top: 65%;
      left: 18%;
    }

    &:nth-child(7) {
      top: 66%;
      left: 89%;
    }

    &:nth-child(8) {
      top: 71%;
      left: 72%;
    }

    &:nth-child(9) {
      top: 79%;
      left: 81%;
    }

  }

}