/* =============================================================================
BUTTONS
============================================================================= */

/**
 * Clase para la estructura de los botones. Aquí no tienen que ir estilos
 * visuales, solo estructurales, para ellos crea un modificador.
 *
 * 1. Le pasamos el padding
 */

.c-btn {
    @include btn-base(10px 20px); /* [1] */
    color: $color-text;
    text-decoration: none;
    transition: all .3s;

    &--primary {
      color: #fff;
      background-color: $color-primary;
    }

    &--secondary {
      color: $color-primary;
      background-color: #fff;
    }

    &.is-active,
    &:active,
    &:focus,
    &:hover {
      color: #fff;
      background-color: darken($color-primary, 5%);
      transition: all .3s;
    }

}