/* ==========================================================================
   #TOP BAR
   ========================================================================== */


.c-top-bar {
  background-color: $color-primary;
  padding-top: 5px;
  padding-bottom: 5px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 15px;
      padding-right: 15px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 15px;
        width: 1px;
        background-color: rgba(#fff, 0.5);
        top: 50%;
        right: 0.5px;
        transform: translateY(-50%);
      }

    }

  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }
}