[class*=" c-icon-"],
[class^="c-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-arrow-left {
  &:before {
    content: $c-icon-arrow-left;
  }
}

.c-icon-arrow-right {
  &:before {
    content: $c-icon-arrow-right;
  }
}

.c-icon-check {
  &:before {
    content: $c-icon-check;
  }
}

.c-icon-cross {
  &:before {
    content: $c-icon-cross;
  }
}

.c-icon-email {
  &:before {
    content: $c-icon-email;
  }
}

.c-icon-facebook {
  &:before {
    content: $c-icon-facebook;
  }
}

.c-icon-imagotipo-right {
  &:before {
    content: $c-icon-imagotipo-right;
  }
}

.c-icon-imagotipo {
  &:before {
    content: $c-icon-imagotipo;
  }
}

.c-icon-location {
  &:before {
    content: $c-icon-location;
  }
}

.c-icon-pdf {
  &:before {
    content: $c-icon-pdf;
  }
}

.c-icon-phone {
  &:before {
    content: $c-icon-phone;
  }
}

.c-icon-refineria {
  &:before {
    content: $c-icon-refineria;
  }
}

.c-icon-twitter {
  &:before {
    content: $c-icon-twitter;
  }
}
