/* ==========================================================================
   #FILTERS
   ========================================================================== */


.c-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {

    @include breakpoint(medium down) {
      font-size: 10px;
    }

  }

}