/* ==========================================================================
   #HEADINGS
   ========================================================================== */


.c-h1 {
  @include heading(30px, 1.4, inherit);

  &__icon {
    font-size: 25px;
  }

}


h1 {
  @extend .c-h1;
}


.c-h2 {
  @include heading(26px, 1.4, inherit);

  &__icon {
    font-size: 21px;
  }

}


h2 {
  @extend .c-h2;
}


.c-h3 {
  @include heading(24px, 1.4, inherit);

  &__icon {
    font-size: 19px;
  }

}


h3 {
  @extend .c-h3;
}


.c-h4 {
  @include heading(22px, 1.4, inherit);

  &__icon {
    font-size: 17px;
  }

}


h4 {
  @extend .c-h4;
}


.c-h5 {
  @include heading(20px, 1.4, inherit);

  &__icon {
    font-size: 15px;
  }

}


h5 {
  @extend .c-h5;
}


.c-h6 {
  @include heading(18px, 1.4, inherit);

  &__icon {
    font-size: 15px;
  }

}


h6 {
  @extend .c-h6;
}