/* ==========================================================================
   #BRANDS
   ========================================================================== */


.c-brands {

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    img {
      display: inline-block;
    }

  }

}