/* ==========================================================================
   #MAIN FOOTER
   ========================================================================== */


.c-main-footer {
  background-color: $color-complementary-2;

  &__wrap {

    @include breakpoint(medium) {
      @include grid($gutter: 20px);
    }

  }

  &__col {

    @include breakpoint(medium xlarge) {
      @include grid-col(6, $gutter: 20px);
    }

    @include breakpoint(xlarge) {
      @include grid-col(3, $gutter: 20px);
    }

  }

}