/* ==========================================================================
   #NEWSLETTER
   ========================================================================== */


.c-newsletter {
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: center;
  background-size: cover;
  color: $color-primary;

  &__box {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      max-width: 520px;
    }

  }

  &__item {
    padding-bottom: 10px;
    &:nth-child(1) {
      width: 100%;

      @include breakpoint(small) {
        width: 50%;
        padding-right: 5px;
      }

    }

    &:nth-child(2) {
      width: 100%;

      @include breakpoint(small) {
        width: 50%;
        padding-left: 5px;
      }

    }

    &:nth-child(3) {

    }

    &:nth-child(4) {
      width: 100%;
      text-align: right;
    }

  }

}