/* ==========================================================================
   #POSTS
   ========================================================================== */


.c-posts {
  $this: &;

  padding-bottom: 80px;
  margin-left: -20px;
  position: relative;

  @include breakpoint(large) {
    padding-bottom: 60px;
  }

  &__item {
    padding-left: 20px;
    text-decoration: none;
    color: inherit;
  }

  &__arrow {
    background-color: #666;
    position: absolute;
    bottom: 0;
    left: calc(50% + 10px);
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border: 0;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    appearance: none;

    @include breakpoint(large) {
      left: auto;
      right: 0;

      &.is-active,
      &:active,
      &:focus,
      &:hover {
        background-color: $color-primary;
        transition: all .3s;
      }

    }

    &--next {

      @include breakpoint(large down) {
        margin-left: 17px;
      }

    }

    &--prev {

      @include breakpoint(large down) {
        margin-left: -17px;
      }

      @include breakpoint(large) {
        right: 35px;
      }

    }

  }

  &--v2 {

    #{$this} {

      &__arrow {

        &--next {

          @include breakpoint(large) {
            right: -15px;
          }

        }

        &--prev {

          @include breakpoint(large) {
            right: 20px;
          }

        }

      }

    }

  }

}