/* ==========================================================================
   #SLIDER
   ========================================================================== */

.c-main-slider {

  &__item {
    text-align: center;
  }

  &__img {
    display: block;
    width: 100%;

    img {
      width: 100%;
      max-width: none;
    }

  }

  &__arrow {
    font-size: 40px;
    color: #fff;
    appearance: none;
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;
    padding: 0;
    transform: translateY(-50%);
    outline: none;
    cursor: pointer;

    &--next {
      left: auto;
      right: 10px;
    }

  }

  .slick-dots {
    bottom: 20px;

    li {
      margin: 0;
      padding: 0;

      &.slick-active {
        button {
          &:before {
            font-size: 12px;
            color: $color-primary;
          }

        }

      }

      button {
        &:before {
          color: rgba($color-primary, 0.8);
          font-size: 12px;
        }

      }

    }

  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

}
