/* ==========================================================================
   #COPY
   ========================================================================== */


.c-copy {
  background-color: #fff;
  border-top: 5px solid $color-primary;
  padding-top: 10px;
  padding-bottom: 10px;

  &__refineria {
    font-size: 30px;
    color: #808080;
    text-decoration: none;
  }

  &__wrap {
    text-align: center;

    @include breakpoint(medium) {
      display: flex;
      align-items: center;
    }

  }

  &__box {

    @include breakpoint(medium) {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }

  }

  &__link {
    color: inherit;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    @include breakpoint(medium) {
      padding-right: 30px;
      position: relative;

      &:not(:last-child) {

        &::before {
          content: "";
          height: 15px;
          width: 1px;
          background-color: #ccc;
          position: absolute;
          right: 14px;
          top: 50%;
          transform: translateY(-50%);
        }

      }

    }

  }

}