.c-btn {
    display: inline-block;
    text-transform: uppercase;
    color: $color-default;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid $color-default;
    min-width: 150px;
    text-align: center;
    transition: all .3s;
    font-weight: 300;
    background: none;

    &.is-active,
    &:active,
    &:focus,
    &:hover {
        background-color: $color-primary;
        border-color: $color-primary;
        color: #fff;
        transition: all .3s;
    }

    &--white {
        color: #fff;
        border-color: #fff;
    }
}