.c-heading {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
    letter-spacing: 8px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;

    @include breakpoint(small) {
        font-size: 50px;
    }

    &::before {
        content: "";
        display: block;
        height: 2px;
        width: 70px;
        background-color: $color-primary;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__text {
        text-transform: none;
        font-size: 22px;
        letter-spacing: 0;
        display: block;
        color: $color-text;
        letter-spacing: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &--type-2 {
        font-size: 25px;
        letter-spacing: 4px;

        @include breakpoint(small) {
            font-size: 30px;
        }
    }

    &--type-3 {
        font-size: 20px;
        letter-spacing: 3px;

        @include breakpoint(small) {
            font-size: 22px;
        }
    }

    &--type-4 {
        font-size: 16px;
        letter-spacing: 3px;
        
        @include breakpoint(small) {
            font-size: 16px;
        }
    }

    &--not-detail {
        &::before {
            display: none;
        }
    }
}