.c-block-map {
    position: relative;
    margin-top: 70px;

    @include breakpoint(large) {
        margin-top: 110px;
    }

    &::before {
        background-color: rgba(0,0,0,0.5);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    a {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 3;
        transform: translate(-50%,-50%);
    }

    .c-map {
        position: relative;
        z-index: 1;
    }

    &.is-active {
        &::before,
        a {
            display: none;
        }
    }
}