.c-link2 {
    color: $color-default;
    text-decoration: none;
    &.is-active,
    &:active,
    &:focus,
    &:hover {
        text-decoration: underline;
    }

    &--type-2 {
        font-size: 14px;
    }
}