.c-banner {
    &__wrap {
        overflow: hidden;
        position: relative;
        min-height: 540px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &::before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 3;
        }

        img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            z-index: 2;
        }
    }

    &__text {
        text-align: center;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 4;

        .c-btn {
            margin-top: 30px;
        }
    }
}