.c-hero-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;

    @include breakpoint(small) {
        font-size: 55px;
    }


    span {
        font-weight: 300;
        display: block;
        font-size: 24px;
        margin-bottom: 5px;

        @include breakpoint(small) {
            font-size: 38px;
        }
    }

    &--white {
        color: #fff;
    }
}