.c-footer2 {
    color: #fff;

	&__wrap {

	}

	&__address {
        font-style: normal;
        font-weight: 300;

        p {
            margin-bottom: 0;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        a {
            color: #fff;
            text-decoration: none;

            @include breakpoint(small down) {
                font-size: 14px;
            }

            &.is-active,
            &:active,
            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
	}

	&__logo {
        img {
            width: 100%;
            max-width: 200px;
            margin-bottom: 20px;
        }
	}

	&__copy {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

        @include breakpoint(large) {
            justify-content: flex-start;
            text-align: center;
        }
        a {
            margin-right: 10px;
            min-width: 20px;
        }
	}

	&__box {
        a {
            display: block;
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
	}
}
