/* ==========================================================================
   #FORMS
   ========================================================================== */


.c-input {
    &__element {
        border: 1px solid #ccc;
        width: 100%;
        height: 45px;
        padding-left: 20px;
        padding-right: 20px;
        outline: none;

        &::placeholder {
            color: #ccc;
        }
    }
}

.c-textarea {
    &__element {
        border: 1px solid #ccc;
        width: 100%;
        min-height: 150px;
        padding: 20px;
        outline: none;

        &::placeholder {
            color: #ccc;
        }
    }
}