.c-post {
    display: flex;
    flex-direction: column;
    height: 100%;

	&__img {

	}

	&__title {
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 15px;
	}

	&__date {
        text-transform: uppercase;
        color: #bbbacc;
        font-size: 12px;
        margin-bottom: 15px;
	}

	&__box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
	}

	&__text {
        font-size: 12px;
        color: #6b6669;
        flex-grow: 1;
	}

    &--type-2 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 40px;
    }
}
