$c-header-height: 109px !default;

.c-header {
    $parent: &;
    background-color: rgba(#fff, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #ccc;

    &--black {
        background-color: #000;
        border-color: #000;

        .c-hamburger {
            .c-hamburger__line {
                background-color: #fff;
            }
        }
    }

	&__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
	}

	&__logo {
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;

        .c-logo {
            @include breakpoint(large) {
                margin-bottom: 14px;
            }
        }

        // picture {
        //     display: none;
        //
        //     &:first-child {
        //         display: block;
        //     }
        // }

        // &--home {
        //     picture {
        //         &:first-child {
        //             display: none;
        //         }
        //
        //         &:last-child {
        //             display: block;
        //         }
        //     }
        //
        //     #{$parent}__h1{
        //         color: rgba(#fff, 0.7);
        //     }
        // }
	}

    &__h1 {
        position: absolute;
        color: rgba($color-default, 0.7);
        font-weight: 300;
        font-size: 10px;
        text-align: center;
        width: 100%;
        left: 0;
        bottom: 10px;

        @include breakpoint(large down) {
            bottom: 22px;
            padding-left: 20px;
        }
    }

	&__nav {
        @include breakpoint(large down) {
            display: none;
            width: 100%;
            border-top: 1px solid #ccc;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;

            &.is-active {
                display: block;
            }
        }
	}

	&__list {
        list-style: none;
        margin: 0;
        padding: 0;

        @include breakpoint(large) {
            display: flex;
        }
	}

	&__item {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;

        &:last-child {
            @include breakpoint(large) {
                padding-right: 0;
            }
        }

        &.has-submenu {
            #{$parent} {
                &__link {
                    position: relative;
                    &::after{
                        content: "";
                        @include css-triangle('bottom', #fff, 4px);
                        display: inline-block;
                        margin-left: 3px;
                        margin-bottom: 3px;

                        #{$parent}:not(#{$parent}--black) & {
                            @include css-triangle('bottom', #000, 4px);
                        }
                    }
                }
            }
        }

        &--langs {
            > #{$parent} {
                @include breakpoint(large down) {
                    &__link {
                        display: none;
                    }
                }
            }

        }
	}

	&__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-default;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        position: relative;

        #{$parent}--black & {
            color: #fff;
        }

        @include breakpoint(large) {
            min-height: $c-header-height;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include breakpoint(large) {
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 5px;
                background-color: $color-primary;
                transition: all .3s;
                transform: translateX(-50%);
            }

            &.is-active,
            &:active,
            &:focus,
            &:hover {
                &::before {
                    width: 100%;
                    transition: all .3s;
                }
            }
        }
	}

	&__submenu {
        list-style: none;
        margin: 0;
        padding: 0;

        @include breakpoint(large down) {
            display: flex;
            justify-content: center;
            position: relative;
            padding-top: 30px;

            &::before {
                content: "";
                height: 1px;
                width: 50px;
                position: absolute;
                left: 50%;
                top: 14px;
                background-color: #ccc;
                transform: translateX(-50%);
            }
        }

        @include breakpoint(large) {
            position: absolute;
            right: 0;
            top: $c-header-height;
            background-color: rgba(#fff, 0.8);
            display: none;

            #{$parent}--black & {
                background-color: #000;
            }

            &.is-active {
                display: block;
            }
        }
	}

	&__submenu-item {
        @include breakpoint(large down) {
            padding-left: 10px;
            padding-right: 10px;
        }
	}

	&__submenu-link {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-default;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;

        #{$parent}--black & {
            color: #fff;
        }

        @include breakpoint(large) {
            padding-left: 30px;
            padding-right: 30px;
            display: block;
            text-align: center;
            transition: all .3s;

            &.is-active,
            &:active,
            &:focus,
            &:hover {
                color: #fff;
                background-color: $color-primary;
                transition: all .3s;
            }
        }
	}

    .c-hamburger {
        @include breakpoint(large) {
            display: none;
        }
    }
}
