.c-card {
    display: flex;
    flex-direction: column;
    height: 100%;

	&__img {

	}

	&__box {
        background-color: #fff;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @include breakpoint(small) {
            padding-left: 40px;
            padding-right: 40px;
        }
	}

    &__text {
        flex-grow: 1;
    }
}
