.c-footer {
    position: relative;
    overflow: hidden;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 100vh;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &::before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.5);
            z-index: 3;
        }

        img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            z-index: 2;
        }
    }

    &__contact {
        position: relative;
        z-index: 4;
        text-align: center;
    }

    &__logo {
        margin-bottom: 30px;
        img {
            min-width: 200px;

            @include breakpoint(small) {
                min-width: 320px;
            }
        }
    }

    &__box {
        width: 100%;
        position: relative;
        z-index: 4;
        align-self: flex-end;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint(small) {
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        a{
            padding: 10px;

            @include breakpoint(600px) {
                padding-left: 40px;
                padding-right: 40px;

                &:first-child {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
    }

    &__copy {
        width: 100%;
        position: relative;
        z-index: 4;
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 14px;
        justify-content: center;
        align-self: flex-end;
        margin-top: 30px;

        a{
            text-decoration: none;
            margin-right: 10px;
        }
    }
}