.c-link {
    text-transform: uppercase;
    color: $color-primary;
    text-decoration: none;
    letter-spacing: 2px;
    &.is-active,
    &:active,
    &:focus,
    &:hover {
        text-decoration: underline;
    }
}