/* ==========================================================================
   #CONTACT FORM
   ========================================================================== */


.c-contact-form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    &__box {
        padding-bottom: 30px;

        &--btn {
            text-align: right;
            justify-content: flex-end;
        }

        // @include breakpoint(medium) {
        //     display: flex;
        // }
    }

    &__label {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 30px;
        position: relative;

        // @include breakpoint(medium) {
        //     margin-right: 20px;
        //     min-width: 150px;
        //     margin-top: 15px;
        // }

        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 0;
            width: 20px;
            height: 2px;
            background-color: $color-primary;
        }
    }

    &__input {
        // @include breakpoint(medium) {
        //     flex-grow: 1;
        // }
    }
}