@keyframes mouse {
	0%   {bottom: 20px;}
    25%  {bottom: 40px;}
    50%  {bottom: 20px;}
    75%  {bottom: 40px;}
    100% {bottom: 20px;}
}

.c-intro {
	$parent: &;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 3;
		background-image: url(../img/pattern-slider.png);
		background-repeat: repeat;
		background-color: rgba(0,0,0,0.1);
	}

	&__img {
        @include breakpoint(1200px) {
            display: none;
        }
	}

	&__play {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		text-transform: uppercase;
		z-index: 4;
		text-decoration: none;
		letter-spacing: 4px;
		font-size: 12px;
		font-weight: 500;
		display: flex;
		flex-direction: column;
		align-items: center;
		outline: none;

		&-icon {
			height: 60px;
			width: 60px;
			display: block;
			border: 5px solid #fff;
			border-radius: 50%;
			position: relative;
			margin-bottom: 20px;

			&::before {
				transition: all .3s;
				border-top: 12px solid transparent;
		        border-bottom: 12px solid transparent;
		        border-left: 16px solid #fff;
				margin-left: 2px;
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&-btn {
			transition: all .3s;
			padding: 10px 20px;
		}

		&.is-active,
		&:active,
		&:focus,
		&:hover {
			.c-intro__play-btn {
				background-color: $color-primary;
				transition: all .3s;
			}
		}
	}

	&__mouse {
		position: absolute;
		left: 50%;
		bottom: 20px;
		z-index: 5;
		transform: translateX(-50%);
		animation: mouse 4s infinite;
	 	animation-timing-function: ease-in-out;
		max-width: 20px;
		cursor: none;
		pointer-events: none;
		@include breakpoint(small) {
			max-width: 25px;
		}
	}

    .c-video {
        display: none;
        @include breakpoint(1200px) {
            display: block;
        }
    }

	&--type-2 {
		&::before {
			display: none;
		}

		#{$parent} {
			&__img {
				@include breakpoint(1200px) {
					position: relative;
					display: block;
					overflow: hidden;

					@include aspect-ratio(1920px, 1080px);
					max-height: 100vh;

			        img {
			            position: absolute;
			            min-width: 100%;
			            min-height: 100%;
			            object-fit: cover;
			            z-index: 2;
			            left: 0;
			            top: 0;
			            right: 0;
			            bottom: 0;
			        }
				}
			}
		}
	}
}