/* =============================================================================
BODY
============================================================================= */

body {
    font-size: $global-font-size;
    font-family: $font-primary;
    color: $color-text;
}